[2020-10-15 23:51] utx0 opened #77 "CLI: add-liquidity doesnt appear to be adding liquidity to the pool"
Reproduce:

Branch: `feature/cli`

[code]

[2020-10-16 04:18] #77 closed, assigned to nobody

[2020-10-27 00:11] juniuszhou opened #143 "[PEGGY] Remove the smart contract bin code"
To generate the bin code for smart contract, need install the ethereum and solc, which have lots of dependencies. To help people to test, submit the bin code into the repo. Later will remove these files after most of people comfortible with these tools, and successfully installed in local environment.

[2020-10-27 02:30] ElliotFriedman commented on #143
Would it be possible to have this repo have a docker setup that it runs inside of or compiles the contracts inside of?

[2020-10-27 03:04] utx0 commented on #143
Sounds like a good idea. @ElliotFriedman . PR's welcome :)

[2020-11-02 01:35] ElliotFriedman opened #162 "[PEGGY] What should our peggy threshold be for oracles on ethereum?"
Currently, peggy only needs a single oracle to sign off on it to release or mint user funds on ethereum. I would like to know how many oracles we are going to have on top of the ethereum side to sign off on a single transaction before we consider it valid.

This is a trivial change in the env file, however, it is something that I need to know in terms of how we want to set up peggy.

[2020-11-02 01:36] ElliotFriedman commented on #162
For the testnet version of peggy, there will be 4 validators and we will only require 1 signature at least for the current deployment I am doing. After that, we will have to make a judgement call on what we think is an acceptable amount of validators signing off on transactions.

[2020-11-02 02:01] jkbrooks commented on #162
@ElliotFriedman we will need two classes of validators, one that can mint tokens or release tokens on Ethereum and one that can’t.  Until we actually implement cryptoeconomic security, only a Sifchain admin Peggy node can actually mint or release tokens on Ethereum or Cosmos.  @AustinoBombino is working on that now. We will actually need to make a few modifications to Peggy beyond this to reduce c

[2020-11-02 02:56] ElliotFriedman commented on #162
@jkbrooks If there are going to be two classes of validators in peggy and one can't mint or release tokens, then what can they do as validators? Will it be a system where the threshold doesn't matter until an admin validator signs off on the transaction?

[2020-11-02 04:56] utx0 opened #164 "Confirm decimal precision between eth and sifnode is aligned"
Confirm that the decimal precision between eth/peggy modules and sifnode is aligned to a 1e8 standard.

[2020-11-02 12:08] intl-man opened #170 "[ChainOps] Broadcast Evidence RPC endpoint returns an invalid memory address error."
Description:

When I visit the following RPC endpoint via my web browser:

`http://<validator_ip_address>:26657/broadcast_evidence`

the following error is logged to STDOUT on the validator:

[code]

Version:

[code]

Expected Behaviour:

Any out of range or nil pointer exceptions should be handled gracefully, however the node still continues to create and sign blocks (doesn't crash).

Additional

[2020-11-02 12:13] intl-man opened #171 "[ChainOps] ABCI Query RPC Endpoint returns an index out of range error."
Description:

When I visit the following RPC endpoint via my web browser:

`http://<node_ip_address>:26657/abci_query?height=1000`)

the following error is logged to STDOUT on the validator:

`index out of range [0] with length 0`

Version:

[code]

Expected Behaviour:

Any out of range or nil pointer exceptions should be handled gracefully, however the node still continues to create and sign bloc

[2020-11-03 05:33] intl-man opened #175 "CLP Genesis"
When generating a new genesis file, the following error is returned:

[code]

as it appears that the initial CLP Genesis state is emtpy.

[2020-11-03 09:39] utx0 commented on #175
@Jedi2002 I think we have a need in clp to make sure the genesis export state is exported correctly and completely. Otherwise we could have big upgrade issues. cc @jkbrooks @AustinoBombino @musnit. We had to commect some of the code out as this was blocking us from deployments.

[2020-11-03 16:36] musnit commented on #175
yeh i think you're right

[2020-11-03 23:25] utx0 opened #179 "[ChainOps] IAM policy Bug when deploying new cluster"
@ilchebedelovski when deploying a new cluster last night I got this error:

[code]

[2020-11-04 01:06] utx0 opened #183 "[ChainOps] Clean up kubes pods on PR merge."
Description:

When a feature branch is merged into develop, the k8s namespace needs to be removed from the feature testnet cluster.

Version:

N/A

Expected Behaviour:

That the namespace is deleted from the testnet feature cluster.

Additional Information:

Refer to the deployment workflow [here](https://github.com/Sifchain/sifnode/blob/develop/.github/workflows/feature.yml), for reference.

[2020-11-04 03:04] intl-man commented on #175
@utx0 @musnit On further investigation, this was my fault - I was marshalling genesis with an old (pre-CLP) struct. Since been fixed and merged (#177).

[2020-11-04 03:05] #175 closed

[2020-11-05 07:22] utx0 opened #204 "[ChainOps] Build binaries as part of a release and post them into a github release"

[2020-11-06 00:49] juniuszhou opened #206 "[Peggy] Relayer crash if not enough locked assets"
Relayer crash during the test. the error message as following.
2020/11/04 09:13:18 VM Exception while processing transaction: revert Not enough locked assets to complete the proposed prophecy

[2020-11-06 08:49] juniuszhou opened #208 "Relayer crash if the symbol in burn claim not start with prefix"
Relayer print a log "Can only relay burns of 'PEGGY' prefixed tokens" then crashed after receive a burn claim, and the symbol not started with 'c'.

[2020-11-06 11:33] ryardley opened #209 "Swap Rest API appears not to run swap. CLI works fine"
Maybe I just need help or am missing something. There is a chance this also just is a bug.

On develop HEAD: ed337b5

Setting up with this script:

[code]

Then create the following liquidity pools;

[code]

The following is received with no error but appears NOT to run the swap code in the handlers:

[code]

However this does and it also appears to execute the swap:

[code]

I can't find errors i

[2020-11-06 12:08] utx0 commented on #209
yeah this is a bug by the looks of it. Will debug soon.

[2020-11-06 20:53] ryardley commented on #209
Be good to get a test suite against all the API calls

[2020-11-06 22:03] utx0 commented on #209
Yeah I agree, that an area where we might need some of @khdegraaf help.

[2020-11-07 01:48] juniuszhou commented on #208
fixed via pr #210

[2020-11-07 01:48] #208 closed

[2020-11-07 02:09] ryardley commented on #209
So I am starting to think this was a misunderstanding on my end as to how the API works. It seems it only prepares the message and does not broadcast or sign the message which needs to happen in the client. I am happy to close this for now unless it proves a problem later. [This example has helped](https://github.com/Sentrylink/tic-tac-toe-frontend).

[2020-11-07 02:09] #209 closed

[2020-11-07 02:14] 59023g opened #219 "[ChainOps] monkey-bars-testnet-3/genesis.json - Duplicate Validator Monikers"
https://raw.githubusercontent.com/Sifchain/networks/feature/genesis/testnet/monkey-bars-testnet-3/genesis.json

For all 4 validators in Genesis the monikor is `misty-voice`. They should be different.

<img width="1214" alt="Screen Shot 2020-11-06 at 8 13 39 PM" src="https://user-images.githubusercontent.com/5235538/98429499-95fee980-206c-11eb-8560-593a1a76490e.png">

[2020-11-08 22:57] utx0 opened #223 "[Peggy] Fix error handling"
The peggy go code has very poor error handling and in most cases is just `log.Fatal()` and crashing the process.

Can someone please audit the code and swap all the `log.Fatal` or `log.Print` and make sure errors are handled correcly.

[2020-11-08 23:55] utx0 opened #225 "[PEGGY] Setup a deployment pipeline for smart contracts"
Currently all the peggy stuff is very manaul and needs to be deployed by one of our offically cicd pipelines....

[2020-11-09 03:11] utx0 opened #227 "[Peggy] ebrelayer requires passphrase when witnessing a tx at runtime"
Description:

The Peggy [relayer](https://github.com/Sifchain/sifnode/tree/develop/cmd/ebrelayer) requires a passphrase to be supplied when initialised, to access the validator's key (at `~/.sifnodecli`). However, this passphrase is not cached and as such when the relayer witnesses a new transaction it continues to prompt for a password. This is not an ideal situation in the slightest, since the r

[2020-11-09 04:20] utx0 opened #228 "[Peggy] ebrelayer doesnt restart websocket connection if dropped"
In debugging the ebrelayer, I noticed that the websocket connect to infura dropped and the connection wasnt restarted. From this point onwards no more txs were witnessed

[code]

[2020-11-09 06:40] utx0 commented on #227
I have assigned this to you @intl-man as you are acorss the keys setup for most of the app.

[2020-11-09 07:00] utx0 opened #230 "Rowan symbol miss-matches"
Hey guys,

I keep seeing Rowan symbol miss-matches in the code. ie from how handle the symbol in the smart contracts, peggy go code and  in clp.

May I suggest we just use the following:

`rowan` in all places?

@ElliotFriedman @Jedi2002 @jkbrooks @intl-man @AustinoBombino @musnit @ryardley @59023g

Lets disucss here and come to consensus before making any changes?

[2020-11-09 07:01] utx0 commented on #230
And when a `rowan` assert is ported to etherum this will be `erowan`

[2020-11-09 07:01] utx0 commented on #230
Let me know if there are any issues with my suggestion.

[2020-11-09 07:08] juniuszhou commented on #230
Peggy go code just read the symbol from message and add/remove prefix like 'c' 'e'. Rowan is nothing special for peggy. I think we need keep consistent between erc20 smart contract's symbol and sifchain native token name.

[2020-11-09 16:43] ElliotFriedman commented on #230
My understanding is that 'c' means an ethereum native asset that is pegged and on top of sifchain
'e' means a cosmos native asset that is created on top of ethereum through peggy.

My source is looking at the cosmos bridge file.

Rowan can have the symbol Rowan, however when we store it in the smart contracts, we are going to store the symbol for prophecies as eRowan because it is a cosmos native

[2020-11-09 17:00] Jedi2002 commented on #230
I agree , we should have uniformity .

- I would suggest , we can add the native token to the genesis file , and read from it during chain initialzer ,and popoulate the native token as a key value pair on the blockchain . Other modules such as clp and peggy can read the value from this key value store. The best place for this would propably be the multistore for x/sifnode ? Also this can act as a

[2020-11-10 00:43] 59023g opened #235 "[UI]: dockerfile"
or docker-compose.yml. Consult @utx0

[2020-11-10 00:45] 59023g opened #236 "[UI]: Research Verify TX"
Websocket? Long poll for get balance?

[2020-11-10 02:24] utx0 commented on #235
I need `Dockerfile` for the UI components you want build/deployed

[2020-11-10 03:02] utx0 commented on #236
Sorry whats the question here? :)

[2020-11-10 05:11] utx0 commented on #230
@ElliotFriedman can you confirm what is the symbol used in the smart contracts for the token sale? And how this relates? Thanks

[2020-11-10 08:13] ElliotFriedman commented on #230
The token symbol of Rowan on etheruem should be eRowan because it is a cosmos native asset on top of ethereum according to this comment https://github.com/Sifchain/sifnode/issues/230#issuecomment-724131756.

Not sure if that means that peggy will store it as eeRowan when it makes prophecy claims so will have to iron that out. It might end up being a situation where the symbol on etheruem is just r

[2020-11-10 16:02] HelloKashif opened #243 "README Docs step: Create-Validator command raising error"
This is based on the README instructions to create a validator. Is fails with the following error

[code]

however replacing with --arg=value format with these works. Either we should update the README with --arg=value syntax or find out why this doesn't work

[2020-11-10 20:39] 59023g commented on #236
I created research task here for @ryardley to evaluate. The questions are notes/prompts from our meeting

[2020-11-10 23:21] ElliotFriedman commented on #162
The development team got sign off from the executive team for the MVP that 4 validators must sign off on a transaction for it to be approved.

[2020-11-11 00:38] utx0 commented on #162
I really think we need a 66% setup with peggy validators by the by. ie 3/4 are required for signing. If we make it a 100% system if you a validators drops offline for whatever reason we will have in-effect a network outage of sorts. @musnit @jkbrooks comments?

[2020-11-11 04:23] utx0 opened #248 "[Peggy] Broken build on `develop`"
Somehow we have managed to merge a breaking build into develop for the peggy code:

[code]

[2020-11-11 05:08] juniuszhou commented on #248
fixed via pr #250.

[2020-11-11 05:08] #248 closed

[2020-11-11 05:45] utx0 commented on #230
Ok just so everyone know as part of https://github.com/Sifchain/sifnode/releases/tag/monkey-bars-testnet-4 release we have changed the token symbol in the genesis to `rowan`  as can be seen in here: http://35.166.247.98:26657/genesis

For completeness;

1. Assert coming from native eth -> peggy -> sifchain will be prefixed with a `c`
2. Assert coming from native sifchain (cosmos) -> peggy -> eth w

[2020-11-11 19:17] ElliotFriedman commented on #162
I would be fine changing the configuration from 4/4 to 3/4

[2020-11-11 19:43] c29r3 commented on #243
sifnodecli tx staking create-validator \
    --amount=1000000rowan \
    --pubkey=$(sifnoded tendermint show-validator) \
    --moniker=sparkling-fog \
    --chain-id=monkey-bars \
    --commission-rate="0.10" \
    --commission-max-rate="0.20" \
    --commission-max-change-rate="0.01" \
    --min-self-delegation="1" \
    --gas="auto" \
    --gas-adjustment="1.2" \
    --gas-prices="0.025rowan" \

[2020-11-12 03:40] utx0 opened #254 "[Peggy] Relayers / Validators out of gas issue"
Description:

When a transaction passes from Ethereum to Sifchain via the [ebrelayer](https://github.com/Sifchain/sifnode/tree/develop/cmd/ebrelayer), the relayer reports an out of gas error:

[code]

Version:

[code]

Expected Behaviour:

That the new token be minted accordingly and deposited to the destination address.

Additional Information:

The validator in question has/had plenty of tokens

[2020-11-12 03:44] utx0 opened #255 "[Peggy] Incorrect address eats senders tokens"
When sending in a tx into the eth smart contract / peggy world with an invalid sifchain address the tokens are eatten by the smart contract. I think we need some form of validation and a refund event for this possible situation.

[code]

[2020-11-12 04:01] ElliotFriedman commented on #255
Here is the cosmos code for validating addresses: https://sourcegraph.com/github.com/cosmos/cosmos-sdk@7e08b62f4e1be3b732f81a480bf6cdc1d6c1f4e0/-/blob/types/address.go

We can see how many of those checks we can move over to solidity for the lock and burn functions to ensure that the receiver of the tokens on the cosmos side is correct. If the checks don't pass on the ethereum side that the sifcha

[2020-11-12 07:03] Jedi2002 commented on #230
@utx0 Can we also decide between the the two identifiers on the CLP side i.e ticker and symbol , it will make things less confusing going forward

[2020-11-12 11:03] juniuszhou commented on #223
Fixed via pr #246

[2020-11-12 11:03] #223 closed

[2020-11-12 21:36] ElliotFriedman commented on #162
This is really just a .env file configuration so we should agree on this, however there aren't any code changes that will need to go along with this.

@jkbrooks @musnit Thoughts on making the peggy threshold 3/4 instead of 4/4 for mainnet so that if one validator goes down things can still run?

[2020-11-13 01:41] utx0 commented on #206
Hey @juniuszhou can you give us some more details around how to reproduce this issue? Thanks

[2020-11-13 02:38] juniuszhou commented on #206
@utx0 Actually the message "2020/11/04 09:13:18 VM Exception while processing transaction: revert Not enough locked assets to complete the proposed prophecy" from your e2e testing in testnet. I created the issue to record. I think the issue could be occured if we burn much more ethereum assets than we locked in smart contract. But in realistic environment, it should never happen. And I already imp

[2020-11-13 03:06] intl-man commented on #179
Closing as this was resolved as part of #211 .

[2020-11-13 03:07] #179 closed

[2020-11-13 03:12] utx0 commented on #206
Yeah ok cool. ill close it off then for now. Thanks

[2020-11-13 03:12] #206 closed

[2020-11-13 03:20] utx0 commented on #230
@Jedi2002 sure thing. Lets open a new issue for that conversation though

[2020-11-13 03:20] #230 closed

[2020-11-13 03:24] utx0 commented on #219
Marking this as a P3 for now. As its now really a blocker for our next major goal.

[2020-11-13 03:25] utx0 commented on #183
@intl-man has this now been resolvoed?

[2020-11-13 03:26] utx0 commented on #171
Marking this as a P3 as it doesnt acutally break anything... from what we can find?

[2020-11-13 03:27] utx0 commented on #170
Marking this as a P3 for now as I cant see any of out code breaking from this.

[2020-11-13 03:30] intl-man commented on #254
Additional reading: [here](https://github.com/cosmos/cosmos-sdk/issues/3868) and [here](https://github.com/cosmos/cosmos-sdk/issues/3876).

[2020-11-13 05:15] utx0 commented on #254
closed by https://github.com/Sifchain/sifnode/pull/264

[2020-11-13 05:15] #254 closed

[2020-11-13 05:28] juniuszhou commented on #143
Fixed via PR #263

[2020-11-13 05:28] #143 closed

[2020-11-14 03:58] ryardley opened #267 "[CLP] Second user cannot become a liquidity provider by adding liquidity"
Not 100% sure I am doing something wrong here or if this is a bug.

### Outcome

Steps to reproduce:

1. Use the following script to initialize the chain:

[code]

2. Start the chain

[code]

3. Setup a couple of liquidity pools with the akasha user

[code]

4. Check akasha is a liquidity provider

[code]

5. Join the pool with the shadowfiend user

[code]

6. Check the liquidity

[code]

### Expe

[2020-11-15 01:00] utx0 commented on #267
Yep this is a bug. Thanks Rudi

[2020-11-15 01:01] utx0 commented on #267
Take a look at this when you can @Jedi2002

[2020-11-16 04:44] Jedi2002 commented on #267
The bug has been fixed in
https://github.com/Sifchain/sifnode/pull/247

[2020-11-16 06:12] #267 closed

[2020-11-16 10:26] utx0 commented on #227
Close by https://github.com/Sifchain/sifnode/pull/266

[2020-11-16 10:26] #227 closed

[2020-11-17 07:38] utx0 opened #278 "Running this script gives an error at the end of the docker build:"
Running this script gives an error at the end of the docker build:

`=> exporting to image                                                                                                                                                     0.3s
 => => exporting layers

[2020-11-17 07:39] utx0 commented on #278
Hey guys, we are going to merge this due to a refactor that will change the name of the `build` directory to `deploy` as its more about deploying stuff and we want to do some UX cleanup before the next release. I have also created an issue from @ElliotFriedman comments above.

[2020-11-18 05:35] juniuszhou opened #285 "[Peggy] relayer check nothing before sign tx of oracle"
This issue is from code analysis.
Relayer just sign the oracle transation when find out the new prophecy claim. We need check if the claim really happened in Sifchain and if the claim already processed before.

[2020-11-20 02:28] ElliotFriedman commented on #278
With the new version of the deploy script I am not receiving this error

[2020-11-20 03:18] 59023g opened #298 "[ChainOps]: REST LCD (1317) Endpoint CORS"
UI needs this to test our deployment against Testnet. This is blocking.

Wildcard ("*") would be ideal for now as it would allow us to test in a variety of environments and dynamically generated domains.

But, if you need a specific URL, please contact me directly. I will share our static testnet deployment URL.

Cosmos-sdk on CORs: https://docs.cosmos.network/master/interfaces/rest.html#cross-ori

[2020-11-20 03:21] 59023g opened #299 "[ChainOps]: REST LCD (1317) Endpoint HTTPS"
UI needs this to test our deployment against Testnet.

As far as blocking: We may be able to get away with forcing it on the client side. Not sure. This is related to CORS issue: https://github.com/Sifchain/sifnode/issues/298

[2020-11-20 13:27] ElliotFriedman opened #303 "[Peggy] Bridge Transactions from ethereum to sifchain overflow"
Currently Peggy overflows when too large of a transfer happens from ethereum to sifchain. This issue was caught when trying to transfer 10000000000000000000 wei from ethereum to sifchain. Will need to change the number type on cosmos for how this is stored, or we could possible divide on the ethereum side before emitting and then multiply out when going the other way.

[2020-11-20 16:42] ElliotFriedman commented on #303
Drilling down on where this problem is in the codebase, when querying initial accounts created locally, balances are 1e34 so this is not likely an issue with cosmos storing a users balance and more likely that in the relayer we are not using a proper uint256 or big number library.

[2020-11-20 16:48] kingpinXD commented on #303
If the issue is from the Sifnode side, using a Sdk.uint as the datatype should solve it. This is a wrapper over go's big.int

[2020-11-23 05:40] utx0 commented on #298
The cors fix was applied here: https://github.com/Sifchain/sifnode/pull/302

[2020-11-23 05:40] utx0 commented on #298
Let us know if this solves this issue for now @59023g

[2020-11-24 05:20] intl-man opened #308 "[ChainOps] Deployments via Terraform Cloud failing"
**Description:**

When deploying a new cluster via Terraform Cloud, it fails with the following error:

[code]

this would appear to indicate that the Terraform runner hasn't installed `aws-iam-authenticator`.

**Version:**

[code]

**Expected Behaviour:**

Deploy a new cluster, onto AWS, without error.

**Other Information:**

N/A

[2020-11-24 05:33] intl-man opened #309 "[ChainOps] Terraform fails when attempting to install the EFS driver."
**Description:**

When attempting to deploy a cluster (using local storage due to issues via Terraform Cloud) to AWS, the following error occurs:

[code]

**Version:**

[code]

**Expected Behaviour:**

If the EFS CSI driver already exists, don't try and install it.

**Other Information:**

Possible related issue [here](https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/267)

[2020-11-24 08:01] utx0 commented on #308
Are you sure you arent missing the `aws-iam-authenticator` cli tool?

[2020-11-24 08:03] utx0 commented on #299
If you can force this for now that would be super.

[2020-11-24 08:11] #243 closed

[2020-11-24 18:06] 59023g commented on #299
Experimenting with now. Should have an answer EOD.
Also, if there's a proxy service or other ways around this that I can control I'm all ears

[2020-11-24 23:04] ElliotFriedman opened #311 "Peggy is Allowed to Burn when it should lock and vise versa"
A current problem we face in peggy on the relayer and cosmos side is that you can burn an asset that is cosmos native, which will not trigger correct logic on the ethereum side. Say you have some rowan on sifchain, if you burn that rowan, instead of locking it, it will try to unlock rowan on the ethereum side instead of trying to mint it. This will effectively mean that money was destroyed unless

[2020-11-25 01:16] 59023g commented on #298
Is this live? I don't see `Access-Control-Allow-Origin: *` header in response.

[2020-11-27 07:16] juniuszhou commented on #311
We also need avoid the locking the pegged eth/erc20 in Sifchain. The question is how to distinguish the native asset and pegged asset. Pegged symbol start with prefix 'c', but the native symbol may also start with 'c'. Or we have the list of pegged token.

[2020-11-27 17:39] banshee opened #318 "[Peggy] Build issue: always check the return value from system() call in rakefiles"
**Describe the bug**

Should always check the result of system() in rakefiles.  We do check sometimes by doing ```system("...") or exit 1``` but that should always be the way we call system().

Probably should add something like a system_or_exit() call to deploy/rake/helpers.rake that always checks the return value and prints a useful error.

(Not checking the return value means you can easily get

[2020-11-27 18:38] ElliotFriedman commented on #311
We may have to end up keeping a list of pegged tokens and non pegged tokens via a mapping of symbols to booleans.

[2020-11-29 16:39] juniuszhou commented on #285
It was fixed via PR #305. Now there is no step to sign tx for oracle. Every validator will send new prophecy to cosmos bridge contract. and use the hash(_claimType, _cosmosSender, _cosmosSenderSequence, _ethereumReceiver, _symbol, _amount) as prophecyid.

[2020-11-29 16:39] #285 closed

[2020-11-30 14:48] EddCS opened #322 "[Peggy] Static Analysis (Med) - Reentrancy in CosmosBridge.newProphecyClaim"
[`Slither`](https://github.com/crytic/slither/) raised a medium warning about a potential reentrancy vulnerability in [`CosmosBridge.newProphecyClaim`](https://github.com/Sifchain/sifnode/blob/develop/smart-contracts/contracts/CosmosBridge.sol#L129) and suggested implementing the [`Checks-Effects-Interactions`](https://docs.soliditylang.org/en/v0.4.21/security-considerations.html#re-entrancy) patt

[2020-11-30 15:02] EddCS opened #323 "[Peggy] Static Analysis (High) - State variable shadowing in BridgeBank"
Slither raised a high severity warning about state variable shadowing of `BridgeBank_initialized` and its parent contracts `CosmosWhiteList_initialized` and `EthereumWhiteList._initialized`.

[code]
If this is decided to just be noise we can change `slither` to ignore this error in the future.

[2020-11-30 15:08] EddCS opened #324 "[Peggy] Static Analysis (Med) - State variable shadowing from abstract contracts in BankStorage"
`Slither` raised a medium severity warning about state variable shadowing from abstract contracts. [`BridgeBank/BankStorage`](https://github.com/Sifchain/sifnode/blob/develop/smart-contracts/contracts/BridgeBank/BankStorage.sol#L35) shadows `___gap` variables in [`CosmosWhiteListStorage`](https://github.com/Sifchain/sifnode/blob/develop/smart-contracts/contracts/BridgeBank/CosmosWhiteListStorage.s

[2020-11-30 15:10] ElliotFriedman commented on #324
We probably have to make these variables private. Turns out this is a real issue slither caught.

[2020-11-30 15:11] EddCS opened #325 "[Peggy] Static Analysis (Med) - CosmosBridge.newProphecyClaim is an uninitialized local variable"
`Slither` raised a medium severity warning that [`CosmosBridge.newProphecyClaim`](https://github.com/Sifchain/sifnode/blob/develop/smart-contracts/contracts/CosmosBridge.sol#L129) is an uninitialized local variable.

[code]
If this is decided to not be an issue then I can add a filter to remove it from future static analysis runs.

[2020-11-30 17:36] stbeyer commented on #325
Slither recommends local variables to always be explicitly initialized. We usually treat this as a false positve

[2020-11-30 17:38] stbeyer commented on #324
Since it's just a gap, it doesn't really matter too much but making it private should get rid of the issue.

[2020-11-30 17:39] stbeyer commented on #323
This is a side effect of the upgradability pattern. I think it's a false positive

[2020-11-30 17:40] stbeyer commented on #322
False positive, since it  calls trusted code.

[2020-11-30 20:02] khdegraaf commented on #325
@ElliotFriedman and @stbeyer do you believe this to be a false positive in this instance?

[2020-11-30 22:02] stbeyer commented on #325
yes, it's a false positive, because it is assigned in 2 out of 3 branches in the code and the third one reverts.
Slither is opinionated here in that it recommends always initializing this type of variable to 0 explicitly, instead of relying on the default values (which is address(0)).
I personally don't agree with this, since default values are clearly defined for all variable types in Solidity.

[2020-12-01 09:56] EddCS commented on #325
Based on this, I'll exclude `uninitialized-local` detector warnings in the slither config file. That will prevent this warning appearing in the future.

[2020-12-01 09:57] EddCS commented on #324
`___gap` is already a private variable in all four files.

[2020-12-01 10:19] EddCS commented on #322
Okay, I've added this specific warning to the slither triage config file so it won't appear on future runs.

[2020-12-01 10:20] EddCS commented on #323
Okay, I've added this specific warning to the slither triage config file so it won't appear on future runs.

[2020-12-01 15:00] ElliotFriedman commented on #324
If it's already private, it doesn't matter their names are the same since they wont be available in inherited files.

[2020-12-01 15:05] EddCS commented on #324
Okay, in which case I'll add these to the slither config so the warning isn't raised again.

[2020-12-01 17:36] ElliotFriedman opened #328 "[Peggy] Dropped Transactions"
A current hypothetical problem that we face in peggy is that if a validator goes offline and misses a transaction, they will not listen to the events that happened in the past and submit an oracle claim based on it. We need a solution where we can replay previous transactions, listen to their events, and submit transactions based on this.

This solution should work for both ethereum and cosmos tra

[2020-12-01 18:11] khdegraaf commented on #325
Are uninitialized-local detections always wrong, or just usually wrong?

On Tue, Dec 1, 2020 at 1:56 AM Edd Haigh <notifications@github.com> wrote:

[2020-12-01 19:05] ElliotFriedman opened #329 "[Peggy] No Permissioning Around Oracle Claims on Cosmos"
Currently, anyone is allowed to submit an oracle claim provided they have enough power, however, we need to restrict access to submitting these oracle claims to a specific set of private keys that the team controls. Then we will need to implement checks throughout the codebase on sifchain that check that the transaction signer is approved to create or sign off on an oracle claim.

[2020-12-01 20:34] utx0 commented on #328
Yeah the current solution only works in real time. However why would you want to reply events? Really if a validator goes off line we should have one a BFT type system so it doesnt matter and two the validator should get slashed and effert their block rewards.

[2020-12-01 21:07] ElliotFriedman commented on #328
This was brought up in a discussion with @musnit where we were discussing what happens in a scenario where multiple validators are offline.

[2020-12-01 21:11] utx0 commented on #328
yeah i get that. However I think it would be easier to just make the system more BFT and be totally ok with faults and avoid complex retry logic.

[2020-12-01 21:15] musnit commented on #328
it is still valuable to have retry/catchup logic even if the system is BFT.

also, we can't launch production without handling dropped connections. making the system BFT or collateralized/insured is way more work than just adding a retry/catchup - i don't really get where you're coming from @utx0

[2020-12-01 21:17] musnit commented on #328
@ElliotFriedman @utx0 also this refers specifically just to the relayer microservice going offline/crashing. we should really stop using the word validator to refer to anything relay related

[2020-12-01 21:20] ElliotFriedman opened #330 "[Peggy] Implement SafeERC20 for token transfers in Peggy"
Token transfers in the bridge bank require a boolean to be returned, however some ERC20 implementations do not follow the EIP20 standard that requires they return a boolean. Because of this, we should use the openzeppelin implementation of safe ERC20 to transfer tokens. https://github.com/OpenZeppelin/openzeppelin-contracts/blob/master/contracts/token/ERC20/SafeERC20.sol

[2020-12-01 21:22] ElliotFriedman commented on #328
In my eyes, it would make more sense to just build in a mint function to cosmos where we have the admin key so that if a relayer drops and misses a TX, then we can just step in and mint tokens for that user. If we build a whole solution around retrying, it will require human input to figure out the TX that was dropped.

[2020-12-01 21:40] musnit commented on #328
don't think this would work due to legal reasons.

in terms of retrying/catchup, without any human input, i suggest something like:

`i think reliability should be fairly straightforward, basically we just need the relayer to do something like (example for direction cosmos -> ethereum):
start process
query ethereum to check most recent nonce from cosmos that has been confirmed on ethereum
query co

[2020-12-02 06:30] jkbrooks commented on #303
@ElliotFriedman please reformat in the standard bug filing format so we can get Gitcoin on this.  Check out https://github.com/Sifchain/sifnode/issues/308 and the Development Charter for more context

[2020-12-02 06:31] jkbrooks commented on #278
@utx0 is this still an issue?  If so, please file with the standard format from the dev charter.  https://github.com/Sifchain/sifnode/issues/308 has an example.  We can then get it up on Gitcoin

[2020-12-02 06:32] jkbrooks commented on #255
@utx0 is this still an issue? If so, please file with the standard format from the dev charter. #308 has an example. We can then get it up on Gitcoin

[2020-12-02 06:33] jkbrooks commented on #228
@utx0 @ilyabukalov is this still an issue? If so, please file with the standard format from the dev charter. #308 has an example. We can then get it up on Gitcoin

[2020-12-02 06:34] jkbrooks commented on #219
@59023g is this still an issue? If so, please file with the standard format from the dev charter. #308 has an example. We can then get it up on Gitcoin

[2020-12-02 06:34] jkbrooks commented on #183
@intl-man  is this still an issue? If so, please file with the standard format from the dev charter. #308 has an example. We can then get it up on Gitcoin

[2020-12-02 06:39] ilyabukalov commented on #228
fixed and merged here: https://github.com/Sifchain/sifnode/pull/291
@utx0 please confirm if we have anything else?

[2020-12-02 06:52] utx0 commented on #278
Issues resolved by https://github.com/Sifchain/sifnode/pull/320

[2020-12-02 06:52] #278 closed

[2020-12-02 06:55] utx0 commented on #183
this issue has been resolved.

[2020-12-02 06:55] #183 closed

[2020-12-02 06:55] utx0 commented on #228
Yep this all looks like its working/fixed.

[2020-12-02 06:55] #228 closed

[2020-12-02 15:59] banshee commented on #318
PR #320 added some support for this - there's now a safe_system() method available that exits on a non-zero return from a system call.  Not all rake files have been converted to use this though.

[2020-12-02 23:17] banshee opened #337 "[Peggy] scripts/sendLockTx.js always prints expected usage, should only do that on incorrect parameters"
**Describe the bug**
scripts/sendLockTx.js unconditionally calls

`console.log("Expected usage: \ntruffle exec scripts/sendLockTx.js --network ropsten sif1nx650s8q9w28f2g3t9ztxyg48ugldptuwzpace eth 100\n");`

That should only happen if the parameters are invalid.

**Bug Reproduction Steps**

Execute scripts/sendLockTx.js.  Observe that it always prints the wrong thing; the expected usage lines sho

[2020-12-03 10:54] ilyabukalov opened #341 "[Peggy] peggy:lock for eth does not work"
smart contract + relayer process it correctly (eth is locked in Bridge contract correctly) but cosmos transaction is rejected on sifnode side.
Commit: 554bf5639a8338e2853ffe652ae7b9fbe0cafff0
To reproduce on fresh install:
[code]

On the same setting command works correctly:
[code]

[2020-12-03 11:39] ilyabukalov opened #342 "[Peggy] decimals for cosmos or conversion to 10^18"
Currently Ethereum numbers (ERC-20 and ETH itself) and cosmos coins work correctly in terms of binary representation.
For example 100 ETH means 100 wei but not 100 Ether. The same happens with token. The numbers are processed correctly regardless of decimals based only on binary number representation. I believe it is correct behaviour and ERC-20 tokens decimals are purely "representation feature".

[2020-12-03 11:55] ilyabukalov opened #343 "[Peggy] peggy:burn does not work for cosmos native pegged eToken."
smart contract + relayer process it correctly (so ethereum token burned correctly) but cosmos transaction is rejected on sifnode side.

commit: 554bf5639a8338e2853ffe652ae7b9fbe0cafff0

To reproduce on clean install:
[code]
Possibly duplicate of https://github.com/Sifchain/sifnode/issues/341
since look mirrored

[2020-12-07 13:42] EddCS opened #346 "[Peggy] - Node failed to commit block and crashed"
**System Info:**
[code]
**Expected Behaviour:**
A new node should continue to sync indefinitely

**What Happened:**
The node stops syncing at block 1328 due to a `Golang` runtime error.

**Steps to Replicate:**
- Clone Sifchain/sifnode
- Follow the steps in [the readme](https://github.com/Sifchain/sifnode/blob/develop/readme.md) to set up a new node
- Run the node with `sifnoded start`
- Leave it

[2020-12-07 13:44] EddCS commented on #346
Confirmed this is replicable by running the node as per the readme, it fails after ~2 minutes of syncing.

[code]

[2020-12-08 01:05] #309 closed

[2020-12-08 05:02] utx0 commented on #341
Hey mate, this bug doesnt tell me anything about what you are saying with `cosmos transaction is rejected on sifnode side.` can you please provide more details, logs etc? I feel you also might have a local development setup issue as this is working in testnet.

[2020-12-08 05:30] utx0 commented on #343
Please provide details as in log output for what is meant by rejected. This gives us nothing to go on.

[2020-12-08 06:14] ElliotFriedman commented on #341
Why is address 0 being passed to the peggy:lock yarn command?

[2020-12-08 06:14] ElliotFriedman commented on #341
Please use scripts/sendLock.js directly when sending lock transactions.

[2020-12-08 06:45] ilyabukalov commented on #343
Log from sifnoded:
`
2020-12-08|14:44:16.107] Executed block                               module=state height=289 validTxs=0 invalidTxs=1
I[2020-12-08|14:44:16.116] Committed state                              module=state height=289 txs=1 appHash=44FB272351477320D7F17955910BA13B81B7A0FC7673FDEAD725136FABC1718C
`

[2020-12-08 06:52] ilyabukalov commented on #343
Log from relayer (lock is successfull. Burn is processed correctly by relayer but as outcome generates invalid transaction):
`Claim Type: lock
Cosmos Sender: sif1l7hypmqk2yc334vc6vmdwzp5sdefygj2ad93p5
Ethereum Recipient: 0xf17f52151EbEF6C7334FAD080c5704D77216b732
Symbol: rowan
Amount: 1

Fetching CosmosBridge contract...
Sending new ProphecyClaim to CosmosBridge...
NewProphecyClaim tx hash: 0x7452

[2020-12-08 07:00] ilyabukalov commented on #341
it is alias for "eth". It does not matter. I changed to 'eth' in cmd

[2020-12-08 07:07] ilyabukalov commented on #341
Log of relayer. It receives and process web3 event but cosmos rejects the transaction
--
I[2020-12-08|14:56:41.465] Starting WSEvents service                    impl=WSEvents
I[2020-12-08|14:56:41.467] Started Ethereum websocket with provider:    ws://localhost:7545/=(MISSING)
I[2020-12-08|14:56:41.495] Subscribed to bridgebank contract at address: 0x75c35C980C0d37ef46DF04d31A140b65503c0eEd
I[2020

[2020-12-08 07:08] ilyabukalov commented on #341
Sifnoded log (invalidTxs=1).
--
I[2020-12-08|15:04:17.135] Executed block                               module=state height=526 validTxs=0 invalidTxs=1
I[2020-12-08|15:04:17.143] Committed state                              module=state height=526 txs=1 appHash=89EB75E84BF2775FBC1127A63091C525FF17132E164D0596D8EA0EEB9331FEF2

[2020-12-08 07:10] ilyabukalov commented on #341
it is exactly how I described it. Isn't? Anyway problem is not on the truffle scripts side.

[2020-12-08 07:44] utx0 commented on #343
Thanks that a lot more helpful

[2020-12-08 07:53] ElliotFriedman commented on #341
What branch were you on when this came up? Were you on the latest version of develop? Did your sifchain address show when you ran this?

`$(sifnodecli keys show akasha -a)`

[2020-12-08 08:15] ilyabukalov commented on #341
commit attached in head.

[2020-12-08 08:16] ilyabukalov commented on #341
yes sure, Initialized by
`
#!/usr/bin/env bash
rm -rf ~/.sifnoded
rm -rf ~/.sifnodecli

sifnoded init test --chain-id=sifchain

sifnodecli config output json
sifnodecli config indent true
sifnodecli config trust-node true
sifnodecli config chain-id sifchain
sifnodecli config keyring-backend test

echo "Generating deterministic account - shadowfiend"
echo "race draft rival universe maid cheese stee

[2020-12-08 17:15] hhio618 commented on #308
Hey @intl-man, did you installed `aws-iam-authenticator` on the pipeline or environment that you had run terraform?

[2020-12-08 17:54] ElliotFriedman commented on #330
This is a critical issue and needs to be solved, but it should be a super straightforward and easy fix.

[2020-12-08 17:58] ElliotFriedman commented on #225
bump

[2020-12-08 18:00] ElliotFriedman commented on #162
bump @jkbrooks @musnit

It would be good to get some eyes on this and get our threshold confirmed before our alphanet.

[2020-12-08 18:15] 59023g commented on #236
This was merged https://github.com/Sifchain/sifnode/pull/310

[2020-12-08 18:15] #236 closed

[2020-12-08 18:16] 59023g commented on #235
This was included in https://github.com/Sifchain/sifnode/pull/129

[2020-12-08 18:16] #235 closed

[2020-12-08 20:46] ElliotFriedman commented on #341
I'm running this off the latest dev branch and it is not giving me any problems. I cannot reproduce your error.

[2020-12-08 22:25] utx0 commented on #346
Did you also checkout the git tag `git checkout tags/monkey-bars-testnet-6` as part of this? if you have connected to testnet it needs to build the binary at the same place as the testnet validators as the AppHash can change with different versions of the code.

[2020-12-09 02:26] ilyabukalov commented on #341
Did I understand you correctly that after command:
[code]
you observed increase of balance by 100 on ceth symbol:
[code]

[2020-12-09 04:16] utx0 commented on #225
Hey @ElliotFriedman can you create a ticket for this in asana and work with @intl-man to get this in place. Thanks mate.

[2020-12-09 04:18] utx0 commented on #162
I think we just go with a 3/4 setup.

[2020-12-09 04:19] utx0 commented on #330
Hey @ElliotFriedman we got a ticket for this in asana?

[2020-12-09 07:39] lancefrench commented on #308
Hello, @intl-man, if you're deploying in Terraform Cloud using remote execution mode the cloud runner isn't going to have `aws-iam-authenticator` installed.  I don't think Hashicorp gives us a way to make changes to the emote execution environment, but there is a PR out there to add the authentication functionality to the AWS EKS terraform provider itself: https://github.com/terraform-aws-modules/

[2020-12-09 13:58] EddCS commented on #346
Okay, that's it @utx0, I needed to checkout the git tag. My bad. Although why is `Develop` in a broken state? Is this still a bug?

[2020-12-09 16:52] ElliotFriedman commented on #330
Yes, this is in the backlog of the peggy board.

[2020-12-09 22:40] utx0 commented on #346
Hey @EddCS not sure I understand why you think `develop` is in a broken state? All that is happening here is you are trying to use new code on an the deployed public testnet with new coder that hasnt been deployed to the network yet. This doesnt mean the code is broken, just that you are trying to deploy a binary that currently doenst match the running network. This is actually a security feature

[2020-12-10 09:34] EddCS commented on #346
Hey @utx0 - it's probably just my misunderstanding of a few things :)

I didn't think breaking changes would be that common. Backwards compatibility so new nodes can sync old chains is important - as the chain is immutable and new validators might come online at any time, but I guess while we're not at Alpha yet so this might not be in place yet.

Shouldn't this actually be possible? And resolved

[2020-12-10 10:46] EddCS commented on #346
@utx0 Closing due to Gitcoin funding, we can carry any conversation on via slack :)

[2020-12-10 10:46] #346 closed

[2020-12-10 17:19] 59023g commented on #219
I don't see this issue in latest genesis: https://github.com/Sifchain/networks/blob/feature/genesis/testnet/latest.json.
Closing now

[2020-12-10 17:19] #219 closed

[2020-12-10 19:39] #303 closed

[2020-12-10 19:41] ElliotFriedman commented on #255
@utx0 Basic sifchain address validation has been done on the ethereum smart contract. We check byte length and ensure the prefix is 'sif'.

However we do not have full bech32 address validation in the smart contract. Should we close this issue and open a new one, or should we just close this issue out entirely as that is really an edge case.

[2020-12-10 21:28] ElliotFriedman commented on #255
Closing and creating task in asana backlog

[2020-12-10 21:28] #255 closed

[2020-12-11 08:52] EddCS opened #372 "[Peggy] - Undefined object as part of migrations/2_next.js"
**Describe the bug**
When I run `yarn migrate` I'm seeing a type error during the second migration in 2_next.js. Specifically, something is undefined and we get the length of it.

**Bug Reproduction Steps**
[code]
**Stack Trace**
[code]

[2020-12-11 09:24] EddCS commented on #372
Looks like the value it was looking for is `CONSENSUS_THRESHOLD`. Added a `.env` file in `smart-contracts/` but it's not being picked up automatically. Double checking the docs on building this.

[2020-12-11 13:54] EddCS commented on #341
@ilchebedelovski could you share the .env file you used for this?

[2020-12-12 01:18] ilyabukalov commented on #341
.env is standard taken from:
[code]

[2020-12-14 00:32] utx0 opened #380 "[CLP] `sifnodecli q clp lp` to provide more details on assets in pool"
### Is your proposal related to a problem?

When querying via the cli with the following command: `sifnodecli q clp lp ceth $(sifnodecli keys show sif -a)`  only the value of y `liquidity_provider_units` is returned.

However I would also like to know how many nativeAmount and exteranlAmount I also have as part of this lp.

Eg:

[code]

### Describe the solution you'd like

Extra output as follows

[2020-12-14 00:33] utx0 commented on #380
Same data should also be returned via the rest api too.

[2020-12-14 00:56] utx0 opened #381 "[CLP] cli/rest return all pools info for a single key"
### Is your proposal related to a problem?

Currently there is no way for a liquidity provider to get a a complete picture/output of all the lp there  assets in different pools in a single command.

Only option is going via each pool eg: `sifnodecli q clp lp ceth $(sifnodecli keys show sif -a)`

### Describe the solution you'd like

A command like the following;

`sifnodecli q clp pools (sifnodecl

[2020-12-14 02:45] utx0 opened #382 "[CLP] Return the pool/s onchain address as part of a query"
### Is your proposal related to a problem?

When preforming transaction like a swap on the lp's the tx will show the addresses used by the lp pools. To further increse the UX on the clp module it would be great to have the pool addresses returns as part of all pool cli/rest queries.

Eg:

[code]

### Describe the solution you'd like

[code]

### Additional context

This will be handy for a number

[2020-12-14 02:55] Jedi2002 commented on #381
@utx0 we have a query
sifnodecli q clp assets [lpAddress]
Which returns a list of assets , the  [ lpAddress is contibuting to ]

the rest counterpart for the above command is
/clp/getAssets

[2020-12-14 03:00] Jedi2002 commented on #382
We do not have adresses of individual pools right now. The design has been refacored to have one supplyaccount for the entire CLP module which stores the balance of all supported tokens .

We do have a module address, but that would be common for all the pools .

[2020-12-14 03:12] Jedi2002 commented on #380
@utx0  This can be added in ,
currently the liquidity provider does not store   the balance it has in a pool ,  only poolunits are required in all calcualtions . The current struct looks this
type LiquidityProvider struct {
	Asset                                Asset                  `json:"asset"`
	LiquidityProviderUnits      sdk.Uint              `json:"liquidity_provider_units"`
	LiquidityProvi

[2020-12-14 08:21] utx0 commented on #382
Yeah thats cool, just be great to return the clp address on the pools query. Otherwise you have to go digging for it.

[2020-12-14 15:50] EddCS opened #387 "[Peggy] - Error: Cannot find module 'dotenv'"
**Describe the bug**
Build error when running `yarn migrate`

**Bug Reproduction Steps**
[code]

**Stack trace**
[code]

Fixed by running `npm install dotenv && yarn migrate` so I suspect we need to add `dotenv` to our `yarn` config.

[2020-12-14 17:20] EddCS commented on #341
I've recreated this issue successfully with the latest version of `sifnodecli`. If I run

[code]

I can see the amount removed from the `akasha` account:
[code]

however if I run:
[code]

the values in the account don't change:
[code]

while the commands output looks correct:
[code]

[2020-12-15 00:48] ilyabukalov commented on #341
Thanks @EddCS . Very helpful.

[2020-12-15 03:36] AustinoBombino commented on #380
@Jedi2002 do you think we could just calculate their balance when the query is run?

[2020-12-15 03:49] Jedi2002 commented on #380
Yeah thats definitly doable

[2020-12-15 04:14] AustinoBombino commented on #380
Yeah we would need to do that. We can't track actual balances in the lp structures because their "balance" changes whenever swap fees are taken. That's why it's tracked with the units

[2020-12-15 04:17] utx0 opened #394 "[CLP] Non-asymmetry remove-liquidity cli command fails"
When trying to make a non-asymmetry remove-liquidy cmd (100% external asset) I am getting the following error message.

[code]

[2020-12-15 22:00] #382 closed

[2020-12-15 23:47] caseyturnerarrington commented on #311
We could move forward with hardcoding tokens that start with 'c'. This would be an ONLY alphanet solution and we should come back to it at a later date to adjust this as we incorporate more tokens.

[2020-12-16 00:15] #381 closed

[2020-12-16 03:09] utx0 commented on #387
Looks like you missed the `yarn install` step... ?

[2020-12-16 04:45] #380 closed

[2020-12-16 04:52] utx0 commented on #342
All values on the cosmo chain are in wei. Not sure what the ask is here?

[2020-12-16 06:15] ilyabukalov commented on #342
based on your comment, since it is 100% confirmed and known that cosmos chain stores values in wei, based on that I believe this task is towards clear documentation. As first time user I was really confused about that fact ("cosmos chain stores values in wei"). And I marked it as "question" or "enhancement" but not a bug/issue.

[2020-12-17 00:43] utx0 commented on #342
At the end of the day cosmos is just a framework built on top of golang. So we can set it whatever way we want

[2020-12-18 02:57] #342 closed

[2020-12-18 04:33] jkbrooks commented on #387
@EddCS
Is @utx0 correct?  If so, please close this bug, if not, please confirm.

[2020-12-18 04:34] jkbrooks commented on #394
@utx0 please format this bug as per the bug template

[2020-12-18 04:43] utx0 commented on #394
Dude this is already clear enough

[2020-12-18 04:57] utx0 commented on #387
Just tested locally. Not an issue. `"dotenv": "^8.1.0"` is also in the package.json file

[2020-12-18 04:57] #387 closed

[2020-12-18 09:16] bakaoh commented on #372
@EddCS it seems picked up the `.env` file, and passed the check `CONSENSUS_THRESHOLD` at line 16

it failed the check `OPERATOR` at line 22 so i think you should copy the `.env.example` file to `.env` and filled your info there

[2020-12-19 00:04] vivekkiran commented on #343
I couldn't get time to work on it. I apologize.

[2020-12-19 10:26] vivekkiran commented on #343
I couldn't get time to work on it. I apologize. I would like to withdraw from the task.

[2020-12-22 07:47] utx0 commented on #372
Yes this migration process is a bit all over the shop and needs a massive refactor. You will get a bunch of random issues if you dont have the correct .env's set.

[2020-12-28 19:47] khdegraaf commented on #372
This works fine if you have correct .env file, like from .env.example.

[2020-12-28 19:47] #372 closed

[2020-12-28 19:48] khdegraaf commented on #325
This has been fixed in Slither config.

[2020-12-28 19:48] #325 closed

[2020-12-28 19:49] khdegraaf commented on #324
This has been fixed in slither config.

[2020-12-28 19:49] #324 closed

[2020-12-28 19:49] khdegraaf commented on #323
this has been fixed in slither config.

[2020-12-28 19:49] #323 closed

[2020-12-28 19:50] khdegraaf commented on #322
This has been fixed in slither config.

[2020-12-28 19:50] #322 closed

[2021-01-04 00:59] utx0 commented on #343
Hey @ElliotFriedman whats your take on this ticket mate?

[2021-01-04 06:28] #162 closed

[2021-01-04 06:29] utx0 commented on #164
This has actually been set with the ETH defaults pre coin.

[2021-01-04 06:29] #164 closed

[2021-01-04 10:29] ElliotFriedman commented on #343
@utx0 No one has been able to replicate this. This functionalities is working. Closing this ticket.

[2021-01-04 10:29] #343 closed

[2021-01-04 10:33] ElliotFriedman commented on #329
This issue has been solved by this PR with a keeper that keeps track of who is allowed to submit these transactions: https://github.com/Sifchain/sifnode/pull/378

[2021-01-04 10:33] #329 closed

[2021-01-04 10:35] ElliotFriedman commented on #311
Fix has been merged. Closing

[2021-01-04 10:35] #311 closed

[2021-01-04 11:15] ElliotFriedman commented on #311
Fixed in this PR: https://github.com/Sifchain/sifnode/pull/408

[2021-01-05 00:40] mrworksome opened #441 "[Bug install node on Mac] no valid credential sources for Terraform AWS Provider found."
run all scripts on PyCharm IDE
First install all requirements and run ```rake "cluster:scaffold[merry-go-round,aws]"```
Then I try ```rake "cluster:deploy[merry-go-round,aws]"```
Then occurs instead
Error: error configuring Terraform AWS Provider: no valid credential sources for Terraform AWS Provider found.

Please see https://registry.terraform.io/providers/hashicorp/aws
for more information abo

[2021-01-05 17:52] ElliotFriedman commented on #328
Need two different solutions for this.
1. A script that takes transaction id's from ethereum and cosmos. It reads the transaction and submits the claim on the opposite chain for that transaction. This would require two scripts. One for sifchain to eth transactions, this would read the cosmos tx info, and submit prophecy claim based on this. For eth to sifchain transactions, this would read the eth

[2021-01-05 17:58] musnit commented on #328
further context: this would not work if for example half a block of transactions is played but then the second half is missed. this would result in the first half being replayed twice.

further context: the point of sequential processing in this solution is really for replay protection to make it easy for the relayer to know what transactions that it has missed and replay them. with sequential pro

[2021-01-06 04:28] #298 closed

[2021-01-06 23:50] banshee commented on #341
This is covered in the integration tests, in test/integration/initial_test_balances.py to set up the initial balances for a test user.

[2021-01-06 23:54] banshee commented on #341
Also

Also in test/integration/peggy-e2e-test.py, in test_case_1, and in test_balance_does_not_change_without_manual_block_advance.  The second one of those tests behavior that's changed from the time this bug was filed.

(Also for future reference, the expected behavior is different now.  You'll need to advance at least 50 blocks before you'll see the balance change on sifchain.)

[2021-01-07 00:00] ElliotFriedman commented on #341
Closing as we test this in the CICD pipeline.

[2021-01-07 00:00] #341 closed

[2021-01-07 05:07] #204 closed

[2021-01-07 05:08] #225 closed

[2021-01-07 05:11] utx0 commented on #441
You need to have your aws `~/.aws/config` and `~/.aws/credentials` setup for terraform to work.

[2021-01-07 05:11] #441 closed

[2021-01-07 05:14] utx0 commented on #170
This issue is due to the cosmos modules not being enabled in our stack as of yet, however the default rpc page display all the same links regardless of what modules we have turned on. for now I'm closing this as its a non issue, just added logging noise.

[2021-01-07 05:14] #170 closed

[2021-01-07 05:15] utx0 commented on #299
This has been resolved and push to all env's

[2021-01-07 05:15] #299 closed

[2021-01-07 23:53] utx0 commented on #171
Incorrect usage of the interface as pre https://docs.tendermint.com/master/rpc/#/ABCI/abci_query

[2021-01-07 23:53] #171 closed

[2021-01-07 23:54] utx0 commented on #308
We have chosen to drop support for terraform cloud in the short term as this is really just a nice to have.

[2021-01-07 23:54] #308 closed

[2021-01-13 06:00] huangjosh opened #477 "[CLP] Add extra parameter minimumReceivedAmount to prevent unexpected slippage."
### Is your proposal related to a problem?

When we doing swap from Token A to Token B, we can only specify the amount of Token A we will send, but we did not know how much Token B we will receive.
In some corner cases, for example, when there are other users also swap Token A to Token B slightly earlier than us, and change the composition of the pool. We may receive the Token B much less than we

[2021-01-13 10:23] utx0 commented on #477
Hey @Jedi2002 / @AustinoBombino can you guys have a look at this request and see how we can work this into the clp solution?

[2021-01-14 13:49] eldruid commented on #387
did anyone come a fix for this?

i am experiencing same output.

[2021-01-14 22:24] #477 closed

[2021-01-15 01:45] AustinoBombino opened #494 "File path preventing git checkout on Windows."
**Describe the bug**
There's a space in one of the docs paths that's causing the following git error on Windows:

error: invalid path 'docs/general /Feature Deployments.md'

This is preventing git checkout on Windows.

**Bug Reproduction Steps**
git clone https://github.com/Sifchain/sifnode.git  on Windows results in the following failure:

error: invalid path 'docs/general /Feature Deployments.md

[2021-01-15 02:22] #494 closed

[2021-01-15 10:20] ChanJuiHuang opened #501 "Errno::ENOENT: No such file or directory - sifgen"
I run ```rake "keys:generate:mnemonic"``` from document.
But I encounter error.

Please help me, Thank you^^

![image](https://user-images.githubusercontent.com/12593365/104713077-559fa400-575e-11eb-833d-edaebf4d2335.png)

[2021-01-15 18:14] ElliotFriedman commented on #328
@musnit At this stage of where we are with development and timelines, it makes sense to go with the script solution. In the future, we could consider ordered transactions, however, nonces would have be maintained separately on each chain, so we only really can order in each direction, and not bidirectionally as there is an issue of communication and blocking. Additionally, the relayer would have t

[2021-01-15 18:45] sauravtom opened #503 "Azure AKS support for sifnode"
## Description
Create scaffolding and deployment scripts for deploying sifnode to Azure via the Azure Kubernetes Service(AKS)

## Context
AKS is a fully managed kubernetes service by Azure. The sifnode repo currently supports deployment to EKS (Elastic Kubernetes service by AWS). The current deployment setup could serve as a useful template https://github.com/Sifchain/sifnode/tree/8c71b924725f0838

[2021-01-19 02:29] sauravtom opened #524 "[sifnode] $1000 bounty for implementing Google Cloud support for sifnode #503"
## Description
Create scaffolding and deployment scripts for deploying sifnode to Google cloud via the [Google Kubernetes Engine (GKE)](https://cloud.google.com/kubernetes-engine)

## Context
GKE is a fully managed kubernetes service by Google. The sifnode repo currently supports deployment to EKS (Elastic Kubernetes service by AWS). The current deployment setup could serve as a useful template ht

[2021-01-19 06:48] #501 closed

[2021-01-19 06:49] utx0 commented on #501
I have just merged a doco update that will fix this issue. Please review and let us know if this resolves your issue. Thanks

[2021-01-27 02:55] emperorjm opened #587 "Sifnoded fails to continue syncing when daemon stopped and restarted in AWS pod"
I am using the sifchain aws kubernetes implementation and I need to make changes to the **config.toml** file to enable prometheus so that I can configure various metrics in dashboards within Grafana and also AWS CloudWatch to some extent seeing that prometheus integration is available there as well.

The only option I have right now is to update the **config.toml** within the sifnoded pod and I do

[2021-01-28 18:30] alijnmerchant21 opened #600 "Error accessing remote module registry"
**Describe the bug**
I am run into the error - "Error accessing remote module registry" when I hit the following command -
rake "cluster:scaffold[merry-go-round,aws]"

For more detail on bug see the screen shot attached below.

**Bug Reproduction Steps**

1. Follow all the steps listed in sifnode/docs/chainOps/k8s.md
2. After all the prerequisites have been installed, scaffold a new cluster using

[2021-01-31 07:24] alijnmerchant21 commented on #600
The error was partially solved by updating owner of the files/directories of installed packages.

$sudo chown aliasgarmerchant /Users/aliasgarmerchant/go/pkg/…

[2021-01-31 07:29] alijnmerchant21 commented on #600
**Failed to query available provider packages**

<img width="1055" alt="Screen Shot 2021-01-31 at 12 32 42 PM" src="https://user-images.githubusercontent.com/44069404/106377554-be745680-63c3-11eb-9b46-7f5f61a3b6a3.png">

“Look specifically at the versions trying to be matched.”
a.	null >= 2.1.*
b.	template >= 2.1.*
c.	random >= 2.1.*
d.	aws >= 2.1.*
e.	kubernetes ~> 1.9 >= 1.11.1*
f.	local >= 1.4

[2021-01-31 20:32] realsteel85 opened #623 "rake "keys:generate:mnemonic""
**Describe the bug**
When i runrake "keys:generate:mnemonic" i got an error

~/sifnode$ rake "keys:generate:mnemonic"
rake aborted!
Errno::ENOENT: No such file or directory - sifgen
/home/ubuntu/sifnode/deploy/rake/keys.rake:7:in ``'
/home/ubuntu/sifnode/deploy/rake/keys.rake:7:in `block (3 levels) in <top (required)>'
/usr/share/rubygems-integration/all/gems/rake-13.0.1/exe/rake:27:in `<top (requ

[2021-01-31 22:39] ElliotFriedman opened #624 "[Peggy] Reliability using Cosmos Multimsg @172k tx/day"
Friday and Saturday the peggy team rolled back to the version of the code that allowed us to send multiple transactions at once, which would theoretically give us a 20x performance boost in terms of number of tx’s per day. We did extensive testing locally under load to ensure that it functioned properly and we were not able to identify any issues. Then, we deployed to an environment in the cloud,

[2021-02-01 00:47] intl-man commented on #624
Some additional information -

To test this, we stood up a new network called "Swing-Set", which is accessible at:

http://54.188.226.253:26657/

The network has been configured with 4 validators and 4 relayers. They were deployed with the release:

https://github.com/Sifchain/sifnode/releases/tag/swing-set-1

[2021-02-01 01:17] utx0 commented on #624
Branch in question. `feature/multi-msg-tx`

[2021-02-01 08:42] utx0 commented on #623
You havent setup `PATH=$HOME/go/bin:$PATH` in your shell

[2021-02-01 08:42] #623 closed

[2021-02-01 08:45] utx0 commented on #600
This looks like an issues getting the 3rd party terraform modules we are using from hashcorp... Maybe they had an outage or you have a network issues? Please re-try.

[2021-02-01 08:45] #600 closed

[2021-02-01 08:48] utx0 commented on #587
Once you restart the `sidnoded` process does the pod stay running?

[2021-02-04 06:54] lufa23 opened #644 "Errno::ENOENT: No such file or directory - sifgen"
When launching `rake "keys:generate:mnemonic"` in the `sifnode` folder i get the following logs:

[code]
Just before launching `rake "keys:generate:mnemonic"`, I have successfully deployed the Kubernetes cluster, as launching `rake "cluster:deploy[merry-go-round,aws]"`shows the following logs:
[code]

What could be the problem?

Thanks

[2021-02-04 23:21] ElliotFriedman opened #649 "Cosmos Not Properly Processing Transactions"
**Describe the bug**
There was an issue with some transactions I sent through from ethereum to sifchain. First, the infura connection got dropped because we exceeded our account limit for the day. I found this and once the infura limit got raised again, we were able to connect and get new block headers and subsequently processed around 64 blocks at once. I checked to see if that amount made it ove

[2021-02-04 23:25] ElliotFriedman commented on #649
This is the point in the relayer log that the transaction gotbroadcast to sifchain:
`ethereum.go:246: Successfully received bridgebank events from block 9601563 to 9601627 `

[2021-02-05 00:48] utx0 commented on #644
You havent setup you local shell completely. As pre the readme you need the following set in your shell:

[code]

[2021-02-05 00:48] #644 closed

[2021-02-05 00:50] utx0 commented on #624
closed by https://github.com/Sifchain/sifnode/pull/640

[2021-02-05 00:50] #624 closed

[2021-02-05 23:31] emperorjm commented on #587
I had to restart the **sifnoded** process a second time for the connection issue to go away. Not sure why that was the case and I did twice more and the same thing.

[2021-02-07 06:33] #649 closed

[2021-02-07 06:35] ElliotFriedman commented on #328
Tx replay CLI has been merged to develop https://github.com/Sifchain/sifnode/pull/650/files

[2021-02-07 06:35] #328 closed

[2021-02-07 06:40] ElliotFriedman opened #661 "[Peggy] Only Saves to LevelDB on Second Startup"
**Describe the bug**
Currently, if you kill peggy the first time you have brought it up after running `start-integration-env.sh` while running with pkill ebrelayer || true, it will kill the relayer. If the relayer had no relayerdb file before, it won't create one, even if it says it saved some data to the database. Then, if you restart the relayer, and advance some blocks, it will create relayerdb

[2021-02-07 06:47] ElliotFriedman commented on #661
Steps to reproduce:

1. Delete the relayerdb folder in your root directory of sifnode
2. Run start-integration-env.sh
3. Pull up the log files in another terminal by going to test/integration/vagrant/data/logs and catting the sifnoded and ebrelayer log files.
4. Advance blocks with the yarn advance script in the smart contract folder
5. Watch the ebrelayer log files get longer and see it tell you

[2021-02-07 06:48] ElliotFriedman commented on #661
I could be checking for this relayerdb directory in the wrong top level directory when I am getting this issue so it could just be a user error.

[2021-02-08 02:47] banshee commented on #661
My guess is that you started ebrelayer from two different working directories.  start-integration-env.sh will always make smart-contracts the working directory when it launches ebrelayer, so the relayerdb/ directory should always be in smart-contracts for the integration tests.  If you have an relayerdb/ directory at the root, it wasn't created by the integration tests.

[2021-02-08 02:49] banshee commented on #661
I think a good resolution would be to have ebrelayer take a --relayerdblocation flag to specify the location and not just use the working directory.

[2021-02-08 15:01] ElliotFriedman commented on #661
That's looking like the likely issue is I am in the wrong directory when I restart it. I took a look to see if I could find the db somewhere outside the root directory, and low and behold, I found it in the smart-contracts directory as well. We could do what you suggested and give it a location, or just make sure our deployment scripts always run the same.

[2021-02-08 21:15] ElliotFriedman commented on #661
Closing as I was starting the relayer in the wrong directory

[2021-02-08 21:15] #661 closed

[2021-02-09 02:01] ElliotFriedman opened #669 "[Peggy] Need to Remember Where to Restart on Cosmos"
**Describe the bug**
The current architecture of peggy when receiving transactions from cosmos does not remember the last block or transactions that were processed. We need to build a mechanism such that we remember where we left off if the relayer crashes or suddenly goes down.

This should also take care of:
- [ ] Handle peggy restart and cosmos event picking up from where it left off.

[2021-02-09 02:04] ElliotFriedman opened #670 "[Peggy] Handling Errors with Blocks"
**Describe the bug**
Currently, when we receive an error from a block, we skip over it and go to the next one. Instead, we need to retry until we get that block processed and then move on.

[2021-02-12 16:40] ElliotFriedman opened #723 "[Peggy] Sifchain to Ethereum Doesn't handle Eth nonce correctly"
**Describe the bug**
Currently, when peggy is spammed with 100 tx's at once going from sifchain to ethereum, a we have hit issues where 1-3 transactions do not add balance to the ethereum account. The root cause of this issue initially we believe was that one relayer did not hear a sifchain transaction as it was overloaded. We then bumped up the memory to 4GB on all relayers so they wouldn't miss

[2021-02-12 17:14] ElliotFriedman commented on #723
Stack exchange question on this error: https://ethereum.stackexchange.com/questions/27256/error-replacement-transaction-underpriced

[2021-02-12 17:49] musnit commented on #723
cool, sounds like can just be fixed by improving our relayer error handling and nonce synchronisation?

[2021-02-12 21:19] ElliotFriedman commented on #723
Fix is here: https://github.com/Sifchain/sifnode/pull/711/files#

[2021-02-14 23:46] utx0 commented on #723
Closed by  https://github.com/Sifchain/sifnode/pull/711/

[2021-02-14 23:46] #723 closed

[2021-02-17 05:09] ElliotFriedman opened #753 "[Peggy] Smart Contract Gas Optimizations"
Currently, peggy uses lots of gas to move assets from sifchain to ethereum. In order to cut this down, here is what we can do from the smart contract side to minimize this.

When a user gets their funds unlocked, we write to storage in the bridgebank to save the amount of tokens that got unlocked. Instead of saving this to storage, we should stop doing this.

This means we can also not have to mak

[2021-02-19 14:56] caseyturnerarrington opened #787 "Users having issues with removing of liquidity"
**Describe the bug**
When trying to remove liquidity from a pool, the user is getting an 'There was an unknown failure' message. This should not happen.

**Bug Reproduction Steps**
- The pool in question is cETH <> ROWAN.
- The user goes to manage their pool, and tries to remove any amount of liquidity at various percentages. Try getting a mixture of the 2 assets.
- On submission and signing vis w

[2021-02-19 14:59] caseyturnerarrington opened #788 "Token Stats Calculations seem off"
**Describe the bug**
Token stats page seems off

**Bug Reproduction Steps**
- Trade Volume on Pool Stats is showing all $0 even though there has been activity https://vtdbgplqd6.execute-api.us-west-2.amazonaws.com/default/tokenstats. This is the endpoint. We are receiving 0 volume.
- What currency+denomination is volume measured in?

[2021-02-19 15:03] caseyturnerarrington opened #789 "Some users running into very high gas prices when trying to execute a peg"
**Describe the bug**
Some users are running into very high gas prices when trying to execute a peg. This doesn't seem to be consistent.

**Bug Reproduction Steps**
When executing a peg transaction, some gas prices are upwards of $3k?

**Screenshots**
<img width="1276" alt="Screen Shot 2021-02-19 at 7 01 53 AM" src="https://user-images.githubusercontent.com/45978818/108521369-a80e3c00-7299-11eb-869

[2021-02-19 15:06] caseyturnerarrington opened #790 "Reword Liquidity Mining for easier understanding"
**Describe the bug**
We need to reword our liquidity mining message to this: We need to change the Staking & Rewards modal so that it says: _Liquidity Mining: 27457.44096665 % APY_
Instead of:
_Liquidity Mining: 27457.44096665 Rowan_

Also, please add a line under "Learn more about staking and delegating here!" that says "Delegation instructions [here](https://docs.sifchain.finance/roles/delegator

[2021-02-19 18:11] caseyturnerarrington opened #794 "Users not able to see their liquidity pools"
**Describe the bug**
After a user addes liquidity to a pool, those pools are not displaying in their list of liquidity pools.

**Bug Reproduction Steps**
- Add liquidity to any pool.
- Successfully finish the adding of liquidty transaction.
- Now navigate to 'Pool'.
- The pool that the user just added liquidity too should be displayed in the You pool lists.

**Screenshots**
![Screen Shot 2021-02-1

[2021-02-19 19:17] 59023g commented on #789
Is this on Approve? or Spend?

[2021-02-19 19:18] 59023g commented on #789
@banshee pointed out we do not set gas limit on `burn()`

[2021-02-19 21:53] 59023g commented on #794
Very peculiar. And is working now. Wonder if has something to do with end point load capacities?

I do see, on our end, it's call intensive, meaning there's one call to `getPools` then `<address>` then `getAssets`  then one call to `getLiquidityProvider` per pool user has about once per 5 seconds. So for Taylor, he's making about 55 calls per 5 seconds. Some of which don't return until the next it

[2021-02-21 17:45] #790 closed

[2021-02-21 17:45] #789 closed

[2021-02-21 17:45] caseyturnerarrington commented on #787
Not able to reproduce. Closing

[2021-02-21 17:46] #787 closed

[2021-02-21 17:46] caseyturnerarrington commented on #788
Updates made. Closing

[2021-02-21 17:46] #788 closed

[2021-03-03 04:49] intl-man commented on #669
Testing...seeing if this actually works!?

[2021-03-05 20:54] caseyturnerarrington commented on #394
@utx0 is this still valid?

[2021-03-05 21:10] caseyturnerarrington opened #899 "Notification about a pending Peg transaction"
**Situation:**
- When executing a peg transaction, the user is left wondering when their transaction is going to be fully executed.
- In an ideal world, we should show the user that they have a pending peg transaction.
- If we can notify the user when they come into their account in sifchain that they have a pending transaction, that would be perfect.

Tasks:
- [ ] Phase 1: Basic notification for

[2021-03-05 21:11] caseyturnerarrington commented on #899
This will show only the ethereum side of things. Once there has been 50 confirmations, then it has been submitted to the relayer. At that point, we do not have visibility for this.

If we had a correlation ID, then we could correlate between sifchain & ethereum

[2021-03-05 21:19] caseyturnerarrington opened #900 "Playwright v1"
Epic to track work being done to integrate Cypress Testing.

See Notes:
https://docs.google.com/document/d/1OEY0k7GDJwmEgfGQve4yMohCw9KXo9AmnSQ7yuH7_O8/edit

[2021-03-05 21:52] caseyturnerarrington opened #901 "Feature: Guidance on Liquidity Pool Ratio"
**To do:**
- A toggleable feature that "suggests" optimal ratio when depositing value to liquidity pool.

**Here is what I am thinking for this:**
- We implement a toggle that allows a user to change from asymmetrical to symmetrical pooling.
- If asymmetrical (which it will default to) is turned on, pooling will work the exact way that it works right now.
- If symmetrical is turned on, then we wil

[2021-03-05 21:59] caseyturnerarrington opened #902 "Showing Information messages when adding liquidity asymmetrically"
**User Stroy:**
As a potential liquidity provider, I want to be informed when I am adding liquidity asymmetrically so I am aware of the potential ramifications of doing so.

**To do:**
- When a user is adding liquidity asymmetrically, we want to inform them of this action.
- Rules:
--  IF a user has entered in amounts that are defined as asymmetric based on the current pool ratios, then we will:
-

[2021-03-05 22:25] caseyturnerarrington opened #903 "Implement Prettier code standards across whole UI codebase"
"I think whatever it is it needs to be automatic and it needs to be universal." - Rudi

[2021-03-06 00:12] caseyturnerarrington opened #904 "Integrate Ramp into ur UI"
To do:
- We want to integrate Ramp (https://ramp.network/) into our U for users to be able to easily purchase tokens from directly within our application. Making it as easy as possible for users to get tokens and deposit those tokens into Sifchain is a something this would enable.
- For this implementation, we should go the route of sdk implementation so it sits directly in our app.
- We want to a

[2021-03-06 00:22] caseyturnerarrington commented on #902
@thomasdavis initial findings:
- If it is the first time a user is adding to the pool, then we shouldn't show this message:
![Screen Shot 2021-03-05 at 4 21 35 PM](https://user-images.githubusercontent.com/45978818/110187912-0255e380-7de8-11eb-8970-7b1133b86a0b.png)
- It looks like we are missing the informational icon to click on.

[2021-03-06 02:29] iverc commented on #902
@caseyturnerarrington @thomasdavis
We should say that the pool share after liquidity is estimated and is subject to change.
I believe we should have a lot more explanation around that in terms of network impact (someone adds before you, so you have an unexpected result, or one of the LPs removes liquidity before you finish the tx, again, unexpected result),
This is something we do not have any imp

[2021-03-06 22:29] caseyturnerarrington commented on #902
To summarize changes that we _should_ be doing for right now:
1) Color coding changes to the numbers within 'Prices after pooling & pool share' based upon Ivan's definition above.
2) Adjust the wording of 'Prices after pooling & pool share' to actually say 'Est. prices after pooling & pool share'.
3) If the color is yellow, orange, or red, include an 'i' icon in the upper right-hand corner of this

[2021-03-08 20:49] caseyturnerarrington commented on #904
Need to put on hold for legal reasons

[2021-03-08 21:07] caseyturnerarrington commented on #794
Closing this.

[2021-03-08 21:07] #794 closed

[2021-03-08 21:47] ElliotFriedman opened #921 "Incorrect TVL Stats"
Currently, the TVL stats on the dex page is incorrect. From what I can see, it includes all of the token value that is locked in the bridge bank, however, it does not include the value of the ether that is locked in the bridge bank as well.

How to replicate this issue:
Go to the bridgebank etherscan link and view all of the value of the crypto locked in it: https://etherscan.io/address/0xb5f54ac4

[2021-03-09 00:14] caseyturnerarrington commented on #921
@ElliotFriedman @nikohosn our TVL that we display in the DEX is:
1) Pool Depth across every pool
2) x2
= TVL

I feel like this is correct. I would chat with @AustinoBombino if you think that this should be adjusted.

[2021-03-09 00:35] ElliotFriedman commented on #921
Formula for this page should look like this:

Pool depth = rowan amount locked in pools
eth & tokens value locked = TVL in eth smart contract that has been pegged to sifchain

Pool depth + eth & tokens value locked
    = TVL

@nikohosn @AustinoBombino

[2021-03-09 01:29] ElliotFriedman commented on #921
@AustinoBombino I think it boils down to how we measure things. If we measure by total value pegged into the system, or if we measure things by total value pooled on sifchain.

[2021-03-09 01:38] AustinoBombino commented on #921
@ElliotFriedman  Yeah, totally agree. Just need to nail down which we want and make it clear to the user what that is.

[2021-03-09 02:18] caseyturnerarrington commented on #921
We are calculating this correctly. Total locked-in pools. Closing ticket.

[2021-03-09 02:18] #921 closed

[2021-03-10 20:14] 59023g commented on #900
- [x] Connect Keplr and Metamask Extensions in Potential Test Env
- [x] Decide on Framework: Playwright
- [x] Integrate with Github Action CI ("Headful")
- [x] Write initial test: Import Keplr Account, Connect to Keplr from DEX, Check Balance (From DOM)
- [ ] Write more Jest + Playwright tests
- [ ] Integrate with Local Test Environment for more Wallet Determinism

https://github.com/Sifchain/sifn

[2021-03-10 20:28] caseyturnerarrington commented on #899
Looks good. Ready to be deployed.

Please move to closed once deployed. @ryardley @59023g

[2021-03-10 23:24] thomasdavis commented on #903
WIP PR -> https://github.com/Sifchain/sifnode/pull/867

[2021-03-10 23:25] thomasdavis commented on #902
PR ready for review -> https://github.com/Sifchain/sifnode/pull/896

[2021-03-10 23:25] thomasdavis commented on #901
PR ready for review -> https://github.com/Sifchain/sifnode/pull/663

[2021-03-11 01:26] caseyturnerarrington opened #936 "Structured Logging for Peggy"

[2021-03-11 23:22] #899 closed

[2021-03-12 09:49] marbar3778 opened #943 "Faucet: dont load module in production"
### Is your proposal related to a problem?

The faucet module is loaded into a production chain while the client interactions are hid behind a chainID flag.

(Write your answer here.)

### Describe the solution you'd like

Not sure the best approach but we shouldn't load modules into the production path if they wont be used.

[2021-03-16 19:56] caseyturnerarrington commented on #902
@thomasdavis running into a weird case here. To recreate:
- I go into my existing liquidity pools.
- Click on manage and click add liquidity
- Click 'max' on the first input.
- Observe.
See attached video for what I am seeing.

https://user-images.githubusercontent.com/45978818/111371635-12838380-8670-11eb-9012-cd6075910c0b.mov

[2021-03-16 20:55] utx0 opened #954 "PoC SemVer Versioning tools for"

[2021-03-16 20:55] utx0 opened #955 "PoC Changelog generation tools"

[2021-03-16 21:08] utx0 opened #956 "Release Management"
We need to step up our release management game after the refresh of the envs.

Things like: Versioning, change-log generation, git tagging methods, etc

[2021-03-17 09:33] utx0 opened #961 "Project onboarding; Get acorss sifnode and friends"
https://github.com/Sifchain/sifnode

[2021-03-17 13:59] caseyturnerarrington commented on #902
<img width="1344" alt="Screen Shot 2021-03-17 at 6 53 01 AM" src="https://user-images.githubusercontent.com/45978818/111478563-925c2d00-8706-11eb-8fa0-d091527972ba.png">
1) @thomasdavis can we choose a different yellow color? I can hardly see the ! symbol at all here. (feel free to tap into @j-kappa for some help with the shading here)

2) Also, whats the exact logic you are using to determine whe

[2021-03-17 15:56] alijnmerchant21 opened #962 "Loyalty Program"
**Create a "loyalty program" for Validators / Delegators and Liquidity Miners**

_Just in ideation phase_

[2021-03-17 18:48] #330 closed

[2021-03-17 18:52] ElliotFriedman opened #963 "Add feature to integration test environment to allow using geth (ropsten, private geth network etc) instead of ganache for local test"
Comment:

There are still a couple details to clean up, and it got kicked out of being the top item on my priority list. We can run test_eth_transfers against a local geth, and we can run selected tests against testnets (sandpit, swing-set).

[2021-03-17 18:53] ElliotFriedman opened #964 "Integration tests should give better diagnostics when sifchain itself fails to even start"

[2021-03-17 18:55] ElliotFriedman opened #965 "Run ebrelayer with -race set in tests"
https://github.com/Sifchain/issues/issues/96

[2021-03-17 19:02] ElliotFriedman opened #966 "Investigate error handling in ebrelayer, particular around errors that are logged but don't halt"
Comment from James:
ebrelayer has a lot of code like this:

if len(events) > 0 {
if err := sub.handleEthereumEvent(events); err != nil {
log.Println("handleEthereumEvent failed: ", err.Error())
}
time.Sleep(transactionInterval)
}

The problem is that we just log the error and continue.  Seems like we should retry in certain failure cases.
Document on this:
https://docs.google.com/document/d/1iZE5I

[2021-03-17 19:04] ElliotFriedman opened #967 "Add upgrade tests for keeper updates"
Comment from Elliot:

What keepers are we planning on updating?
Comment from James:
This came up in standup where we talked about keeper modifications will require migrations (I think?) and those should have tests. Brent McDowell utx0 what was the specific modification that we were talking about?

[2021-03-17 19:06] ElliotFriedman opened #968 "Instead of burning Ceth on Lock or Burn TX's, transfer to an account."
Currently, when a user submits a lock or burn transaction on sifchain to move their funds across the bridge, the ceth amount in that transaction gets sent to a cosmos module. We need a function in cosmos that anyone can call that pays out all ceth balance of that cosmos module to a hardcoded sifchain address that we control. This will allow us to retrieve all locked ceth. We can then unpeg that ce

[2021-03-17 21:17] j-kappa commented on #902
@thomasdavis yeah that yellow isn't visible. Foregoing a redesign, a quick fix would be to replace it with #CAA93B
Until I can get my hand on it preoperly.

[2021-03-18 23:40] caseyturnerarrington commented on #337
Per James, closing this.

[2021-03-18 23:40] #337 closed

[2021-03-18 23:40] caseyturnerarrington commented on #318
Per James, closing

[2021-03-18 23:40] #318 closed

[2021-03-18 23:42] banshee commented on #964
Really this is more that tests should also have alerts when things like ganache, sifnoded, ebrelayer stop running.

[2021-03-18 23:47] caseyturnerarrington commented on #966
Key notes:
- This is around ebrelayer improvements

[2021-03-18 23:51] caseyturnerarrington commented on #966
To do discuss in architecture tech meeting.

[2021-03-19 05:18] #962 closed

[2021-03-19 18:27] ElliotFriedman commented on #966
That could be useful for catching these kinds of bugs.

[2021-03-19 22:51] marbar3778 commented on #943
Opened a different issue in sifchain/issues, can close this

[2021-03-19 22:51] #943 closed

[2021-03-22 18:43] pandaring2you commented on #966
Decision from [Technical Architecture Meeting](https://docs.google.com/document/d/1turfT2RQSwEN2cOmyL2ekLKlXZkSYxLoJmjmClm6Z70/edit#):
- Short Term Solution: Add retry and continue logic on errors.
- Mid Term Solution: Set up pager duty for errors. Logic TBD
Note: Aidan suggested defaulting to not throwing an error in mempool.

[2021-03-22 18:57] pandaring2you opened #991 "Setup Pager Duty for ebrelayer Errors"
*Needs Specing in Peggy Sync Meeting*

### Is your proposal related to a problem?

Ex. Relayer errors are sometimes not resolved until after the weekend as we do not have a system for assigning responsibility to the person who should resolve it.
https://github.com/Sifchain/sifnode/issues/966

### Describe the solution you'd like

[2021-03-23 07:39] utx0 opened #996 "Revise Jailing params"
Community is asking for changes to the jail params. This will need to be reviewed due to possible issues with cosmos 0.39 and might have to wait until we upgrade to 0.4x

[code]

[2021-03-23 23:35] pandaring2you commented on #991
After we get structured logging pushed, we should be ready to implement this task

[2021-03-25 13:34] alijnmerchant21 opened #1005 "User Resolution"
Contact: Discord Handle:
xXx#0658

Alt contact: Email Address:
tuthan0011@gmail.com

Current Behavior:
I have unpeg cUSDT to USDT on https://dex.sifchain.finance/#/peg. But has yet to receive his USDT.

Expected Behavior:
I do this at 9:31:56 am UTC. So far I have not received my USDT.

Steps to reproduce:
I go as usual and receive successful transaction confirmation. But no money is found in the

[2021-03-25 13:39] #1005 closed

[2021-03-26 19:27] ElliotFriedman opened #1010 "Give all JSON logs a unique key in relayers"
Currently, our JSON logs in the relayers have a bunch of information, however, there is not an easy way to search the logs for different types of events happening. To support this, all of our logs need the same key `eventType` that has a unique value based on what event is happening in the code. This will allow us to sort through large amounts of logs and make sense of different things that are ha

[2021-03-26 21:31] khdegraaf opened #1011 "Update testing and add new integration testing in response to new Peggy features and PRs"
This is an ongoing responsibility that we should clone and estimate each Sprint

[2021-03-26 22:12] banshee commented on #963
Duplicate of https://github.com/Sifchain/issues/issues/92

[2021-03-26 22:12] #963 closed

[2021-03-29 17:52] #902 closed

[2021-03-29 17:52] #901 closed

[2021-03-29 17:52] caseyturnerarrington commented on #903
@59023g @thomasdavis is this considered done?

[2021-03-29 18:13] caseyturnerarrington commented on #961
@timlind is this ticket considered 'complete'?

[2021-03-29 18:26] 59023g commented on #903
Done

[2021-03-29 18:26] #903 closed

[2021-03-29 19:20] pandaring2you commented on #991
Hey @intl-man - is this something you could help us out with after structured logging is pushed?

[2021-03-29 19:24] pandaring2you commented on #1010
duplicate of pegg#49

[2021-03-29 19:25] #1010 closed

[2021-03-29 19:40] pandaring2you commented on #968
After this is pushed, will need to be tested. Then devops will need to run scripts to update env variables to allow exec to withdraw ceth.

[2021-03-29 22:18] #936 closed

[2021-03-29 22:18] #670 closed

[2021-03-29 22:18] #669 closed

[2021-03-30 17:38] ElliotFriedman opened #1038 "Research Gas Cost Implications with Berlin Hardfork for Peggy"
The Berlin hard fork is coming to ethereum mainnet on April the 14th. With it, there are changes to SLOAD and CALLDATA opcodes that could directly impact how much gas peggy is spending. Because of this, we need to figure out what the new costs are going to be for our smart contracts to run on mainnet. If gas prices are going to change drastically for us, we may need to do a hot fix to the smart co

[2021-03-30 20:05] ElliotFriedman commented on #1038
Current findings:
We will be charged approximately 30K more gas than we are currently paying on mainnet with the changes in the berlin hardfork when unpegging ERC20 tokens from sifchain to ethereum.

Pegging rowan from sifchain to ethereum will cost approximately 50k more gas.

https://docs.google.com/spreadsheets/d/1aRVVgCpr9_u7WD8RLXHjRM8J0JnSalFRP3WdLUJzIlU/edit#gid=0

[2021-03-30 23:08] pandaring2you commented on #1038
Note: 50K gas increase for unpegging (10-20% increase in gas costs)

Should we optimize current smart contracts, even though changes will be moot when we go to Peggy 2.0?
AI: Jordan - check in with Jazear on this

[2021-03-31 02:10] cybist opened #1040 "cosmovisor said "current binary invalid: sifnoded is not world executable""
I was tracing https://github.com/Sifchain/sifnode/blob/master/docs/chainOps/standalone/tutorials/testnet.md

But I can't boot my node normally and cosmovisor said "current binary invalid: sifnoded is not world executable".

Please tell me what I mistake.
[code]

[2021-03-31 02:57] ElliotFriedman commented on #1038
@pandaring2you I have some gas optimizations prepped on this PR. These changes will need to go out for review and we will need to test them in their own environment and then move them through the pipeline.

Currently, I have been able to save 54,283 gas on unlocking tokens and 36,805 gas on pegging rowan to erowan.

This will require some coordination to upgrade these smart contracts in production

[2021-03-31 05:26] ElliotFriedman commented on #1038
Berlin Links:
https://www.reddit.com/r/ethereum/comments/m0laoy/ethereum_berlin_upgrade_announcement/
https://eips.ethereum.org/EIPS/eip-2929

[2021-03-31 15:17] ElliotFriedman commented on #1038
We will not be going forward with optimizations at this time.

[2021-03-31 15:17] #1038 closed

[2021-03-31 16:10] ElliotFriedman opened #1048 "Update gas cost in sifnode for unpeg tx's to account for Berlin changes"
Ethereum is hardforking to berlin. The EVM will be charging more for certain OPCODES like SLOAD and CALLDATA, both of which effect us. We need to increase our gas costs we charge end users to cover these increasing costs.

Gas cost for unpegging EVM natives assets and pegging rowan to erowan have increased to close to 390k gas respectively for all 4 transactions to fire from the relayers.

[2021-03-31 17:23] ElliotFriedman opened #1050 "[UI Hotfix] Bump CETH costs for unpegging"
All unpeg transactions where assets move from sifchain to ethereum should be bumped to 0.1 ceth to unpeg. This will help us not lose money when gas prices spike and will hold us over until we get the UI dynamic fee mechanism done.

[2021-03-31 23:06] pandaring2you commented on #1050
Need Brent to chat with Michael on deployment.

[2021-03-31 23:52] ElliotFriedman opened #1059 "Instead of Minting rowan on sifchain when users are unpegging, transfer from module to account"
Currently, when a user unpegs their erowan to rowan, we simply mint them new rowan. Then, when a user turns their rowan to erowan, they lock their rowan up inside of the ethbridge module's account. This has led to 89 million total coins being locked in the ethbridge module. There should theoretically be much less when you factor in the current erowan token supply.

When a user moves erowan to rowa

[2021-04-01 01:14] westaking commented on #996
BlockTime : 5.65s
SignedBlocksWindow: 5000
MinSignedPerWindow: 0.05

SignedBlocksWindow * ( 1 - MinSignedPerWindow ) * BlockTime
5000 * ( 1 - 0.05 ) * 5.65s = 26837.5s (7.454861h)

The 7.5h downtime allowance is still not enough.
Validators need enough time to overcome failures in unexpected situations.

Let's take an example.

There is a validator service provider with 2 operators working.
It's t

[2021-04-01 01:23] creamjun commented on #996
'This will also be 0.001 (0.1%) like cosmos.'
-> This also suggests 0.001 (0.1%) like cosmos.

[2021-04-01 15:38] gzukel opened #1064 "Create pipeline for deploying Cert-manager into devnet and testnet"
Create Rake task to deploy cert-manager into Kubernetes.
Create Github action to deploy cert-manager into all 4 regions for devnet and testnet.

[2021-04-01 15:43] gzukel opened #1065 "Create Vault deployment pipeline for testnet and devnet all regions"
Create rake task to deploy Hashicorp Vault in HA mode with auto-unseal and recovery and have it back up the master tokens to s3.
Create Github action pipeline to deploy Hashicorp Vault in HA mode to devnet and testnet all regions.

[2021-04-01 15:45] gzukel opened #1066 "Create ebrelayer Integration Test GitHub Action"
Create Github action to execute James Moore ebrelayer integration test in testnet and devnet on successful pipeline deployment to validate deployment is moving money across the network appropriately and the deployment was successful.

[2021-04-01 15:47] gzukel opened #1067 "Create Governance Proposal & Vote Pipeline"
Create github action that will raise a governance proposal and vote on it automatically for testnet and devnet environments based on the established pattern with ebrelayer pipeline.

Create rake tasks to do the task and pipeline to run it.

[2021-04-06 22:36] timlind commented on #961
Yes!

[2021-04-06 22:36] #961 closed

[2021-04-07 19:35] caseyturnerarrington opened #1090 "Onboarding Task for Dev or Technical PM/EM (Marshall)"
Read the following documents:
- [x] [Liquidity Pool PRD](https://docs.google.com/document/u/1/d/1P9Co01zrTFz-x9ardaoYF7xfVskN21XR/edit)
- [x] Peggy Review: [Peggy Integration PRD](https://docs.google.com/document/d/1sOg5CKW6tm8YMB0hBh8OGmOIX7eJpxBY/edit#heading=h.7n7c55dtc44q), [Peggy Architecture (no IBC)](https://github.com/Sifchain/peggy/blob/develop/docs/sifchain-peggy-architecture-no-ibc.md),

[2021-04-07 20:18] caseyturnerarrington opened #1091 "Rewards 2.0: V2"
**User Story:**
- As a user, I want to easily see all of the rewards I have earned and be able to withdraw them so I can use them for other great activities in sifchain.
- As a user, I want to learn more about the rewards programs I do not have any rewards from so I can make moves to earn those rewards.

**Proposed Design:**
<img width="1129" alt="Screen Shot 2021-03-26 at 2 31 28 PM" src="https:/

[2021-04-08 01:38] jkbrooks commented on #996
@caseyturnerarrington please get this into the sprint next week

[2021-04-08 02:11] caseyturnerarrington commented on #996
@jkbrooks we had a meeting on this today. It will be in on Monday.

[2021-04-08 21:21] iverc opened #1102 ".42 upgrade: Dispensation Module"

[2021-04-09 05:05] #1064 closed

[2021-04-09 05:05] #1065 closed

[2021-04-09 05:05] #1067 closed

[2021-04-09 05:06] gzukel commented on #1067
increased the story points because we added ability to trigger release and orchestrate the entire process.

[2021-04-09 19:57] caseyturnerarrington commented on #996
Decision:
⁃ SignedBlocksWindow: 5000
⁃ MinSignedPerWindow: 0.050000000000000000
⁃ SlashFractionDowntime: 0.000100000000000000

[2021-04-10 02:16] westaking commented on #996
What was the basis for this decision?

[2021-04-11 23:21] jkbrooks commented on #996
@caseyturnerarrington yea I'd love to know how we got to this decision as well.  It looks like we did everything requested except update SlashFractionDowntime but why not make it 0.001?

[2021-04-12 10:13] ryardley opened #1117 "Stopping and restarting `sifnoded` causes error - regression"
When a node operator wants to restore from a backup sifnoded will not be able to be started. This also has implications for testing as due to this bug we cannot snapshot state effectively.

**Current behavior**
When restarting a single node sifnoded instance after it has been killed it appears that it cannot continue from the last block and returns an error `failed to load Store: initial version s

[2021-04-12 20:21] #1050 closed

[2021-04-13 03:32] 59023g commented on #1091
@caseyturnerarrington Should this be an epic?

[2021-04-13 03:36] Dluks82 commented on #1091
👀 Yeah? Go team! Keep excellent work!

[2021-04-13 12:59] caseyturnerarrington commented on #1091
@59023g the epic is 'Rewards 2.0': https://github.com/Sifchain/issues/issues/102

The natural progression of this should be (of remaining FE tickets):
1) Display Validator Subsidy into UI - https://github.com/sifchain/issues/issues/305
2) Rewards 2.0: V2 - https://github.com/Sifchain/sifnode/issues/1091
3) Rewards 2.0: UX Rules - https://github.com/sifchain/issues/issues/202
4) Need to implement t

[2021-04-14 19:48] caseyturnerarrington opened #1131 "Notification to users who reach their full maturity date on their rewards"
## Context
Why are we doing this work? How does it interact with other work being done? This could be formatted in a user story type way, for example:
- Users want to be notified when they hit their full maturity date for their rewards (LM and VS) so they can claim these rewards and use them in our DEX

## Definition of Done:
- Create a mechanism to notify users who have LM and/or VS rewards and t

[2021-04-14 19:49] caseyturnerarrington commented on #1131
From a user idea item of: https://sifchain.aha.io/ideas/ideas/SC-I-17?active_tab=tasks#task_6950046409660577789

[2021-04-14 20:13] 59023g commented on #1091
Waiting on Data.

[2021-04-15 04:58] pandaring2you commented on #1059
@ElliotFriedman - what are we going to do with the surplus Rowan that was minted? burn it?

[2021-04-18 01:18] marshsif commented on #1090
I've gone through everything above. Getting a sifnode deployed proved difficult because the docs don't cover AWS EKS setup for k8s or for standalone config. I'll chat with Brent and Grant about it on Monday.

[2021-04-18 01:19] #1090 closed

[2021-04-19 23:19] khdegraaf opened #1152 "Come up to speed on existing test infrastructure"
Get sifnode to compile, and run automated tests locally.  In particular go.yml, node.yml, integrationtest1.yml, integrationtest2.yml, and playwright-ui.yml.

[2021-04-20 05:56] #1117 closed

[2021-04-21 02:11] #1048 closed

[2021-04-21 12:57] caseyturnerarrington commented on #1091
@59023g are you handling this ticket? I feel like you should since you are handling ticket 318. https://github.com/Sifchain/issues/issues/318

[2021-04-21 14:10] 59023g commented on #1091
@caseyturnerarrington Yes

[2021-04-21 17:14] caseyturnerarrington commented on #1091
Beautiful

[2021-04-21 20:51] #968 closed

[2021-04-23 00:39] marshsif opened #1167 "Update/Fix SifGen for .42"
James Moore suggested creating a ticket for this to go with the PR and since it is part of .42.

[2021-04-23 04:43] gzukel commented on #1066
Instead of running the integration test, we decided to look at the logs and look for valid transactions happening which is in place and this should be closed.

[2021-04-23 05:53] #1066 closed

[2021-04-23 18:48] gboie opened #1173 "Generate Helm Chart for Integration Testing"
Create helm chart necessary to deploy the containers needed to setup the integration test environment.

[2021-04-26 05:27] pandaring2you opened #1588 "Modify Sifnode Lock Command: Charge Fees in BNB instead of ETH"
https://sifchain.aha.io/features/SC-53

[2021-04-26 05:35] pandaring2you opened #1587 "Implement Sifnode Relayer Whitelist"
Problem: Our current relayer setup is suited to only Ethereum. Peggy 2.0 will require groups of relayers listening to different chains that we integrate

One liner: The relayer whitelist will map relayers to specific networks so that each relayer listens to its particular chain.

Goals:
X number of relayers listening to each newly integrated network

Technical specs: https://docs.google.com/docume

[2021-04-26 19:09] pandaring2you commented on #1059
still needs devnet testing

[2021-04-27 17:59] caseyturnerarrington opened #1192 "UX: If a user has a 'pending claim' disable the claim button from being clicked on again"
**UX Flow:**
- If a user has a 'pending claim' disable this claim button from being clicked on again.
-- Need to return the fact that there is a pending claim for an address. This can be done via the same endpoint that we are returning all other reward info in. @AustinoBombino to do
-- If this is returned, then the UI should a) disabled claim button and b) include hover that says 'You have a pendi

[2021-04-27 20:52] caseyturnerarrington opened #1194 "New Query needed to gather all pending claim Txs"
To do:
- Every Friday, we will run a query to get all unprocessed claims for the week.
- This will output a list of addresses and reward type.
- This should probably mark these entries as now processed.

This output will be used as the input for ticket 354

[2021-04-27 22:17] ElliotFriedman opened #1195 "Remove ethEventBuffer.go from Relayer Code"
Currently, our codebase still has some old code that we abandoned. We just need to delete the code from ethEventBuffer.go.

[2021-04-28 18:40] caseyturnerarrington commented on #996
Reason behind these numbers:
- We are wanting to strike a balance between a) responsibility and b) forgiveness as our product and our processed take form and mature.

For this reason, we decided that ~7.5 hours of downtime is a sufficient amount of time to get a node back up and running in the case something goes down. We also decided to be a bit liberal on our SlashFractionDowntime as, again, we

[2021-04-28 19:58] marshsif opened #1199 "Delete all merged branches (.42 or other)"
Marko had a good suggestion to do some branch hygiene by deleting all merged branches to date, .42 or otherwise.

[2021-04-28 20:22] AustinoBombino opened #1200 "Liquidity Event Typo"
**Current behavior**
Liquidity Provider events reported from Sifnode have a typo in the liquidity_provider attribute:
[code]

**Expected behavior**
liquidityOroviderAddress should be liquidityProviderAddress

**Additional context**
Typo is here in code:
https://github.com/Sifchain/sifnode/blob/5932be4dc63656f5e011bb88e359810af8238722/x/clp/types/types.go#L52

[2021-04-28 22:04] marshsif commented on #1102
Based on a convo yesterday, I'm reassigning this to Tanmay, who won't be able to start work on this until next week.

[2021-04-29 00:27] #991 closed

[2021-04-29 13:02] caseyturnerarrington commented on #1195
@ElliotFriedman are you planning on doing this ticket in this sprint?

[2021-04-30 00:56] timlind commented on #1102
Fyi this task's title is technically done in the last ebrelayer PR, so should probably change. The remaining work is to migrate new dispensation work on top of that.

[2021-04-30 16:01] ElliotFriedman opened #1216 "Update Unpeg Cost to 0.07 Ceth"
Currently, the UI is charging users .1 ceth to unpeg. We need to lower this down to 0.07 on the UI.

[2021-04-30 16:53] ElliotFriedman commented on #1216
Tested in devnet and looking good. Hotfixed up to testnet. @khdegraaf or @caseyturnerarrington I would appreciate if you could test it in testnet to ensure that the peg fee is 0.07 ceth and things work smoothly when using the UI and unpegging.

[2021-04-30 17:06] caseyturnerarrington commented on #1216
@ElliotFriedman yup can do. Is this ready to test in TestNet right now?

[2021-04-30 17:23] ElliotFriedman commented on #1216
@caseyturnerarrington Yes this is in testnet right now and is ready to be tested.

[2021-04-30 17:32] kingpinXD commented on #1102
@timlind @marshsif  , Yup Tim is correct . My work would go on top of the work he already did .

[2021-04-30 17:37] marshsif commented on #1102
ok thanks

[2021-04-30 18:23] sifmoon opened #1217 "Knowledge Transfer Sessions"
We are going to start an initiative around doing some deep knowledge transfer sessions from our core engineering team to our dev rels team (and along with this, ideally create content that we can use to communicate out to the community to really jumpstart external development assistance).

**End Goals:**
- For our dev rels team to understand things more on a technical level.
- For anyone else on t

[2021-04-30 20:51] caseyturnerarrington commented on #1216
@ElliotFriedman successfully tested unpegging in TestNet.

However, I am running into failures when trying to peg in TestNet right now? Can you have a look and see:
https://ropsten.etherscan.io/tx/0x7b52062c1f1561d2cb07be4baf2e575aec84d39614c87be75e2defd1d061e496

[2021-04-30 21:35] marshsif opened #1218 "BUG ebrelayer "no custom querier found for route acc: unknown request","proofOps""
From Kevin:

"
OK, I modified most of the cli commands used for ui in order to fix a bunch of stuff.  It now gets pretty far through the ui CICD tests in node.yml, and ends up failing in ebrelayer with a runtime error:

stom/acc/account result={"code":6,"codespace":"sdk","height":"0","index":"0","info":"","key":null,"log":"no custom querier found for route acc: unknown request","proofOps":null,"va

[2021-04-30 21:38] marshsif opened #1219 "BUG: CLI commands require --log_level to be filled in as a parameter"
From Kevin:

"it looks like a lot of commands now require --log_level to be filled in as a parameter.  If you don't, it complains
Error: failed to parse log level (main:info,state:info,*:error): Unknown Level String: 'main:info,state:info,*:error', defaulting to NoLevel
The help documentation for the command states that missing --log_level should default to info, and most commands appear to do tha

[2021-04-30 22:19] marshsif commented on #1102
Tanmay, from the above comments, I'm not clear on the scope of the work for dispensation, can you briefly explain?

[2021-04-30 22:54] marshsif opened #1220 ".42 upgrade: Create integration tests for dispensation module"
Tanmay, assigning to you unless someone else can assist.

[2021-04-30 22:55] #1220 closed

[2021-05-01 13:08] caseyturnerarrington commented on #1216
Looks great. Ready to merge

[2021-05-01 13:08] caseyturnerarrington commented on #1216
@alijnmerchant21 @lufa23 @jkbrooks This looks like something we will want to announce to the community.

[2021-05-01 16:29] aahutsal commented on #624
@ElliotFriedman would be good to close gitcoin issue as well ;)

[2021-05-02 05:54] jkbrooks commented on #996
Thanks @caseyturnerarrington please link to the PR corresponding to this issue.  Alternatively, if you link to this issue in the PR, Github will create a link to the PR here automatically - https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue

[2021-05-02 14:33] caseyturnerarrington commented on #996
@intl-man Can you link the corresponding PR to this ticket please?

[2021-05-03 18:38] marshsif opened #1232 "Update Sifnode (and other corresponding) Documentation & scripts to conform with CosmosSDK .42 upgrade, such as CLI interface changes"
update all the documentation scripts.  Many of them use sifnodecli commands, and all of them are going to change.  Also, there's been quite a bit of drift, so some of them probably just get deleted instead of updated.  (At a very high level, a grep for sifnodecli should eventually return close to 0 results; it's currently returning 425, and that's in the branch that has them removed from the integ

[2021-05-03 23:01] #996 closed

[2021-05-03 23:02] caseyturnerarrington commented on #1216
@ElliotFriedman did we merge this one in yet?

[2021-05-03 23:03] caseyturnerarrington commented on #1216
Looks like yes. Moving to done.

[2021-05-03 23:03] #1216 closed

[2021-05-03 23:03] #900 closed

[2021-05-04 00:13] gzukel opened #1235 "Investigate Block Height Calculation In Release Automation"
Brent noticed the block height calculation was extremely close. Need to double-check the calculation math and code to ensure its correct and or scale it more to ensure more head room on upgrades.

[2021-05-04 03:00] intl-man commented on #996
@caseyturnerarrington PR: https://github.com/Sifchain/sifnode/pull/1129

[2021-05-04 15:22] marshsif commented on #1102
@intl-man PR 1159, which relates to this ticket, outlines some genesis state work for deployment. Not sure how we should record & track these downstream tasks so that we don't overlook them?

[2021-05-04 15:29] marshsif commented on #1102
PR 1234 is for work in .42.
PR 1146 shows the same work that was done for .39.
PR 1159 adds genesis state export to .39

[2021-05-04 18:43] marshsif opened #1240 "Review to determing if Sifgen testnet work for possible duplication/redundancy"
@banshee identified possible duplication of data related to sifgend

[2021-05-06 14:30] khdegraaf opened #1254 "Add security policy to our repository"
See https://github.com/sifchain/sifnode/security/policy.  Should at least be directions to HackerOne public bug bounty program along with some other commentary

[2021-05-06 21:12] ElliotFriedman opened #1256 "Revert Peggy 2.0 Code Changes for Storage Layouts in Smart Contracts"
Revert Peggy 2.0 Code Changes for Storage Layouts in Smart Contracts. I made an assumption that our storage layout was messed up due to global variable shadowing. However, after asking the openzeppelin team if this is fatal, I have discovered that it is possible to keep the current code in place without migrating the value in the smart contracts and completely foregoing an upgrade.

Roll back the

[2021-05-07 19:13] #1199 closed

[2021-05-07 19:15] marshsif opened #1263 "Merge develop into .42"
This hasn't been estimated yet, once Tim/Ivan have had a chance to start we'll get a better idea.

[2021-05-07 19:18] marshsif opened #1264 "Create Regression tests of the chain migration from .39 to .42"
we need unit/regression tests to verify accuracy of the chain migration, which may involve comparing the genesis JSON file that is exported from .39 & updated per .42 conventions.

[2021-05-07 19:23] marshsif opened #1265 "Create regression tests to improve coverage of ebrelayer use cases"
Add regression tests of the ebrelayer. Speak with Peggy/James to create a list of necessary tests.
Add unit tests as needed to improve overall code coverage.

[2021-05-07 22:51] khdegraaf opened #1268 "Link on our main page of sifchain.finance is wrong"
See url https://www.linkedin.com/company/kns-group/about/.  This should be fixed to something correct.

[2021-05-08 00:19] #1254 closed

[2021-05-08 16:42] khdegraaf opened #1275 "Expired Discord Link - Vanity Address could be used to link a malicious Discord server"
Link:		https://hackerone.com/reports/1188875
Date:		2021-05-08 07:49:41 UTC
By:		k_outis
Weakness:	Violation of Secure Design Principles

Details:
Hi there sifchain security team:
While looking into your code at `https://github.com/sifchain/sifnode`, I found an Expired Discord link in `readme.md` and `index` file see the attached screenshot. This page contains a discord server invite link `https:/

[2021-05-08 16:44] khdegraaf commented on #1275
khdegraaf triaged the report on HackerOne:<br /><br />This is automatically Low severity according to our policy scope.

[2021-05-08 16:44] khdegraaf commented on #1275
hackbot updated the remediation guidance for the report on HackerOne

[2021-05-08 17:10] khdegraaf commented on #1275
I am very skeptical about the security issue, but we should fix the link regardless.

[2021-05-10 15:43] #1152 closed

[2021-05-10 17:50] caseyturnerarrington commented on #1091
Closing this ticket as it is out of date.

[2021-05-10 18:07] khdegraaf commented on #1275
FYI @caseyturnerarrington.

[2021-05-10 18:08] khdegraaf commented on #1275
After reading write-ups on the vulnerability, this seems plausible (although I haven't tried to reproduce the problem).

[2021-05-10 18:14] #1275 closed

[2021-05-10 21:13] caseyturnerarrington commented on #1195
@ElliotFriedman as the sprint ends tonight, were you able to get to this ticket or will this move to next sprint?

[2021-05-10 23:52] Jedi2002 commented on #1194
This has been merged to develop .

[2021-05-10 23:52] #1194 closed

[2021-05-10 23:57] Jedi2002 commented on #1102
This work has been done ,and the complete code should be available in  feature/cosmos-grpc-dispensation  branch

[2021-05-12 03:23] alijnmerchant21 commented on #1268
The link has been removed. Moving the issue to closed.

[2021-05-12 03:23] #1268 closed

[2021-05-13 18:18] marshsif commented on #1265
This probably needs some initial scope, to describe the tests to be created.

[2021-05-13 18:19] marshsif commented on #1240
Marko suggested that sifgen had duplicated code according to @banshee

[2021-05-13 19:07] Arvcrj opened #1318 "555-555-0199@example.com"

[2021-05-13 19:07] #1318 closed

[2021-05-13 19:18] Arvcrj opened #1319 "555-555-0199@example.com"

[2021-05-13 19:18] Arvcrj opened #1320 "555-555-0199@example.com"
**Current behavior**
Please describe the issue you are facing.

**Expected behavior**
Please describe what you were expecting to happen when performing your operation.

**Steps to reproduce**
Please provide an itemized list of steps we can take in order to reproduce the issue

Identify exact point in reproduction steps where expectation is violated

Example of identifying point where expectation i

[2021-05-13 19:18] Arvcrj opened #1321 "555-555-0199@example.com"
### Is your proposal related to a problem?

&lt;!--
  Provide a clear and concise description of what the problem is.
  For example, &quot;I&#39;m always frustrated when...&quot;
--&gt;

(Write your answer here.)

### Describe the solution you&#39;d like

&lt;!--
  Provide a clear and concise description of what you want to happen.
--&gt;

(Describe your proposed solution here.)

### Describe alte

[2021-05-13 19:18] Arvcrj opened #1322 "555-555-0199@example.com"

[2021-05-14 18:58] tarun123-tarun opened #1327 "555-555-0199@example.com"

[2021-05-14 18:58] tarun123-tarun opened #1328 "555-555-0199@example.com"
**Current behavior**
Please describe the issue you are facing.

**Expected behavior**
Please describe what you were expecting to happen when performing your operation.

**Steps to reproduce**
Please provide an itemized list of steps we can take in order to reproduce the issue

Identify exact point in reproduction steps where expectation is violated

Example of identifying point where expectation i

[2021-05-14 18:58] tarun123-tarun opened #1329 "555-555-0199@example.com"
### Is your proposal related to a problem?

&lt;!--
  Provide a clear and concise description of what the problem is.
  For example, &quot;I&#39;m always frustrated when...&quot;
--&gt;

(Write your answer here.)

### Describe the solution you&#39;d like

&lt;!--
  Provide a clear and concise description of what you want to happen.
--&gt;

(Describe your proposed solution here.)

### Describe alte

[2021-05-14 18:58] tarun123-tarun opened #1330 "555-555-0199@example.com"

[2021-05-14 19:00] tarun123-tarun opened #1331 "555-555-0199@example.com"

[2021-05-14 19:00] tarun123-tarun opened #1332 "555-555-0199@example.com"

[2021-05-14 19:37] tarun123-tarun opened #1335 "555-555-0199@example.com"

[2021-05-14 19:37] tarun123-tarun opened #1336 "555-555-0199@example.com"

[2021-05-17 08:55] #1102 closed

[2021-05-18 03:33] ElliotFriedman opened #1346 "Add Retry Logic Transactions from Ethereum to Sifchain"
Currently, when broadcasting transactions from ethereum to sifchain, we do not retry on failed transactions. We need to add logic to do this.

[2021-05-21 11:47] timlind commented on #1264
@Jedi2002 You mentioned previously doing this sort of test. Can you provide some details here regarding how you went about it, or various options to do so? cc @iverc

[2021-05-21 17:41] Jedi2002 commented on #1264
The test I was talking about was to test a formula ,which would rebalance pools
The steps we took ,
- Export the state from betanet
- Start a chain with that state (devnet)
- Apply the pool change upgrade formula.
- Check if the final values were appropiate.

I think for this use case , all we need is to compare wether the state is properly reflected in the .42 genesis . And after starting a chain

[2021-05-25 21:43] caseyturnerarrington commented on #1200
@AustinoBombino are you planning on taking this on this sprint?

[2021-05-25 21:49] marshsif opened #1379 "Create documentation on .42 upgrade (to assist external security auditors)"
Write a summary of the work performed for the .42 upgrade.

This should go in Notion in Sifnode wiki.

It should probably summarize changes to BaseApp, modules impacted, messages impacted, genesis state, distribution claims module logic, ebrelayer logic, refactoring of the integration tests, REST API and CLI changes.

[2021-05-26 17:08] pandaring2you commented on #1059
(still under review). @ElliotFriedman - can we get this squared away this sprint? if not, let's just put it into the icebox to focus on peggy 2.0

[2021-05-26 20:36] marshsif opened #1389 "Liquidity Mining Integration tests & code refactoring for .42"

[2021-05-26 20:37] marshsif opened #1390 "Peggy Fees integration tests & code refactoring for .42"

[2021-05-26 20:38] marshsif opened #1391 "EBRelayer integration tests & code refactoring for .42"

[2021-05-26 22:11] AustinoBombino commented on #1200
@caseyturnerarrington yeah I can knock this out

[2021-05-27 23:05] pandaring2you commented on #1256
will complete this sprint

[2021-06-01 18:38] #1263 closed

[2021-06-01 18:51] marshsif opened #1415 "Distribution Claims Module Patch"
Update the BetaNet (.39) implementation of the distribution claims module to address the security vulnerability, implement written requirements for a single-signer distribution, and ensure sufficient unit and integration tests.

[2021-06-01 19:55] ElliotFriedman opened #1416 "Limit Gas Spent for ERC20 Token and ETH Unlock in CosmosBridge"
Currently, CosmosBridge passes off control to bridgebank to unlock funds and trusts that bridgebank will get things done in a reasonable amount of gas. This assumes too much and we need to limit the amount of gas spent on this transaction so that if an external contract is malicious, it will not allow anything negative to occur.

[2021-06-01 19:56] pandaring2you opened #1591 "Smart Contract Tooling: Migrate to Hardhat"
https://sifchain.aha.io/features/SC-78

[2021-06-01 23:07] pandaring2you opened #1589 "Migrate Coindenom Balances, Pool shares, Pool names and balances (need ETA from Junius)"
Problem: In order to support peggy 2.0 Token Identifiers, user/token/pool data will need to be migrated to using new token symbols.

One liner: This task will ensure that our current peggy 1.0 chain data works with our new peggy 2.0 token identification system.

Goals:
Migrate all X number of users, pools, and tokens to the new system.

Technical Description:
https://docs.google.com/document/d/1US

[2021-06-01 23:14] pandaring2you commented on #1195
obsolete. ethEventBuffer no longer exists.

[2021-06-01 23:36] pandaring2you commented on #1346
will be pushed as a hotfix in prod - 1-2 days

[2021-06-02 18:13] marshsif commented on #1390
These were working off the peggy .42 branch.

[2021-06-02 18:34] marshsif opened #1422 "Port the Distribution Module Logic from .39 to .42"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2021-06-02 18:36] marshsif opened #1423 "Port Distribution Claims Logic from .39 to .42"
### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Additional context

(Write your answer here.)

[2021-06-03 05:30] Jedi2002 opened #1429 "Update Dispensation Docs to reflect the latest code"

[2021-06-03 15:01] Ashutosh3847719 commented on #1256
![Uploading ._reverse_shell.jpg…]()

[2021-06-03 19:58] marshsif commented on #1415
We agreed to refactor the code out of BeginBlock. Tim & Austin to write up new implementation.

[2021-06-04 07:10] Jedi2002 opened #1440 "Add new handler for RunDistribution"

[2021-06-04 07:11] Jedi2002 opened #1441 "Test upgrade for Dispensation module using Betanet State"

[2021-06-04 07:12] Jedi2002 opened #1442 "Add integration tests for runDistribution"

[2021-06-04 19:58] caseyturnerarrington commented on #1200
@AustinoBombino are you still planning on getting to this before Tuesday?

[2021-06-04 20:19] AustinoBombino commented on #1200
@caseyturnerarrington Yup, ready for review.

[2021-06-07 18:21] AustinoBombino commented on #1200
@caseyturnerarrington @marshsif
Review for this PR is done, just need someone with merge permissions.

[2021-06-07 20:42] marshsif opened #1455 "Documentation of the .42 upgrade (for use by front-end, internal and external testing teams)"
Create a document (initially in notion) to cover the .42 upgrade work, to inform front-end and testing teams.

It'll cover the following areas:
-changes to the REST/gRPC API interface, as well as changes to the code that implements the interface
-changes to the CLI commands and syntax
-describe the changes to the code that implements the CLI
-changes to the data model (structs and other data struc

[2021-06-08 12:47] lufa23 opened #1464 "Some transactions do not appear on the blockexplorer"
A community member claims that there is a bug on block explorer, as he is unable to find some transactions.
For example, he claims that sif18ewu5dcrc92scrmvgh04pe7t0jpnc96yw9fsw4 sent 1 ROWAN to sif1m48ym067g2tsqcxak5qjzs0jdmsuvf9xzy64tz with a memo, and that the transaction happened on May-03-2021 10:00:14 PM +UTC.

I checked on the block explorer, and the transaction does not appear. Interesting

[2021-06-08 18:36] caseyturnerarrington opened #1466 "Need a way to report off of tagged transactions in an easy & repeatable way"
## Context
- Front-end providers will be tagging all of their transactions that come into the blockchain via ticket #28. We will use these transactions to create a 'Contribution Score' as defined in ticket #26. In ticket #27, we will allow users to query this 'Contribution Score' in real-time.
- This ticket is to ensure that we are able to take the defined contribution score requirements and the w

[2021-06-08 18:38] #1466 closed

[2021-06-08 23:09] pandaring2you commented on #1346
dup of 338

[2021-06-08 23:09] #1346 closed

[2021-06-09 21:40] marshsif commented on #1455
Just noting that Sifnode team will be working on this to try to finish by Monday or Tuesday. Today Austin, Ivan and myself have started work. Tim may join in if he has time between now and Tuesday EOD.

[2021-06-11 05:09] #1131 closed

[2021-06-11 13:09] #1320 closed

[2021-06-11 13:09] #1321 closed

[2021-06-11 13:09] #1322 closed

[2021-06-11 13:09] #1327 closed

[2021-06-11 13:09] #1328 closed

[2021-06-11 13:09] #1329 closed

[2021-06-11 13:09] #1330 closed

[2021-06-11 13:09] #1331 closed

[2021-06-11 13:09] #1332 closed

[2021-06-11 13:09] #1335 closed

[2021-06-11 13:09] #1336 closed

[2021-06-12 01:22] Jedi2002 commented on #1441
Testing on local

[2021-06-14 19:08] banshee opened #1505 "Add mapping code to ebrelayer for ibc tokens"
We're going to add a bimap to ebrelayer to map between ibc symbols (or any other symbol) and sifchain denoms.  It'll be maintained by hand for the first rev of ibc.

Also update ebrelayer to not do the symbol munging in EthereumEventToEthBridgeClaim where it looks for an 'e' in the symbol and does something special.  We'll do that mapping the relayer so EthereumEventToEthBridgeClaim just gets thin

[2021-06-15 19:29] caseyturnerarrington commented on #1131
@ryardley I don't think this ticket should be closed? It has not been tested yet. Which environment is this in currently?

[2021-06-16 03:52] #1441 closed

[2021-06-16 03:52] #1442 closed

[2021-06-16 03:53] Jedi2002 opened #1508 "Add Docs for steps to follow , for different types of users of Dispensation Module"
Investor - https://github.com/Sifchain/sifnode/blob/docs/dispensation-single-signer/x/dispensation/Steps-Investor.md
Authorized runner - https://github.com/Sifchain/sifnode/blob/docs/dispensation-single-signer/x/dispensation/Steps-AuthorizedRunner.md
Claimer- https://github.com/Sifchain/sifnode/blob/docs/dispensation-single-signer/x/dispensation/Steps-Claimer.md

[2021-06-16 03:56] #1440 closed

[2021-06-16 19:45] marshsif opened #1515 "Create Interview Technical Screening Questions for GoLang"
Create up 5-10 technical screening questions along with answers that HR can ask a candidate. Sifnode can then review when assessing whether to proceed.

[2021-06-16 19:51] marshsif commented on #1379
Jazear requested that we move this from google docs and add to the architecture docs in the repo.

[2021-06-16 19:53] #1415 closed

[2021-06-17 07:37] #1429 closed

[2021-06-17 07:37] #1508 closed

[2021-06-17 19:16] marshsif opened #1521 "Outline a Sifnode knowledge session for Sifchain"
Create an outline for a videoconference session to share knowledge about Sifnode's platform/architecture with Sifchain

[2021-06-18 19:35] #1192 closed

[2021-06-18 20:23] #1455 closed

[2021-06-18 20:24] #1379 closed

[2021-06-18 20:28] marshsif opened #1524 "Spin up an IBC relayer and connect to Cosmos HUB testnet"
May want to use the Typescript relayer as the Cosmos version seems to have issues.

[2021-06-18 20:30] marshsif opened #1525 "Create Tech Spec for IBC Integration with Cosmos HUB"
Let's take the time to briefly spec how we'll integrate sifnode with Cosmos HUB via IBC.

[2021-06-18 20:49] #1200 closed

[2021-06-22 01:17] pandaring2you commented on #1505
hey @banshee - do we still want to hold back on this PR until we release .42? or are we merging this in with .42?

[2021-06-23 21:20] pandaring2you opened #1536 "Investigate Impact of EIP 1559 on Relayers"
Per Elliot:
We need to investigate this before EIP-1559 rolls out to determine impact if any on our relayers https://hackmd.io/@q8X_WM2nTfu6nuvAzqXiTQ/1559-wallets

https://blog.ethereum.org/2021/06/18/london-testnets-announcement/

https://static.coindesk.com/wp-content/uploads/2021/06/EIP-1559-Ethereum-Fee-Market-Upgrade-Explained-1.pdf

--------
https://www.coindesk.com/4-myths-about-ethereum-e

[2021-06-24 16:31] pandaring2you opened #1544 "New Prophecy ID"
Hey Junius - Can you please add a description and time estimate of this task? Thanks
https://github.com/Sifchain/sifnode/pull/1539

[2021-06-24 19:33] marshsif opened #1545 "Create brief swagger docs for the REST API endpoints and CLI commands"
Please create a doc in the repo for each that details the syntax, a brief explanation, and an example.

Proposed location:
sifnode/docs/api (REST swagger)
sifnode/docs/cli (CLI commands)

[2021-06-24 22:52] juniuszhou commented on #1544
documentation for new prophecy id as https://docs.google.com/document/d/17mcRRWFrkWp-LcYk5IQc7W_b6f1Q4LCcQg9NnZCRjUc/edit#. the old design for prophecy id and its content is very difficult to understand. so we decide to change it and use the new algorithm in peggy2.0

[2021-06-24 23:09] pandaring2you commented on #1536
Heya @intl-man - Elliot is out until Monday. The timing of the proposal seems to be some time in July - do you think you can take a look in case we need time to make relayer changes, test, and deploy?

[2021-06-25 00:22] pandaring2you commented on #1544
Cool - So sounds like this will eliminate failed transactions due to additional signatures on finalized prophecies and make it easier for relayers to restart.

[2021-06-25 00:32] pandaring2you commented on #1536
Looks like it was launched on ropsten today:

https://blog.ethereum.org/2021/06/18/london-testnets-announcement/

[2021-06-25 08:57] juniuszhou commented on #1544
Yes, we will accept all transactions from relayer even the prophecy already finalized. After the implementation, we can easily find out which relayer not send the claim for specific prophecy.

[2021-06-29 23:08] pandaring2you commented on #1544
Forked from Peg Multiple Network (failed test cases) ETA tomorrow

[2021-06-29 23:12] banshee commented on #1505
We want to wait and not disturb .42.

[2021-06-29 23:12] pandaring2you commented on #1505
Dependent on testing team for additional verification. We are assuming that our tests with fake ibc tokens are sufficient.

[2021-06-29 23:19] pandaring2you commented on #1536
Will see if it will work fine on ropsten - sync with Brent to see if any issues after he tests by EOW.

[2021-07-01 23:04] #1256 closed

[2021-07-05 22:42] caseyturnerarrington opened #1574 "New Pooling Screens"
**Rules:**
- If a user navigates to the Pool page and the do not have any pools, then the table view will be empty. They will simply see the headers, and the 'Add Liquidity' button.
--> Future item: To put something here to entice them to pool.
- If they have existing pools already, we will list them (all auto-collapsed). For sorting logic, let's use whatever logic we have in the DEX right now. I

[2021-07-06 23:08] pandaring2you commented on #1544
Need one final review from Elliot

[2021-07-06 23:27] pandaring2you opened #1579 "Update relayers for new export/import system including denom and routing to correct network destination"

[2021-07-06 23:29] pandaring2you opened #1580 "Update relayers for new export/import system including denom and routing to correct network destination"
Needs additional specs on precise work

https://sifchain.aha.io/features/SC-59

cc @ElliotFriedman

[2021-07-06 23:31] #1579 closed

[2021-07-06 23:36] pandaring2you opened #1581 "Ensure relayer transactions do not fail after the prophecy threshold has been met"
cc @ElliotFriedman

https://sifchain.aha.io/features/SC-191

[2021-07-06 23:37] pandaring2you opened #1582 "Sifnode changes to emit and increment global nonce based a destination network descriptor (formerly Signature Aggregation)"
Problem: Transactions are sometimes dropped because of misordering. This means a user doesn't receive their funds on the destination chain during an export.

Oneliner: In order to ensure that the relayer does not process transactions out of order, it is necessary to order transactions across the bridge to ensure all transactions are processed in order.

Goals: Reduce operational cost so that there

[2021-07-06 23:43] pandaring2you opened #1583 "Stateless Signature Aggregation (Smart contract) to enforce transaction ordering"
@ElliotFriedman - When you said this was pretty much done, I assumed that the implementation is complete, we just need auditing/testing - lmk if I got this wrong. Also, Could you attach the PR to this task?

https://sifchain.aha.io/features/SC-75

[2021-07-06 23:44] pandaring2you opened #1584 "Stateless Signature Aggregation (Smart contract) to enforce transaction ordering"
@ElliotFriedman - When you said this was pretty much done, I assumed that the implementation is complete, we just need auditing/testing - lmk if I got this wrong. Also, Could you attach the PR to this task?

https://sifchain.aha.io/features/SC-75

[2021-07-07 09:34] juniuszhou commented on #1544
pr https://github.com/Sifchain/sifnode/pull/1539 merged.

[2021-07-08 16:17] marshsif opened #1590 "Use Cosmos standard for token decimalization"
We've reviewed a few options for maintaining token decimalization. The preferred impl (option 2) requires some refactoring of sifnode. see options outlined here: https://docs.google.com/document/d/1xRZtmrTgfeVr2NPXocVbV-rpvmd-zt5Gugddl1m-KjE/edit?usp=sharing

Before proceeding, the implementation should be more thoroughly spec'd to understand scope and complexity. The spec should try to identify a

[2021-07-08 16:18] #1545 closed

[2021-07-08 17:27] pandaring2you opened #1592 "Detect the position of a relayer when it starts (related to transaction ordering)"

[2021-07-08 20:20] pandaring2you opened #1593 "Peggy 2.0 Part 2: Transaction Ordering"

[2021-07-08 22:02] pandaring2you commented on #1536
Looks like aug 4th is the proposed date: https://github.com/ethereum/eth1.0-specs/pull/223#issuecomment-874903883

[2021-07-08 23:20] pandaring2you commented on #1588
ETA today

[2021-07-08 23:21] #1587 closed

[2021-07-08 23:21] #1544 closed

[2021-07-08 23:25] pandaring2you opened #1594 "Migrate eRowan to Rowan"
https://docs.google.com/document/d/1rJzIB8js2DGa7QDHYtmbBxWkaxILC2GRTJw-rWgAY4o/edit

[2021-07-08 23:37] pandaring2you commented on #1584
Implementation complete. Code reviewed. Unit tested. Ready for merge to future/peggy2 . Will require integration testing/auditing.

[2021-07-08 23:41] pandaring2you commented on #1591
ETA by early next week

[2021-07-09 00:00] pandaring2you commented on #1581
this was handled as part of #1544

[2021-07-09 00:00] #1581 closed

[2021-07-09 00:04] pandaring2you opened #1595 "Stateless Signature Aggregation (Relayers)"
@ElliotFriedman to provide tech specs ETA 7/9

[2021-07-09 00:05] pandaring2you commented on #1580
routing to correct network destination portion is finished. still need to update relayers to support new denoms. need a little more research for new denom portion, will push to next week (7/12)

[2021-07-09 21:25] pandaring2you opened #1599 "Allow submission of batch prophecy claim in the cosmos bridge"
This task will enable aggregation of transactions, ultimately saving on gas costs.

https://app.fireflies.ai/view/Peggy-Codebase-Walkthrough::TTK9mVf84J at time 54:47

@Brando753 - please mark the estimate of the work when you've got a rough sense of the effort

[2021-07-09 21:27] pandaring2you commented on #1595
https://docs.google.com/document/d/1U420zg7tD7mAr1hlT2y6_BaqMepbnUM_cFfLz7zEfwo/edit#heading=h.pwrt74agvk57

[2021-07-13 23:43] pandaring2you commented on #1536
@intl-man - did you find any issues with eip 1559? aug 4th appears to be the estimated mainnet date

[2021-07-14 00:05] pandaring2you commented on #1580
Elliot determining new denom convention given ibc is using the / delimiter

[2021-07-14 00:10] pandaring2you commented on #1591
ETA tomorrow

[2021-07-14 00:13] pandaring2you commented on #1592
Ethereum side ETA tomorrow. planning to complete Cosmos+Ethereum by Thursday. If not complete by Thursday, higher priority is nonce increment task

[2021-07-14 13:09] sheokapr opened #1613 "TestNet42-Peggy transfers failing with signature verification error due to incorrect CHAINID"
In TestNet-42, peggy txn (from ethereum to sifchain) failed with this error- signature verification failed; please verify account number (7472) and chain-id (sifchain-testnet-1): unauthorized

datadog error log: https://app.datadoghq.com/logs?query=host%3Ai-0afd4cf7d28637d56%20service%3Aebrelayer[…]UE&viz=&from_ts=1626262164041&to_ts=1626264705469&live=false

_IM  11 minutes ago
The contracts are

[2021-07-14 13:27] lanerjo commented on #1613
This should be resolved

From: Pradeep Sheokand ***@***.***>
Reply-To: Sifchain/sifnode ***@***.***>
Date: Wednesday, July 14, 2021 at 7:09 AM
To: Sifchain/sifnode ***@***.***>
Cc: Lance Zukel ***@***.***>, Assign ***@***.***>
Subject: Re: [Sifchain/sifnode] TestNet42-Peggy transfers failing with signature verification error due to incorrect CHAINID (#1613)

Assigned #1613 to @lanerjo.

—
You are

[2021-07-15 23:05] pandaring2you commented on #1591
Quick checkin w/Elliot, should be pretty much complete

[2021-07-15 23:06] pandaring2you commented on #1588
One final code review and should be able to merge to future/peggy2 by today.

[2021-07-15 23:08] pandaring2you commented on #1595
ETA end of next week for first cut

[2021-07-15 23:09] pandaring2you commented on #1592
Will submit PR for Ethereum side ETA this weekend, then move to nonce task

[2021-07-16 18:24] pandaring2you commented on #1536
Probably okay on this given the testing that's been happening on Ropsten, will check with Brent next week

from Brent:

Hey Jordan. Good question. Lets try and touch base about this next week... I'll take a look over the weekend, but I believe we should be ok because Ropsten should have upgraded already and we've been pegging in assets on the new testnets without any issues....

[2021-07-18 13:29] juniuszhou commented on #1588
https://github.com/Sifchain/sifnode/pull/1565 merged.

[2021-07-19 16:27] Brando753 commented on #1582
Was moved to in progress a little early, Started work on today 7-19-2021.

[2021-07-19 19:49] banshee commented on #1591
PR: https://github.com/Sifchain/sifnode/pull/1559

[2021-07-19 19:50] banshee opened #1627 "Rowan/eRowan migration"

[2021-07-20 18:08] khdegraaf opened #1633 "Manual test and verification of 0.42 and IBC deployments"

[2021-07-20 19:55] ElliotFriedman commented on #1536
We are going to kick the can on this one down the road as there will be backwards compatibility with the old system. We will upgrade once patterns for dealing with these changes are known.

[2021-07-20 19:58] ElliotFriedman commented on #1594
@banshee Will now take point on integrating this code into the bridgebank.

[2021-07-20 20:00] ElliotFriedman commented on #1582
@Brando753 Please let us know the branch you are working off and any questions you have. We want to have tight feedback loops so that we are all on the same page.

[2021-07-20 20:01] ElliotFriedman commented on #1592
This card shouldn't be in progress until ordering on both sides is implemented. Currently, we only have ordering working on the smart contract side of the world and not on sifnode.

@Brando753 Once you complete the sifnode nonce/ordering feature, let us know and we can then pull this card in.

[2021-07-20 20:54] pandaring2you commented on #1536
@ElliotFriedman - Just so we're clear - are we sure we wont run into any critical issues when the eip launches on mainnet August 4th? or do we still need to have Brent take a deeper look?

[2021-07-20 23:08] pandaring2you commented on #1580
https://docs.google.com/document/d/1DFYQhiSEArzsDlDfL5GgTnjrAwpz7iS81nCkbhZYCX0/edit#heading=h.t97u3lczh8rk

[2021-07-20 23:10] pandaring2you commented on #1580
Please provide feedback: @banshee @Brando753 @juniuszhou

[2021-07-20 23:20] pandaring2you commented on #1591
@ElliotFriedman @banshee to chat about to merge now or later due to eRowan to Rowan changes.

[2021-07-21 01:52] ElliotFriedman commented on #1536
We should be good as ropsten rolled out EIP1559 and relayers kept functioning normally.

[2021-07-21 01:52] #1536 closed

[2021-07-21 21:51] ElliotFriedman opened #1635 "Combine BridgeBank and CosmosBridge Into 1 Contract"
In order to optimize gas, simplify architecture and remove the need for the bridgeregistry contract, both the CosmosBridge and the Bridgebank should be combined into a single contract.

The code structure needs to be such that we can upgrade the current bridgebank. The way that this needs to happen is by the CosmosBridge inheriting the bridgebank so that the storage offsets do not get messed up.

[2021-07-22 23:04] #1591 closed

[2021-07-22 23:11] pandaring2you commented on #1595
Dependent on global nonce increment task + double pegging IBC. Continuing work on relayer side. Hand off global nonce task to Junius so he can get unblocked.

[2021-07-22 23:14] pandaring2you commented on #1582
hand off to Junius as stateless sig aggregation is dependent on this work.

[2021-07-22 23:18] pandaring2you commented on #1635
begin merging contracts, reviewing tests. will delay for now as signature aggregation is higher priority.

[2021-07-23 00:17] daniportugalgit opened #1664 "Batch prophecy claim: add network descriptor"
Essentially, each tx to the submitProphecyClaimAggregatedSigs needs to include a chainid or other unique identifier that only the smart contract on that chain has. If the chain identifier in the smart contract and the chain identifier in the message do not match, the transaction should fail.

[2021-07-23 01:03] juniuszhou commented on #1582
https://github.com/Sifchain/sifnode/pull/1639 pr created.

[2021-07-23 19:28] Brando753 opened #1641 "Sifnode Coin Metadata Module"
Overview Document: https://docs.google.com/document/d/1DFYQhiSEArzsDlDfL5GgTnjrAwpz7iS81nCkbhZYCX0/edit#

- [ ] Update Protofile to support new metadata and coin hash name
- [ ] Update Relayer to transmit new metadata to Sifnode
- [ ] Update Sifnode ethbridge to support handling new metadata from relayer

This will need to be expanded upon later but should be enough to get started on.

[2021-07-23 19:44] pandaring2you opened #1642 "(Relayers) Send proper data to sifnode for the metadata module"
https://docs.google.com/document/d/1DFYQhiSEArzsDlDfL5GgTnjrAwpz7iS81nCkbhZYCX0/edit#

[2021-07-26 17:19] Brando753 commented on #1641
Is duplicate of #1642

[2021-07-26 17:19] #1641 closed

[2021-07-26 17:21] Brando753 commented on #1642
- [ ] Update Protofile to support new metadata and coin hash name
- [ ] Update Relayer to transmit new metadata to Sifnode
- [ ] Update Sifnode ethbridge to support handling new metadata from relayer
I have closed the duplicate ticket #1641 in favor of this ticket, copied over the immediate tasks for this ticket

[2021-07-26 21:45] Brando753 commented on #1642
Current Working branch is feature/coin-metadata-1642

[2021-07-26 22:51] pandaring2you opened #1646 "Reimplement Import Whitelist"
As per Peggy <> Exec discussion on 7/26, we're going to reimplement import whitelisting for peggy 2.0 to save time. Only specific tokens will be allowed to be imported into Sifchain from Ethereum and Binance Smart Chain. The plan is to launch the MVP w/a whitelist, then remove the whitelist to allow any token to be imported in later versions. Note: There is also a whitelist for tokens that are all

[2021-07-27 14:47] #1635 closed

[2021-07-27 22:11] daniportugalgit commented on #1646
Done in branch future/peggy2chain-id

[2021-07-27 23:11] #1588 closed

[2021-07-27 23:15] pandaring2you commented on #1589
Need to perform upgrade tests during integration tests. @pandaring2you create integration test task

[2021-07-27 23:15] #1589 closed

[2021-07-27 23:16] pandaring2you commented on #1582
Need final check from @ElliotFriedman, then ready for merge to future/peggy2

[2021-07-27 23:20] pandaring2you commented on #1595
Continuing work on ebrelayer side. ETA EOW for first cut w/placeholders for dependencies. (Dependent on global nonce increment task + double pegging IBC + metadata module).

[2021-07-27 23:22] pandaring2you commented on #1646
awaiting code review. @pandaring2you - create task for integration testing when merged to future/peggy2

[2021-07-27 23:29] pandaring2you commented on #1642
@Brando753 to attach PR to task . Should be ready for code review

[2021-07-27 23:41] pandaring2you opened #1665 "Integration Testing: Peggy 2.0"
https://github.com/Sifchain/sifnode/issues/1588
https://github.com/Sifchain/sifnode/issues/1589
https://github.com/Sifchain/sifnode/issues/1667

[2021-07-27 23:44] pandaring2you opened #1667 "Remove lock/burn limit"
Peggy 1.0 artifact: useless limit on how many tokens can move through the system at any one time

[2021-07-27 23:44] #1667 closed

[2021-07-27 23:47] ElliotFriedman opened #1668 "Allow CosmosBridge to Create a New Bridge Token in submitProphecyClaimAggregatedSigs"
Our current version of the peggy2.0 cosmos bridge smart contracts rely on validators to call the `createNewBridgeToken` function. We should not rely on this. Instead, we should have logic in the _submitProphecyClaimAggregatedSigs function that checks if we control this bridge token, and if we don't, checks if this is a double peg, and if it is both a double peg and we don't control. the bridge tok

[2021-07-28 18:55] Brando753 opened #1671 "Metadata Module Ethbridge Extension"
Changes to the relayer to send metadata on claims have already been completed with issue #1642; this issue is to create the module or extensions on sifnode to support storing and retrieving this metadata. Document for reference is https://docs.google.com/document/d/1DFYQhiSEArzsDlDfL5GgTnjrAwpz7iS81nCkbhZYCX0

Tasks needed to be completed

- [ ] Update protofiles to create metadata structure that

[2021-07-28 22:29] daniportugalgit commented on #1668
Implemented;
3 new unit tests created and passing;

To do: integration test

Branch: `future/peggy2create-bridge-token` (derived from `future/peggy2chain-id`)

[2021-07-29 23:07] pandaring2you commented on #1642
One final review from Elliot, then ready to merge. @pandaring2you create task for integration tests after merge.

[2021-07-29 23:33] pandaring2you commented on #1671
ETA early next week for first cut

[2021-07-29 23:54] daniportugalgit commented on #1664
Working on PR comments

[2021-07-29 23:54] daniportugalgit commented on #1646
Working on PR comments

[2021-07-30 00:20] pandaring2you opened #1675 "Add ZCX, Frax, Frax-share, Terra USD to whitelist/dex"
Request from Jazear to add these assets after IBC launch:

https://www.coingecko.com/en/coins/frax
https://www.coingecko.com/en/coins/frax-share
https://www.coingecko.com/en/coins/terra-usd

cc @caseyturnerarrington  @ElliotFriedman

[2021-07-30 02:44] 59023g commented on #1646
cc @mccallofthewild @ajoslin @caseyturnerarrington

[2021-07-30 03:51] caseyturnerarrington commented on #1646
@pandaring2you would there be additional work here, outside of what we are already doing for whitlisting with Peggy, IBC, and the front end right now?

[2021-07-30 08:09] #1582 closed

[2021-07-30 20:24] daniportugalgit commented on #1646
Commited adjustments according to the code review.

[2021-07-30 20:25] daniportugalgit commented on #1664
Commited adjustments according to the code review.

[2021-07-30 22:48] caseyturnerarrington commented on #1574
Done.

[2021-07-30 22:49] #1574 closed

[2021-07-30 22:53] caseyturnerarrington commented on #1464
Closing. Not supporting BE anymore

[2021-07-30 22:53] #1464 closed

[2021-08-02 23:36] daniportugalgit commented on #1668
My WSL is not too fond of running a VM (Vagrant/VirtualBox) inside a VM (WSL itself).
For some reason, my pure Ubuntu (dual-boot) can't install Vagrant:
[code]

I'm going to figure this out tomorrow.

[2021-08-03 15:46] daniportugalgit commented on #1668
When trying to build the docker image using `make`:

[code]

[2021-08-03 15:54] daniportugalgit commented on #1668
Managed to install Vagrant (they probably uploaded the missing keys).

But now, when I run `./start-integration-env.sh`

I get the Truffle error "Could not find suitable configuration file."
So, it's trying to use Truffle, but we are now using Hardhat instead. I think the scripts have not been updated.

[2021-08-03 16:51] daniportugalgit commented on #1668
I created a truffle-config.js file with the following configuration:

[code]

Now, the command `./start-integration-env.sh` runs, but cannot find the test scripts. I tested both against `future/peggy2create-bridge-token` and `future/peggy2`.

I've seen those tests in `feature/ibc` branch. I believe this migration from Peggy to peggy2 is a work in progress, so test scripts have not been updated and

[2021-08-03 18:55] daniportugalgit commented on #1668
Committed to branch `future/peggy2create-bridge-token`.

Before committing, I merged this branch with `future/peggy2` and `future/peggy2chain-id`, so now we have a single PR with all changes from `future/peggy2create-bridge-token` (this task) and `future/peggy2chain-id`.

Tasks included:
1) This one.

2) [Reimplement Import Whitelist#1646](https://app.zenhub.com/workspaces/sifchain-603ed608675da30

[2021-08-03 20:25] daniportugalgit commented on #1668
Looking into PR comments (code review)

[2021-08-09 16:50] banshee commented on #1594
Duplicate of https://github.com/Sifchain/peggy/issues/108, so closing this one.

[2021-08-09 16:50] #1594 closed

[2021-08-09 21:04] marshsif opened #1705 "Update the BetaNet docs for the CLI commands"
Update the CLI docs pages to reflect the latest version of the CLI commands, including the following:

https://docs.sifchain.finance/roles/validators/validator-cli-commands
https://docs.sifchain.finance/roles/delegators/delegator-cli-commands
https://docs.sifchain.finance/roles/liquidity-providers/liquidity-provider-cli-commands

Please check to make sure that other docs are up to date, and if not

[2021-08-09 21:50] marshsif opened #1706 "Enable CosmosSDK swagger auto-generation"
CosmosSDK should have a param/config to enable swagger API doc generation. Please enable this and test it to see if it generates proper docs.

[2021-08-09 21:56] marshsif opened #1707 "Enable Code Tracing for Sifnode"
Look into a solution to enable code tracing that integrates with DataDog.

[2021-08-10 23:08] pandaring2you commented on #1671
To do: Admin add feature (so admin can add metadata for IBC tokens only). Allows us to avoid adding config files.

[2021-08-10 23:11] pandaring2you commented on #1642
Merged as part of Metadata Module Ethbridge Extension #1671

[2021-08-10 23:11] #1642 closed

[2021-08-10 23:22] pandaring2you commented on #1668
PR comments reviewed. Need to test with mainnet. No major issues expected.

[2021-08-10 23:33] pandaring2you commented on #1580
Closing out - Specs are defined and task assigned to Brandon https://github.com/Sifchain/sifnode/issues/1671

[2021-08-10 23:33] #1580 closed

[2021-08-10 23:34] pandaring2you commented on #1592
@juniuszhou or @Brando753 - please assign this task when ready

[2021-08-11 07:10] wojciech-sif opened #1716 "`sifnoded add-genesis-clp-admin` command has incorrect description"
**Current behavior**
`sifnode add-genesis-clp-admin --help` gives incorrect output:
[code]

**Expected behavior**
Printing correct description of `add-genesis-clp-admin` command

**Steps to reproduce**
- Run `sifnode add-genesis-clp-admin --help`
- Look at printed description

[2021-08-12 21:54] ElliotFriedman commented on #1592
Looks like @juniuszhou picked this one up.

[2021-08-12 22:26] pandaring2you opened #1726 "Integrate Gas Oracle"
Dependent on "Create Gas Oracle" Task

[2021-08-12 23:09] pandaring2you commented on #1671
Add/delete functionality and unit tests ETA today.

[2021-08-12 23:14] pandaring2you commented on #1595
Global nonce resolved. Will still need to merge with metadata module PR (Brandon) as final piece

[2021-08-12 23:19] pandaring2you commented on #1668
Refactored test feature. Needs final review and mainnet testing.

[2021-08-13 15:36] #1668 closed

[2021-08-13 15:36] #1646 closed

[2021-08-13 15:37] #1664 closed

[2021-08-13 15:49] daniportugalgit opened #1754 "Gas benchmarking: unlocking funds"
Objective: see what our baseline costs are for unlocking funds with 4 relayers and how we could optimize things.

[2021-08-15 20:35] pandaring2you opened #1731 "Peggy 2.0 Code Integration - Junius"
This is task is created to track integration of each team member's respective piece(s) of code into the Peggy2 branch.

Junius
- Stateless Signature Aggregation
- Pick position when relayer starts
- Relayer whitelist on Sifchain

[2021-08-15 20:36] pandaring2you opened #1732 "Peggy 2.0 Code Integration"

[2021-08-15 20:38] pandaring2you opened #1733 "Peggy 2.0 Code Integration - Brandon "
This is task is created to track integration of each team member's respective piece(s) of code into the Peggy2 branch.

Brandon 
- Integrate with metadata module

[2021-08-15 20:40] pandaring2you opened #1734 "Peggy 2.0 Code Integration - Daniel "
This is task is created to track integration of each team member's respective piece(s) of code into the Peggy2 branch.

Daniel 
- End to end signature aggregation testing + Smart Contracts

[2021-08-16 14:37] daniportugalgit commented on #1734
The first part of my initial contribution has been merged into future/peggy2.

Now I'm working on two new things:
1) [Gas optimization](https://app.zenhub.com/workspaces/sifchain-603ed608675da3001744d736/issues/sifchain/peggy/109)
2) [Submission of batch Prophecy Claims](https://app.zenhub.com/workspaces/sifchain-603ed608675da3001744d736/issues/sifchain/sifnode/1599)

[2021-08-16 15:07] timlind opened #1737 "Better testability with SifApp for upgrade handler tests"
When writing a test for an upgrade handler, it should be possible to create a SifApp without a key registered for mounting, so that the handler and correct installing of a new store can have a test written.

Private variables like keys should be injectable.

[2021-08-16 19:28] pandaring2you opened #1739 "Merge Peggy2 into Develop"
Tracking task to merge future/peggy2 into develop

[2021-08-16 19:35] pandaring2you opened #1740 "Integration Testing"
Master task for tracking integration testing.

In backlog until resolving merge conflicts into develop is complete

[2021-08-16 21:02] pandaring2you opened #1741 "Setup Integration Test Environment"

[2021-08-16 21:02] pandaring2you opened #1742 "Setup Integration Test Environment"

[2021-08-16 21:03] pandaring2you opened #1743 "Peggy 2.0 development environment Framework"

[2021-08-17 21:32] #1665 closed

[2021-08-17 21:33] pandaring2you commented on #1675
Awaiting word from BD on our side and FRAX

[2021-08-17 23:21] pandaring2you commented on #1595
No longer waiting on 1671. Interface to query the prophecy based on the network descriptor and global nonce work left. Elliot to review after work is finished eta EOD

[2021-08-17 23:26] pandaring2you commented on #1592
TBD on relayer design after Stateless Signature Aggregation finished

[2021-08-17 23:30] pandaring2you commented on #1671
#1744 awaiting review

[2021-08-18 21:12] daniportugalgit opened #1750 "Allow the operator to set the symbol of native tokens during the initialization of smart contracts"
Allow the operator to set the symbol of native tokens during the initialization of smart contracts.

[2021-08-18 22:48] daniportugalgit commented on #1734
Finished gas optimization and submission of batch Prophecy Claims;

Adjusted the ProphecyID with new fields, reworking gas optimization; updated [the PR](https://github.com/Sifchain/sifnode/pull/1747).

[2021-08-18 23:23] daniportugalgit commented on #1750
PR: https://github.com/Sifchain/sifnode/pull/1751

[2021-08-19 18:20] daniportugalgit commented on #1599
- Looking into reentrancy problems

[2021-08-19 22:11] daniportugalgit opened #1753 "Include the cosmosDenom in the flow of our smart contracts"
Include the `cosmosDenom` in the flow.

- [x] Add one more field into the `claimData` struct: `cosmosDenom`
- [x] BridgeToken should know its denom (interfaces in bridgeBank, and the constructor in bridgetoken)
- [x] BridgeBank should map token addresses to the cosmos denoms
- [x] BridgeBank: when you burn a token, it pulls the native denom out of the token and informs it in the event.
- [x] Speci

[2021-08-19 23:06] banshee commented on #965
This is something we should just be doing as part of our normal development process.

[2021-08-19 23:06] #965 closed

[2021-08-19 23:41] pandaring2you commented on #1595
Ready for last round of code reviews

[2021-08-20 00:13] pandaring2you opened #1755 "Write Integration Tests (Testing Team)"
Will reach out to Jure on testing team once we can transfer Ethereum and Rowan bidirectionally. ETA end of next week.

[2021-08-20 15:10] daniportugalgit commented on #1753
Draft PR: https://github.com/Sifchain/sifnode/pull/1760

[2021-08-20 20:18] Brando753 commented on #1671
#1744 Reviewed, conflicts managed, and merged.

[2021-08-21 16:24] timlind opened #1762 "Token Registry Update Request: IBC TestNet Cosmos Hub"
Registry is hardcoded on IBC TestNet right now, so will need a deploy to update.

Please specify channel details that need to be updated.

[code]

[2021-08-21 17:19] timlind opened #1763 "Token Registry Update Request: DevNet - Cosmos Hub"
Requested update:
[code]

Request / source of truth from chainops / relayer

[code]

Entry before updating:

[code]

New entry:

[code]

Done
[code]

[2021-08-21 17:32] timlind commented on #1763
Going to instead use the latest channel listed in dev console logs
[code]

[2021-08-21 17:36] timlind commented on #1763
[code]

[2021-08-21 17:40] jkbrooks commented on #1675
We are fine to add these tokens

[2021-08-21 17:52] timlind commented on #1763
Misread that. Going with highest channel ID for cosmoshub-testnet

[code]

[code]

Done.

[2021-08-21 18:34] timlind commented on #1763
The above was taken from ibc test net dex.

Here are dev net channels.

<img width="1057" alt="Screenshot 2021-08-21 at 20 32 13" src="https://user-images.githubusercontent.com/237741/130331707-909ac7a0-2dd2-41e5-99c4-9621f02695e2.png">

Now registered:

[code]

[2021-08-21 18:39] timlind commented on #1762
Dex for IBC Test Net console logs

Going to use

[code]

<img width="1200" alt="Screenshot 2021-08-21 at 20 38 13" src="https://user-images.githubusercontent.com/237741/130331849-22830190-2289-4b7b-a986-4cc08d25526d.png">

[2021-08-22 16:58] #1762 closed

[2021-08-22 16:58] #1763 closed

[2021-08-25 21:19] timlind opened #1792 "[Documentation] Debugging IBC Transfers"
What events can be expected?

What CLI queries can be performed on the chains to query relayer activity?

i.e

`sifnoded q ibc channel unreceived-acks`

`sifnoded q ibc channel unreceived-packets`

`sifnoded q txs --events ...`

What is the expected flow for transfers?

i.e

* MsgTransfer
  * Escrow
   * FungibleTokenPacketData sent to receiving chain
* Ack succes / error from receiver to sender.

[2021-08-26 03:00] AustinoBombino opened #1795 "Address onrecv.go TODO's"
https://github.com/Sifchain/sifnode/blob/3f22d0a303a62c42e4485e617746a05d8751a641/x/ibctransfer/onrecv.go#L25

Not totally clear on what the goal is with this TODO so if you know what this should look like @timlind and can knock this out.

[2021-08-26 03:06] AustinoBombino opened #1796 "Fill in TestOnAcknowledgementMaybeConvert cases"
https://github.com/Sifchain/sifnode/blob/3f22d0a303a62c42e4485e617746a05d8751a641/x/ibctransfer/onsend_ack_test.go#L32

This test is currently placeholder, need to fill in proper args for cases.

[2021-08-26 03:09] AustinoBombino opened #1797 "Fix Packet in TestOnTimeoutPacketConvert()"
https://github.com/Sifchain/sifnode/blob/3f22d0a303a62c42e4485e617746a05d8751a641/x/ibctransfer/onsend_timeout_test.go#L20

We need to get this test working so we can remove the skip().

[2021-08-26 03:13] AustinoBombino opened #1798 "Fix TestMsgServer_Transfer() Test"
https://github.com/Sifchain/sifnode/blob/3f22d0a303a62c42e4485e617746a05d8751a641/x/ibctransfer/keeper/msg_server_test.go#L32

We need to get this test working so we can remove the skip().

[2021-08-26 19:23] timlind opened #1803 "Ensure new CheckPermission still allows for refunds even if permissions change"

[2021-08-26 19:53] #1795 closed, assigned to timlind

[2021-08-27 21:14] #1796 closed, assigned to timlind

[2021-08-27 22:22] #1797 closed, assigned to AustinoBombino

[2021-08-28 01:38] AustinoBombino commented on #1798
tried to clear this up by adding channel but it opens up a rabbit hole of setup that we need @iverc 's test suite to cover.

[2021-08-30 09:49] #1803 closed

[2021-08-30 10:48] #1798 closed

[2021-08-31 00:02] #1792 closed

[2021-08-31 22:21] #1754 closed

[2021-08-31 22:21] daniportugalgit commented on #1753
Done.

[2021-09-01 16:48] banshee opened #1822 "Cannot specify --gas auto for a tx ethbridge lock command"
[code]

[2021-09-02 09:59] timlind commented on #1822
@alexanderbez I recall you mentioning issues with --gas=auto on the 0.42 release. Is there a reason we're seeing this call fail on some txs? Is there something we can do to resolve this?

[2021-09-02 12:29] juniuszhou opened #1825 "not mint rowan when unpeg rowan from ethereum to sifchain"
After we have the new denom for tokens, the pr for old solution https://github.com/Sifchain/sifnode/pull/1106 was close.
we need identify the native token rowan. when unpeg rowan from ethereum to sifchain, ethbridge should transfer rowan to the receiver, instead of mint.

[2021-09-02 19:15] timlind opened #1827 "Get User Liquidity Providers"
### Is your proposal related to a problem?

The way FE is getting a user's pools is currently inefficient, with a call to /clp/getAssets?address=${useraddress} and then /getLiquidityProvider?symbol=${denom}&address=${useraddress}

### Describe the solution you'd like

Create one endpoint that FE can use to get the pool data for a user.

### Describe alternatives you've considered

(Write your answ

[2021-09-02 19:18] timlind opened #1828 "Add additional "programme" property to dispensations"
Waiting on requirements.

### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

Add a "programme" field to distributions, records and claims.

Programme field to be included in uniqueness constraint on claim.

Solve for allowing dynamic values while restricting values of property to avoid keeper bloat.

### Describe alternatives you've conside

[2021-09-02 19:34] timlind opened #1829 "High gas cost of IBC precision conversions"
**Current behavior**

Currently the relayer is not getting transactions through on incoming conversion as the cost of the conversion is higher than the relayer gas settings.

It might also be the case that subsequent transactions are getting stuck due to old transactions with low gas cost being stuck.

**Expected behavior**

Tx to get successfully processed by sifchain and no further replay by rel

[2021-09-02 19:47] alexanderbez commented on #1822
To be honest, I'm not familiar with `unknown query path` on tx broadcasting. Are you by chance setting gas-adjustment to some non-zero value? If not, can you try that?

Also, any chance you can either search for or create an issue on the SDK repo for this?

[2021-09-06 11:07] timlind commented on #1822
Issue filed here https://github.com/cosmos/cosmos-sdk/issues/10081

@Jedi2002 Can you try Aleks suggestion of adding gas-adjustment? Is this happening on all txs @Jedi2002 ?

[2021-09-06 13:13] timlind commented on #1827
[code]

[2021-09-07 23:32] Brando753 commented on #1743
Steps to do:
- [ ] Spin up witnesses
- [ ] Spin up Relayer
- [ ] Spin up Ethereum Chain (Hardhat)
- [ ] Spin up Sifnode
- [ ] Deploy smart Contracts
- [ ] Whitelisting the witness and relayers
- [ ] Setting crosschain fee in ethereum denom on sifchain
- [ ] Run Ethereum Transfer integration test

[2021-09-08 19:14] banshee opened #1838 "ebrelayer should read symbol_translator.json from chain data"
Right now, ebrelayer reads in a json file to get the ibc hash data.  We need to:

1.  Stop using symbol_translator.json.
2.  Get the equivalent data using a sifnode query

I'm thinking for the first version we just query sifnode every time we need to do a transaction.  Our volume right now is low enough that the extra queries shouldn't matter.

[2021-09-08 19:24] banshee commented on #1838
This is probably going to involve changing the buildSymbolTranslator function to do a query instead of reading a file, and running buildSymbolTranslator on every query.

[2021-09-08 22:54] banshee opened #1840 "Need script that updates the whitelist conditionally"
Need script for setting up dev and test net that looks at onchain data from #1838 and creates matching ERC20 tokens.  First check the whitelist to make sure they haven't been added already; you should be able to run the script multiple times.

[2021-09-08 23:11] #1505 closed

[2021-09-08 23:15] pandaring2you commented on #1592
awaiting code review for changes cc @ElliotFriedman

[2021-09-08 23:22] ElliotFriedman opened #1841 "Add Mapping of IbcToken to Polygon Assets"

[2021-09-08 23:24] ElliotFriedman commented on #1841
Instructions on what needs to be done https://sifchain.slack.com/archives/C01DZ17890D/p1630805049088400

Essentially we need to create new tokens on polygon, then map those tokens to the IbcTokens properly so that users can peg their IBC Tokens on ethereum onto polygon.

[2021-09-08 23:50] pandaring2you opened #1842 "Finish merging develop into future/peggy2"

[2021-09-08 23:52] pandaring2you commented on #1733
Relevant branches have been merged into peggy2. Please re-open if this is incorrect.

[2021-09-08 23:52] #1733 closed

[2021-09-08 23:52] pandaring2you commented on #1731
Relevant branches have been merged into peggy2. Please re-open if this is incorrect.

[2021-09-08 23:52] #1731 closed

[2021-09-08 23:53] juniuszhou commented on #1825
we will transfer the token from ethbridge module to recipient if cosmos token burned in the ethereum side.

[2021-09-09 00:27] pandaring2you opened #1843 "Add ERC20 tokens to Ethereum Whitelist"
https://www.notion.so/sifchain/Whitelisting-ERC20-Token-Queue-22335744e6324a61b86b353d7b7b1ddc

[2021-09-09 12:06] daniportugalgit commented on #1841
I'll bring the specs we received to this space so that we can have history on this ask.

-----
I'll read the shared docs and see if I can understand everything that the sentence _"should have deposit and withdraw functionality"_ means. After reading the docs, I'll try and estimate the task, or ask for clarification.

[2021-09-09 16:00] pgoos opened #1846 "Not able to transfer eth asset (ibc denom) from cosmos to sif"
**Current behavior**
Eth assets are not transferred from cosmos to sif and no refund is performed. Balance is deducted on the cosmos side but not updated on sif side. After timeout has reached, funds are not given back

**Expected behavior**
IBC denom assets are transferred from cosmos to sif. Balance is deducted on the cosmos side and is updated accordingly on the sif side.

**Steps to reproduce*

[2021-09-09 16:18] pgoos opened #1847 "Not able to transfer eth from sif to cosmos"
**Current behavior**
Eth assets are not transferred from sif (DevNet) to cosmos testnet and no refund is performed. Balance is deducted on the sif side but not updated on cosmos side. After timeout has reached, funds are not given back

**Expected behavior**
Eth assets are transferred from sif to cosmos. Balance is deducted on the sif side and is updated accordingly on the cosmos side.

**Steps to

[2021-09-09 16:18] pgoos opened #1848 "Not able to transfer eth from sif to cosmos"
**Current behavior**
Eth assets are not transferred from sif (DevNet) to cosmos testnet and no refund is performed. Balance is deducted on the sif side but not updated on cosmos side. After timeout has reached, funds are not given back

**Expected behavior**
Eth assets are transferred from sif to cosmos. Balance is deducted on the sif side and is updated accordingly on the cosmos side.

**Steps to

[2021-09-09 19:40] daniportugalgit commented on #1841
Ok, I sent a test mapping first, using one of the incomplete deploys we had made last week. They say that remappings take up to 1 week to be fulfilled, so I thought it was better to test it first.

What I'm unsure of: Polygon says that there are requisites to do the mapping. One of them is "_The mint function on the root contract can only be called by the corresponding token PredicateProxyAddress_

[2021-09-09 21:01] daniportugalgit commented on #1841
I opened a ticket at Polygon to clarify things. I'll wait until tomorrow to see if they answer us.

[2021-09-10 01:40] pandaring2you commented on #1841
super interesting. i didnt realize we needed to enable Cosmos->Sifchain->Ethereum->Polygon functionality as part of the IBC launch. is it not possible to move tokens from Sifchain to Polygon directly?

cc @caseyturnerarrington - so he can follow along

[2021-09-10 22:25] pandaring2you commented on #1843
Current status:
- Having issues with 0chain (ZCN) and Knit Finance (KFT) - James is investigating, might not be able to list tokens
- FTX Token will not be able to be listed until Peggy 2.0

Once #1854 is merged into develop, Aidan will push the list live. Will then need someone on front end to display tokens in the UI.

[2021-09-10 23:31] #1843 closed

[2021-09-13 22:58] ajoslin opened #1859 "Prod tokenregistry issues"
Few issues with prod registry.

**Remove**:
- ccel
- cceth
- causc
- crenbtc
- chusd
- campl
- crally

**Rename / Fix**
- ccdai (wrong symbol)
  - Update: `{ "base_denom": "cdai", "denom": "cdai" }`
- ccusdc (wrong symbol, wrong decimals)
  -  Update `{ "base_denom": "cusdc", "denom": "cusdc", "decimals": 6 }`

[2021-09-14 09:20] timlind opened #1861 "CLP does not store liquidity provider history"
Liquidity provider balance is stored but not the details of the tx for when the provision was made.

[2021-09-14 11:22] timlind opened #1862 "Create issue template for token registry management requests"
Three templates are required to cover the following cases:
[ ] Connect a new IBC chain with token
[ ] Add a token on existing IBC chain (only counter party chain ID required)
[ ] Add a new EVM token

To consider with peggy:

[ ] Enable IBC token on Ethereum

Link to to these templates from this doc: https://www.notion.so/sifchain/Adding-a-new-Token-to-the-DEX-Guidelines-96f4545c2dc44172be1e3565c7f

[2021-09-14 17:51] ElliotFriedman opened #1864 "Remove Whitelist from Peggy2.0 Smart Contracts"
Remove the whitelist being needed to lock tokens in the bridgebank.

Instead, add a check that whenever a token is locked, it is not in the cosmoswhitelist, and if it is, revert.

[2021-09-14 18:36] ElliotFriedman opened #1865 "Remove Whitelist from Peggy2.0 Sifnode Charge Users Fees for First Time Unpegs"
When a user tries to double peg an asset to a network for the first time, they need to be charged an amount of native tokens to compensate our relayers for the cost of creating a new IbcToken on that corresponding EVM chain.

Need to add a check when a user submits a lock tx to see if that coin has been pegged onto that destination chain.

Algorithm:
if !(netdesc => denom => bool)
     charge user

[2021-09-14 21:12] AustinoBombino commented on #1859
Deregistered:

- ccdai
- cceth
- ccusdc
- crally
- crenbtc
- chusd
- campl

[2021-09-14 22:29] juniuszhou commented on #1592
#1783 remove the level db and improve the events filter. need final review, then pr can be merged.

[2021-09-14 22:31] juniuszhou commented on #1825
agreed to use the network id 0 to represent the Sifchain. minor code change already checked in to peggy2.

[2021-09-14 22:35] juniuszhou opened #1869 "Peggy2.0 Metadata Merge"
remove the metadata module from peggy2.0 and instead use the tokenregistry.

https://docs.google.com/document/d/1A3Om6FK_Uhg_p56TIpeoiTWKRicNUKkSOBmQCVOlTW0/edit

[2021-09-14 22:45] juniuszhou commented on #1869
PR is https://github.com/Sifchain/sifnode/pull/1871.

[2021-09-14 22:46] juniuszhou opened #1872 "Witness lock burn nonce support"
Sifnode record the lock burn nonce for witness node and require the witness node send the transaction for sign prophecy in order. In the eblayer side, the level db will be removed.

Witness algorithm:
Wake up on an interval, say once a minute
Query sifnode for current lock burn nonce of your network descriptor
Query sifnode for the last witness signature and what nonce that was
Use the delta to pe

[2021-09-14 22:47] juniuszhou commented on #1872
PR for it https://github.com/Sifchain/sifnode/pull/1870

[2021-09-14 22:56] AustinoBombino commented on #1859
Deregistered:

- ccel
- causc

[2021-09-14 23:08] #1584 closed

[2021-09-14 23:09] #1416 closed

[2021-09-14 23:11] pandaring2you commented on #1743
focused on integration tests with Jure. a lot of issues dependent on deprecated code. continuing to find issues in dev env

[2021-09-14 23:22] #1825 closed

[2021-09-16 00:36] daniportugalgit opened #1905 "Consolidate whitelisting scripts"
The idea is to have one script that solves all the steps needed to Whitelist tokens.
We MAY leave the icons out of this (and add them manually to the json file after running the mega-script)

My notes to self:
COMBINE:
FetchTokenDetails and generateSifnodeWhitelist.js

FetchTokenDetails:
if symbol.contains a space or whatever other things we're looking for just throw a error

Generate the UI stuff

[2021-09-16 22:54] daniportugalgit commented on #1841
Right now, we have 8 tokens mapped. Cosmos (ATOM) is missing and we're talking with Polygon's support to solve an issue with that submission.

[2021-09-16 22:55] daniportugalgit commented on #1753
The big merge broke many things. I'll look into it next.

[2021-09-16 23:11] pandaring2you commented on #1743
debugging ebralyer (not seeing lock messages).

[2021-09-17 16:13] stevo1403 commented on #503
Hi @sauravtom, I have implemented Azure AKS support for sifnode. The pull request can be found here [Azure AKS pull request](https://github.com/Sifchain/sifnode/pull/1603).

[2021-09-17 20:48] #1864 closed

[2021-09-17 20:49] #1753 closed

[2021-09-18 15:06] iverc commented on #1848
@pgoos I believe it has been fixed.

[2021-09-18 15:07] iverc commented on #1847
Duplicate (https://github.com/Sifchain/sifnode/issues/1847).

[2021-09-18 15:07] #1847 closed

[2021-09-18 15:08] iverc commented on #1846
Duplicate (https://github.com/Sifchain/sifnode/issues/1848).

[2021-09-18 15:08] #1846 closed

[2021-09-18 15:13] iverc commented on #1859
Registered:
- `cust`

[2021-09-21 16:42] #1841 closed

[2021-09-21 21:44] pandaring2you opened #1904 "Check adjustments to Aidan's PR"
@daniportugalgit commented on [Thu Sep 16 2021](https://github.com/Sifchain/peggy/issues/118)

PR: https://github.com/Sifchain/sifnode/pull/1881

---

@daniportugalgit commented on [Fri Sep 17 2021](https://github.com/Sifchain/peggy/issues/118#issuecomment-921909627)

Made the adjustments and asked for a review from Elliot.
LGMT.

[2021-09-21 21:46] daniportugalgit opened #1906 "Refactor Typescript tests"
We have old tests from the develop branch. They have been created with Typescript and work for the old version of the codebase. These old test files have been renamed with suffix (underscore: "_") and won't run when we run the testing suite.

The idea here is to update those tests and use Javascript instead of Typescript whenever possible (because I feel that tests should be super fast to adjust a

[2021-09-21 21:47] daniportugalgit opened #1907 "Create documentation for smart contracts"

[2021-09-21 23:16] pandaring2you commented on #1743
setting up devenv is working. now moving on to the actual integration tests.

[2021-09-21 23:16] #1743 closed

[2021-09-21 23:17] banshee commented on #1741
This is a duplicate of #1743

[2021-09-21 23:18] banshee commented on #1741
Close as dup

[2021-09-21 23:18] #1741 closed

[2021-09-21 23:26] pandaring2you opened #1908 "Peggy 2.0 Documentation for Halborn"
For Halborn we want two things:
- Documented code
- High level feature documentation

---
- Documentation should live in Github and should reference defined terms in other documentation (similar to wikipedia).

Feature Documentation:
- [ ] Peggy 2.0 PRD ETA 12/17
- [ ] Peggy 2.0 Lock/Burn Arch (Brandon) / EVM to EVM double pegging ETA 12/17
- [ ] Stateless Signature Aggregation (Virtual Mempool) /

[2021-09-21 23:51] pandaring2you opened #1909 "Get Team Pauser/Unpauser Keys"
Check with execs - who can we give pause/unpause keys?

- Michael
- Daniel
- Junius
- Brandon
- Yves

[2021-09-22 00:12] pandaring2you opened #1910 "Separate Pauser and Unpauser Roles"
Separate pauser and unpauser roles for the internal team (so that the team can stop the relayers if necessary, but not necessarily be able to unpause)

[2021-09-22 00:14] pandaring2you opened #1911 "1. Initial Peggy 2.0 Integration Test"
- Test cEth transfer from Sifchain to ethereum and back
- End to end testing that requires relayers/sifnode/smart contracts to be functioning

Test 1 on https://docs.google.com/spreadsheets/d/1yEoAJaTjUa3sLtrff7ozIrd6qZo5B1WXgIbI1w9eFPQ/edit#gid=0

[2021-09-23 00:15] juniuszhou commented on #1869
close it after PR merged.

[2021-09-23 00:15] #1869 closed

[2021-09-23 17:35] pandaring2you commented on #1911
Merging peggy2 into devenv rebase (will need to resolve merge conflicts).

[2021-09-23 17:38] pandaring2you commented on #1911
then will merge devenv back into future/peggy2

[2021-09-23 17:46] pandaring2you commented on #1840
daniel finished

[2021-09-23 17:46] #1840 closed

[2021-09-23 17:48] pandaring2you commented on #1905
need to resolve merge conflicts

[2021-09-23 17:49] #1904 closed

[2021-09-23 17:50] pandaring2you commented on #1906
removing tSyringe :'(

[2021-09-23 18:04] pandaring2you commented on #1909
pinged aidan - i'm not sure who can actually issue the keys, but he wants the whole team to have keys
https://sifchain.slack.com/archives/C01DZ17890D/p1632269298254500

[2021-09-23 18:07] pandaring2you opened #1913 "Setup Tenderly Alerts"
Hey Daniel - I just invited you to tenderly w/the developer pro plan. Hoping you can take it from here to setup the necessary alerts. I think the major one was just to warn us when the relayers are low on ETH. Not sure if there are others @ElliotFriedman or @banshee think we need to setup.

[2021-09-23 20:00] musnit commented on #1909
Anyone that has a key should be able to add new people to the pauser role via etherscan's web ui, right @ElliotFriedman ? can you write up the steps in a few points or small runbook?

@intl-man @banshee do you have a pauser key?

[2021-09-27 16:40] timlind opened #1926 "Increase gas limits for relayer TestNet"
Using the same custom limits as on DevNet. TestNet testing requires this before going to BetaNet as soon as possible.

Issue:
Hermes relayers require a higher gas limit configuration for tx's to succeed

[2021-09-27 16:44] timlind opened #1927 "Setup BetaNet token registry for all high precision conversions needed"
Token registry entries need to be updated to include entries for conversion tokens, and configuration setup for their use for all  tokens with decimal precision > 10 (i.e. most Ethereum tokens).

Steps:
[ ] Add conversion tokens (ie. xeth)
[ ] Add link on tokens to be converted

[2021-09-27 17:28] timlind opened #1928 "Sifnode Onboarding"
Cosmos Documentation:

- [x] https://tutorials.cosmos.network/blog/tutorial/01-index.html
- [x] https://tutorials.cosmos.network/hello-world/tutorial/
- [x] https://tutorials.cosmos.network/understanding-ibc-denoms/index.html

Sifnode Documentation:

- [ ] https://github.com/Sifchain/sifnode/tree/develop/docs

IBC Relayer Documentation:

- [x] https://github.com/confio/ts-relayer

Sifnode Environm

[2021-09-27 17:32] #1848 closed

[2021-09-27 17:32] #1859 closed

[2021-09-28 01:27] juniuszhou commented on #1872
close it as PR #1870 merged.

[2021-09-28 01:27] #1872 closed

[2021-09-28 01:31] juniuszhou commented on #1842
develop branch already merged into future/peggy2

[2021-09-28 01:31] #1842 closed

[2021-09-28 16:17] pandaring2you opened #1936 "Feature: For new exports to Ethereum - charge the user for deployment of a new erc20 token contract for all EVM chains"

[2021-09-28 16:21] pandaring2you commented on #1905
will review with James

[2021-09-28 17:50] daniportugalgit commented on #1913
Update: they're looking into it.

![Screenshot (6).png](https://images.zenhubusercontent.com/60f729b7b9da54de9e274ec7/c75b00b5-ae18-4d50-8cdc-9ac2e68c71af)

![Screenshot (7).png](https://images.zenhubusercontent.com/60f729b7b9da54de9e274ec7/31f98fd5-0582-41cc-9ab1-0b9c295befe7)

[2021-09-28 17:57] daniportugalgit commented on #1906
@banshee , when you have the time, pls ping me?
I'd like to go over mainnet forking with you and understand how to fix a very specific problem in my new code.

[2021-09-28 18:50] daniportugalgit commented on #1913
Done.
![tenderly.PNG](https://images.zenhubusercontent.com/60f729b7b9da54de9e274ec7/8d4c0d7a-96c8-4b67-89ee-f0531102e77c)

[2021-09-28 18:50] #1913 closed

[2021-09-28 22:22] pandaring2you opened #1938 "Switch relayers to use the company Alchemy account instead of Elliot's personal Infura"

[2021-09-29 08:13] mfaizan1 opened #1939 "Node exits during syncing"
**Current behavior**
During syncing node exits at block height `2976499`

apparently there is some upgrade needed but it fails and makes the node to exit

**Expected behavior**
node should keep syncing

**Steps to reproduce**
start a new node using steps in readme for betanet

Identify exact point in reproduction steps where expectation is violated

[code]

**Additional context**
if i try to run n

[2021-09-29 19:57] daniportugalgit opened #2025 "Fix Peggy2 smart contracts wrt upgrades"
- [x] Add the blocklist to the contract suite
- [x] Add/update blocklist isolated unit tests
- [x] Update the blocklist as per the last changes on Peggy 1.0
- [x] Add Blocklist + BridgeBank + CosmosBridge unit tests
- [x] Review unused variables: are there any vars that are already deprecated and didn't make it to production?
- [x] Test upgrades with a mainnet fork and make sure they are safe and

[2021-09-29 21:21] #1905 closed

[2021-09-29 21:55] pandaring2you opened #1943 "Block OFAC list from Peggy Smart Contracts (Ethereum -> Sifchain)"
Asks:

1) For importing from Ethereum and future EVM chains we must block the transaction for the following addresses  https://www.treasury.gov/ofac/downloads/sdnlist.txt

2) When the OFAC list is updated, we should refresh the list to ensure we're blocking new addresses.

Note: OpenZepplin might already have a solution we can use

[2021-09-30 13:41] daniportugalgit commented on #1943
About OpenZeppelin: I didn't find a blocklist contract in their repo.

Took a look at the list. The format is something like this:
[code]

The file contains 188.468 lines, ~20  of which matter to us. It's not structured and it does not look professional. I wonder if there is any other source for the information we need. It would be great if we didn't have to parse this file, or if OFAC has a stand

[2021-09-30 16:27] pandaring2you commented on #1911
current integration test branch: peggy2/integrationtests . james/junius's work merge with peggy2/integrationtests at useful checkpoints.

[2021-09-30 16:50] pandaring2you commented on #1943
https://github.com/0xB10C/ofac-sanctioned-digital-currency-addresses

Use regex to find ethereum addresses. Can also use a function to check if isEthereumAddress regardless of EVM.

[2021-09-30 16:52] pandaring2you commented on #1750
Abandoning

[2021-09-30 16:52] #1750 closed

[2021-09-30 20:14] #1862 closed

[2021-10-01 05:20] pandaring2you opened #1951 "(On-Going) Merge Develop Into Future/Peggy2 Every Friday"

[2021-10-01 09:37] timlind opened #1952 "Resolve "unchanged files with check annotations""
Some lint issues can be marked as ignored, other's like test case variable scope can be resolved by aliasing e.g

`tc := tc`

Whether to ignore resolve, or change lint rules can be discussed with team.

[2021-10-01 10:03] timlind opened #1954 "Exploration of automated IBC status monitoring and debugging"
Explore options for detailed automated status page for IBC channels and transactions to provide constant monitoring and sustainable and scalable debugging of what is happening with chains, channels, accounts and transfers.

[2021-10-01 10:22] juniuszhou commented on #1865
https://github.com/Sifchain/sifnode/pull/1953 is ready for code review.

[2021-10-01 13:01] timlind opened #1956 "[IBC Whitelist] Add test case for a denom returning that is not native to counterparty"

[2021-10-01 18:26] #1525 closed

[2021-10-01 19:02] marshsif opened #1961 "BUG: Akash to Sif tx fails, but FE DEX shows success (NON-BLOCKING)"
How to reproduce:
Ivan was able to reproduce this error by temporarily disabling cETH imports and then attempting to perform an import of cETH.

How to resolve:
FE Team will need to make an API call to verify that a tx succeeded. Ivan spoke with Andrew about the particular API endpoint needed.

========
template:
**Current behavior**
Please describe the issue you are facing.

**Expected behavior**

[2021-10-01 19:17] marshsif opened #1962 "BUG: import of a non-native Akash token (such as Photon) fails."
How to Reproduce
Export Photon to Akash. Then try to import it back. The import tx will fail.

Possible root cause
whitelisting/registry issue import config

============
TEMPLATE

**Current behavior**
Please describe the issue you are facing.

**Expected behavior**
Please describe what you were expecting to happen when performing your operation.

**Steps to reproduce**
Please provide an itemized

[2021-10-01 19:24] marshsif commented on #1956
closing this as it is a duplicate and doesn't contain any details

[2021-10-01 19:24] #1956 closed

[2021-10-01 19:26] marshsif commented on #1926
this ticket doesn't indicate what those limits should be.

[2021-10-01 19:28] marshsif commented on #1962
Ivan, you mentioned that you would work on a unit test for this issue. This replaces a prior ticket #1956.

[2021-10-01 19:33] gzukel commented on #1926
devnet AKT, Terra ts-relayers and hermes(osmo,regen,crpto) have been updated. The values for ts-relayers have been set at 500,000 with 3,000,000 for hermes.

validated hermes cro is at least importing now.

Please specify the remaining relayers you want me to change the gas for.

[2021-10-01 21:03] ajoslin commented on #1961
Regarding the packet_acks endpoint to check for this failure - I mentioned that the ack endpoint gave me no differential data between a successful and unsuccessful import in the case of sifnode whitelist rejecting the tx. Tried it several times.

I am on mobile right now but can dig up more details later

when this fails in this way, we do refund the user so it isn’t end of the world. I think it’s

[2021-10-01 21:49] marshsif opened #1965 "BUG: make changes to CLI commands to correctly generate high/low precision token configurations in the token registry & json files"
We're seeing issues with the configuration of tokens in the registry, which causes transactions to fail.

This ticket refers to improvements and standards that will help ensure new token registrations are correctly specified.

============
TEMPLATE

**Current behavior**
Please describe the issue you are facing.

**Expected behavior**
Please describe what you were expecting to happen when performin

[2021-10-01 21:52] marshsif opened #1966 "BUG: conflicting token settings cause issues with imports"
Issue:
cETH had incorrect registry config that conflicted with xETH and cause problems with imports.

Requirements:
cETH on Sifchain needs to be exported to IBC as xETH and only xETH. Sifchain should only support importing of xETH via IBC to cETH on Sifchain.

Root Cause:
The permissions for several tokens need to be corrected to address this issue.

============
TEMPLATE

**Current behavior**
Ple

[2021-10-01 22:10] marshsif commented on #1961
I'm going to reopen because we may want to address this.

[2021-10-01 22:48] iverc commented on #1716
addressed in #1967

[2021-10-02 04:03] iverc commented on #1962
@jon-sif Verified that the described flow works as expected.

[2021-10-02 11:20] iverc commented on #1962
@marshsif PR with multichain transfer test:
https://github.com/Sifchain/sifnode/pull/1968

[2021-10-02 15:20] ajoslin commented on #1961
https://github.com/Sifchain/sifchain-ui/pull/289

[2021-10-02 19:02] timlind opened #1971 "Design Doc For Fee Optimisation on High Precision Token Transfers"
The changes required for optimisation of fees on high precision transfers should be considered in a design doc, despite already having a solution.

A design doc would allow us to consider alternative options, and learn more about how to design for optimisation in future.

An alternative option to the existing solution that can be considered, is to store entries in their own key and use a prefix it

[2021-10-02 19:03] timlind opened #1972 "[Token Registry SetRegistry Tx"
The token registery should have a SetRegistry transaction that overrides the entire registry in one transaction.

This would solve the problem of adding a new IBC token which get's added as a different denom, and then needing to remove the previous IBC hash denom.

It would also simplify the process of managing the registry.

[2021-10-02 19:08] sheokapr commented on #1962
Tested PHOTON export/import to Akash successfully.

[2021-10-02 19:09] timlind opened #1973 "[Token Registry] Design Doc For Registry Management System"
Design a registry management system that is easy to use, semi-automated, and not error prone.

Consideration should be given to making use of GitHub CI workflows to update registry with admin key.

[2021-10-02 19:09] timlind opened #1974 "Master Admin Key"
A master admin key should be allowed to dynamically set admin keys used by other modules.

[2021-10-02 21:25] #1716 closed

[2021-10-04 11:29] timlind commented on #1926
@gzukel As far as I know the limits need to be changed on all relayers, on all networks, as the issue here is importing back into sifnode and the fee paid to sifnode.

@iverc / @sheokapr Anything you'd like to add here? @iverc can you put the relayer limit figures here that should be set.

[2021-10-04 16:19] banshee commented on #1742
- [X] watch evmrelayer
- [ ] watch evm events

[2021-10-04 16:44] marshsif commented on #1961
The problem is that FE DEX relies on packet received callback to determine success or failure. This is not sufficient.

How To Resolve:
It needs to look for an ack packet (with appropriate, sequence number, acct number and status)

[2021-10-04 16:47] marshsif commented on #1926
the above values that Grant mentioned are the correct values:

ts-relayer: 500,000
hermes: 3,000,000 (hermes default.) (this number should be refined after gas improvements)

[2021-10-04 17:33] lufa23 opened #1977 "CrossChain app"
###Develop a CrossChain app that allow users to swap assets between different chains, while supporting Rowan.

Develop a swap UI that supports and showcases multiple protocols, including Rowan.

https://thorcat.github.io/ can be taken as a reference in order to integrate Sifchain

[2021-10-04 18:41] nikohosn opened #1979 "[Token Registry] Add JUNO chain on sifchain network"
Add Juno to Sifchain

[2021-10-04 18:45] nikohosn opened #1980 "Add JUNO to token registry"
Please add JUNO to token registry

[2021-10-04 18:46] nikohosn opened #1981 "JUNO Whitelist FE and verify HD path path"
JUNO please verify Whitelist FE and verify HD path path

[2021-10-04 18:47] nikohosn opened #1982 "Contact MM to seed the JUNO pool"
Casey to contact our MM to seed the JUNO pool once it is deployed and live on the front end

[2021-10-04 19:52] iverc opened #1983 "test"
test

[2021-10-04 19:52] #1983 closed

[2021-10-04 19:57] brianosaurus opened #1984 "Debug README docs and processes"
Make sure the procedures in the READMEs are accurate and function properly.

[2021-10-04 19:58] banshee opened #1985 "Update existing (non-peggy2) scripts to not use hardcoded infura URLs"

[2021-10-04 21:03] jon-sif commented on #1984
looks good @brianosaurus

[2021-10-04 21:54] gzukel commented on #1979
Juno-1 nodes deployed to testnet and betanet, ts-relayer has been deployed to testnet for juno-1 network on public rpc endpoints for now.

[2021-10-05 15:18] marshsif opened #1992 "[Token Registry] Design Doc For Registry Management System"
Design a registry management system that is easy to use, semi-automated, and not error prone.

Consideration should be given to making use of GitHub CI workflows to update registry with admin key.

[2021-10-05 15:53] smartyalgo opened #1993 "Restore EVM Native to Sifnode and Back integration test"

[2021-10-05 16:03] smartyalgo opened #1994 "Enable devenv to fail fast"
Currently devenv does not halt if go build fails. The desired behaviour is to have it fail immediately if go build fails, and prompt the end-user

Deliverable: Updated devenv behaviour

[2021-10-05 16:22] pandaring2you commented on #1911
current integration test branch: peggy2/integration-test-restoration

[2021-10-05 16:23] pandaring2you commented on #1911
tbd which branch to work off w/Junius

[2021-10-05 16:28] pandaring2you opened #1995 "Investigate debugging tools"
please add details if it turns out to be a worthwhile task

[2021-10-05 16:45] smartyalgo commented on #1995
We are trying to launch a debugging instance from VS Code. It is currently defined in `launch.json` by passing in hard-coded args.

Due to VS Code's order of resolving & substituting variables, one cannot use environment variables in args.
https://code.visualstudio.com/docs/editor/variables-reference#_configuration-variables

- In the first pass, all variables are evaluated to string results. If a

[2021-10-05 16:56] #1593 closed

[2021-10-05 16:57] #1675 closed

[2021-10-05 16:57] pandaring2you commented on #1675
tokens were added on 9/18

[2021-10-05 17:35] banshee commented on #1985
Work is in sifnode_1985_remove_infura branch

[2021-10-05 19:40] banshee commented on #1985
We've updated the code to use full URIs instead of building from hardcoded infura strings + an infura ID from the environment.

The problem we're running into is that some of the scripts we're looking at don't work at all any more.  For example, you're supposed to be able to specify --network ropsten like this:

[code]

But the code is hardcoded to look at the fourth and fifth element in the array

[2021-10-05 22:00] canercandan opened #1997 "[TO REMOVE]"

[2021-10-05 22:02] pandaring2you opened #1998 "Support Exporting of JUNO (IBC token) to Ethereum"
Hey @daniportugalgit - have you supported this before? Wasn't sure if you or @banshee  was the right person

[2021-10-05 22:35] daniportugalgit commented on #1998
Yes, this is something I've done before, together with James and Elliot. I'll talk to @banshee to remember the details.

[2021-10-05 23:09] pandaring2you commented on #1998
@caseyturnerarrington

[2021-10-06 00:04] #1997 closed

[2021-10-06 04:05] jzvikart opened #1999 "Check test-integration-geth branch"
- Check test-integration-geth branch
- See if it runs or what is the problem
- Communicate with Caner and Wilson what they know and what they already tried
- See how much of that information is usable and incorporate it into integration framework

[2021-10-06 04:05] pgoos opened #2000 "[TestNet] export to Juno network not working"
**Current behavior**
Cannot export any sif token to Juno. Transaction times out.

**Expected behavior**
Export sif token to Juno is successful. Balance in Juno is updated

**Steps to reproduce**

- Fund your sif wallet to have a balance in selected token
- Go to Balances
- Click Export button next to the token you want to export
- Select network = Juno and amount you want to send
- Click Export, t

[2021-10-06 20:11] timlind opened #2003 "Consider adopting the cosmos ADR process for our docs"
https://docs.cosmos.network/master/architecture/

[2021-10-07 15:16] daniportugalgit commented on #1998
I'm reviewing and refactoring the scripts to do this in a more streamlined way.

[2021-10-07 15:34] iverc commented on #1966
https://github.com/Sifchain/sifnode/pull/1986

[2021-10-07 15:36] iverc commented on #1827
https://github.com/Sifchain/sifnode/pull/1853

[2021-10-07 23:00] caseyturnerarrington commented on #1998
Awesome thanks Jordan. Can we add DVPN as well (Sentinel’s token)? They want to get on QS and DS ASAP!

[2021-10-10 15:43] cbrum11 opened #2015 "Possible --dry-run bug"
## Current behavior

I am able to successfully perform a swap via the CLI.  However, when I use the `--dry-run` flag with the exact same command, I receive the following error:

`Error: The specified item could not be found in the keyring`

The key is obviously in my keyring because I am able to complete the real transaction without the `--dry-run` flag.

I can also see the key with the `sifnoded

[2021-10-11 16:08] marshsif commented on #1827
Hey @iverc, what remains for this issue?

[2021-10-11 17:40] pandaring2you commented on #1998
cc @yvesmessy

[2021-10-11 18:04] #1755 closed

[2021-10-11 20:39] pandaring2you opened #2016 "Add existing ERC20 Tokens to Sifchain Week of 10/11 (Smart contract, UI, Sifnode)"
Hey guys, heads up that we’ll be kicking off the whitelisting of erc20 tokens for the week of 10/11: xFund, Cudos, and rAtom

xFund and Cudos have received over 60 votes in our community, the most any tokens have received to date. rAtom has an impeding partnership deal to unlock additional TVL.

This time around, once you’ve finished your step, please tap the next person by @mentioning them in thi

[2021-10-11 22:27] jon-sif opened #2017 "redirect sifchain.finance to dex"

[2021-10-11 22:44] musnit commented on #1998
code and scripts look good. @intl-man can you execute?

[2021-10-12 16:01] smartyalgo opened #2022 "Productionize logs"
Add relevant tags/metadata to logging, such that it is easily searchable via Datadog

e.g. In each log message, append a tag blocknumber so relevant logs from same block can be queried

Deliverable
Logging include Block metadata, searchable on DataDog

[2021-10-12 16:09] Brando753 opened #2023 "Have OutputWriter of DevENV generate a vscode launch.json"
DevENV should be able to generate unique launch.json debug configs for vscode/codium IDE's with all the necessary parameters unique to that run. Also refactor the way env files are generated.

[2021-10-12 16:26] pandaring2you commented on #2016
Ensure these are not upgradeable token contracts to avoid troll tokens.

[2021-10-12 16:29] pandaring2you commented on #1985
wait for James to return to shut down infura on the 10/25. @yvesmessy to ping brent to double check in the meantime

[2021-10-12 16:30] pandaring2you commented on #1995
Finished an alternate solution

[2021-10-12 16:30] #1995 closed

[2021-10-12 16:39] pandaring2you opened #2024 "Create Pauser scripts for bridgebank for all EVM chains"
Support hardware wallets as well. Must do before deploying binance smart chain. As part of peggy 2.0

[2021-10-12 16:47] pandaring2you commented on #1911
A lot of unknowns, might not complete in current sprint (Oct17-28)

[2021-10-12 16:53] pandaring2you commented on #2022
Necessary to debug issues in production (missing transfers, etc), but not needed for testing Peggy 2.0 . Prioritize after Peggy 2.0 integration tests