[2021-10-12 16:54] daniportugalgit commented on #2022
Nice to haves
- ProphecyID (to bundle prophecyClaims)
- Addresses (would it be nice to have sifAddresses both in Hex and in UTF-8?)

[2021-10-12 17:06] pandaring2you commented on #1865
Merge "Feature: For new exports to Ethereum - charge the user for deployment of a new erc20 token contract for all EVM chains" https://github.com/Sifchain/sifnode/issues/1936 here

[2021-10-12 17:07] #1936 closed

[2021-10-12 18:50] daniportugalgit commented on #2016
Created the PR and asked for your approval, @pandaring2you : https://github.com/Sifchain/sifnode/pull/2026

I ran it in test mode and it worked fine.
Now, Aidan has to run the whitelist script.

[2021-10-12 20:40] brianosaurus opened #2027 "tx set-registry command to change the registry for nodes"
Placeholder for tx set-registry.

* is the command to change the entire registry?
  * Does it old registry around?
* Something else?

There is a register command now for sifnoded that will register one json file for one token. I am unsure if it does both the C and X tokens for decimals <= 10 but I think that might be what was wanted in #2027? @iverc implemented this.

CC: @timlind @iverc

Referenc

[2021-10-13 19:58] hosnik opened #2031 "Add Osmosis chain on sifchain network"
Add Osmosis to Sifchain

[2021-10-13 20:00] hosnik opened #2032 "Submit PR to Osmosis Mainnet for Sifchain support"
We will need to ensure we open a pr to their mainnet to support us, and work with them to implement the x token logic.

- We need to open a PR to them for any token we want them to list. This probably should be the following: usdc ust, wbtc, rowan, eth, usdt
- We NEED to work with their team asap for them to implement xtoken logic.

[2021-10-13 20:08] hosnik opened #2033 "Osmosis IBC Testing"
**Osmosis Testing Checklist**

- Imports
- Exports

@sheokapr please fill out additional testing criteria in this ticket

[2021-10-13 20:24] pradeepsheokand commented on #2033
I don't have any real osmo and rowan left for testing, I have asked Casey and Kevin to transfer some to continue with the tests.

[2021-10-14 05:31] #1982 closed

[2021-10-14 05:31] #1984 closed

[2021-10-14 05:31] #1952 closed

[2021-10-14 05:31] #1962 closed

[2021-10-14 05:31] #1965 closed

[2021-10-14 05:31] #1966 closed

[2021-10-14 05:31] #1981 closed

[2021-10-14 05:31] #2027 closed

[2021-10-14 09:04] timlind opened #2034 "ADR for GoLang Integration Test Suite"
After a call with Kevin, the aim for this is to spec out remove as much of the integration test suite as possible out of the current python integration test environment, leaving only "production-like" peggy integration testing, while still retaining a peggy integration test suite in GoLang that uses a mock of Ethereum interface.

The motivation is to allow Sifnode to ensure tests are maintained, w

[2021-10-14 16:07] #1980 closed

[2021-10-14 16:32] daniportugalgit commented on #1583
This is done and unit-tested.
It's already merged in future/peggy2, there's no outstanding PRs.

[2021-10-14 20:05] lufa23 opened #2035 "Create an independent swap UI"
Integrate Sifchain in an independent swap UI like the [thorcat](https://thorcat.github.io/) one

[2021-10-14 22:54] daniportugalgit commented on #2016
@pandaring2you @yvesmessy @caseyturnerarrington @intl-man

We have a new token to add (OH of "Oh!Finance").
@intl-man I've added it to the list, please pull develop to get it.

@intl-man This script should be run on the develop branch and here's the runbook: https://github.com/Sifchain/sifnode/blob/develop/smart-contracts/Whitelist_Update.md

The first step of the runbook is done, so you can go di

[2021-10-15 04:45] intl-man commented on #2016
@daniportugalgit All done!

[2021-10-15 10:50] timlind opened #2040 "V1 of Margin Project Plan"
Break down the Margin project as far as possible for a Margin Project Plan v1.0

[2021-10-15 10:53] timlind opened #2041 "On-support to add new IBC/EVM tokens"
Provide support setting up and debugging relayer connections, and managing token registry.

[2021-10-15 10:56] timlind opened #2042 "Test IBC optimisation changes"
Ensure IBC optimisation changes are deployed to DevNet (@iverc can assist here)

Run tests on IBC relayers and IBC high precision transfers again on DevNet since optimisation changes have been merged, to ensure all is still working well.

[2021-10-15 10:57] timlind opened #2043 "Test, debug and fix new FE endpoint for liquidity provider data"

[2021-10-15 11:02] timlind opened #2044 "Assess viability of removing dispensation tests from python integration test suite"
Assess whether code coverage is sufficient after removing dispensation tests from python integration environment.

Motivation: The current SDK upgrade involves fixing tests within the integration test environment, which would be much more efficient to maintain if they existed in the GoLang codebase.

[2021-10-15 11:04] timlind opened #2045 "Assess how to improve CLP code coverage and implement unit tests"
Motivation: The current SDK upgrade involves fixing tests within the integration test environment, which would be much more efficient to maintain if they existed in the GoLang codebase, which can be achieved by improving code coverage.

[2021-10-15 11:22] timlind opened #2046 "ADR for GoLang integration test of dispensation"
Based off of the python integration test suite for dispensation module, write an ADR for a GoLang integration test suite for dispensation module that provides similar coverage to the python integration dispensation tests.

[2021-10-15 11:24] timlind opened #2047 "ADR for GoLang integration test of CLP module"
Based off of the python integration test suite for CLP module, write an ADR for a GoLang integration test suite for CLP module that provides similar coverage to the python integration CLP tests.

[2021-10-15 12:40] timlind opened #2048 "Integrate GitHub issue creation to send notifications of new sifnode only issues to Slack"
Goal:

A Slack/GitHub integration should send notification of new GitHub issues to a dedicated #eng-sifnode-issues Slack channel.

Motivation:

GitHub should be source of truth for work to be done, and the context required to do so, instead of Slack.

Further conversation around a GitHub issue can take place in the Slack comments of GitHub notification message, or in the comments on GitHub issue.

[2021-10-15 16:10] timlind opened #2052 "Debug and fix broken Peggy tests ontop of SDK v44 PR"
Debug Peggy integration tests that are broken on the v0.44 SDK upgrade PR: https://github.com/Sifchain/sifnode/pull/1860

Record any findings on the issues here.

Create a new PR ontop of the v0.44 branch to fix the issues.

[2021-10-15 16:46] #2048 closed, assigned to timlind

[2021-10-18 15:07] timlind opened #2057 "Upgrade SDK to v0.42.10"

[2021-10-18 15:49] caseyturnerarrington opened #2058 "Add existing ERC20 Tokens to Sifchain Week of 10/18 (Smart contract, UI, Sifnode)"
Hey guys, heads up that we’ll be kicking off the whitelisting of erc20 tokens for the week of 10/18: FIS

This time around, once you’ve finished your step, please tap the next person by @mentioning them in this task.

Points of contact (please comment if we need a different POC for your part):
Peggy: Daniel Portugal (Current step)
Adding Tokens to Bridgebank: @intl-man  (w/ @musnit Approval)
Sifno

[2021-10-18 17:35] #2043 closed, assigned to iverc

[2021-10-18 18:03] Brando753 opened #2059 "Develop Token Recover System"
Build a system which can recover user tokens that where minted incorrectly by the relayers. System should connect to users metamask, take their sifaddress and then approve for burning and burn user tokens

[2021-10-19 05:20] Krishnakumar0033 opened #2060 "xssssrEfe6"
**Current behavior**
Please describe the issue you are facing.

**Expected behavior**
Please describe what you were expecting to happen when performing your operation.

**Steps to reproduce**
Please provide an itemized list of steps we can take in order to reproduce the issue

Identify exact point in reproduction steps where expectation is violated

Example of identifying point where expectation i

[2021-10-19 11:40] #2057 closed, assigned to nobody

[2021-10-19 14:56] #2033 closed, assigned to pgoos, sheokapr

[2021-10-19 22:20] Brando753 opened #2065 "Investigate Using Mapping over Loop"
In debugging sifnode the GetDenom loops over every token registry item on x/tokenregistry/keeper/keeper.go func (k keeper) GetDenom. This is fine when we have a limited set of tokens but once we get rid of the whitlist this is a problem since its done for every claim.

[2021-10-19 22:26] Brando753 opened #2066 "Investigate why DenomWhiteList is improperly set in DevENV"

[2021-10-19 23:03] Brando753 commented on #1911
Pair Session (Daniel, Brandon, Jure, Michael)
- Got Daniel and Jure running the latest version of DevENV
- Fixed the DevENV env address variables to point the correct ROWAN SOURCE address
- Debugged problems with the python test code passing home values incorrectly (incomplete)
- Verified that the ebrelayer correctly sends transaction across the bridge
- Found problem code and created seperate tic

[2021-10-21 00:56] Brando753 opened #2076 "mistake in CLI help documentation"
The `sifnoded query bank balances --help` shows <apd> instead of sifnoded

[code]

[2021-10-21 01:43] Brando753 commented on #1911
Pair Session (Michael, Brandon)
- Added python integration tests to launch.json generator of DevENV
- Refactored OutputWriter for DevENV to support python test env variable generation
- Refactored python integration tests to have more functions use native web3 over javascript calls
- Fixed bug in python integration tests to properly create ethereum accounts (both functions)
- Fixed bug in python i

[2021-10-21 18:10] pandaring2you opened #2077 "Support Exporting of IBC tokens to Ethereum and Polygon Week of 10/18"
Likecoin

1) Creating/deploying the erc20 token contracts
2) Whitelisting the tokens in step 1
3) Creating and bridging the tokens on polygon in step 1

Here's the runbook: https://github.com/Sifchain/sifnode/blob/705d849a4922898fde0469a1516558295ce9867b/smart-contracts/RegistgerIbcTokens.md

Token list is here: https://docs.google.com/spreadsheets/d/1rIRSzzxS-FI8YPd9cyyo314ZR8n8oeLkW7Pq-v44Deg/ed

[2021-10-21 21:51] zikarium opened #2085 "Support Exporting of IBC tokens to Ethereum and Polygon (october-21)"
This time we're deploying the LikeCoin IBC token.

Its ERC20 version has been deployed to the Ethereum mainnet: 0x7588fEFd8D087A7EE3F568087190209F7B449b28

A new file has been created and committed to the `future/peggy2-deploy-ibc-tokens` branch: **deployed_ibc_tokens_21_Oct_2021.json**

@intl-man please run the RegisterIbcTokens script, and then handover to @pandaring2you

Your .env variable REGI

[2021-10-22 00:03] banshee opened #2082 "peggy2: cmd/ebrelayer/relayer/ethereum.go calls ethClient.NetworkID to get the network id, it should use value from command line"
peggy2: cmd/ebrelayer/relayer/ethereum.go calls ethClient.NetworkID to get the network id, it should use value from command line.  In general we don't want to rely on what the ethereum chain reports for its network id.

[2021-10-22 03:38] #2077 closed, assigned to daniportugalgit

[2021-10-22 13:24] timlind opened #2089 "Write in-process integration test for CLP create pool"
According to the style of the SDK integration suites using sdk/testutil and testify suite.Suite:

See cosmos/cosmos-sdk/issues/6423

See cosmos/cosmos-sdk/pull/6489

[2021-10-22 16:06] #2059 closed, assigned to Brando753

[2021-10-22 17:47] pandaring2you opened #2091 "Block OFAC list from Sifnode (Sifchain -> Ethereum)"
Asks:

1) For exporting from Sifchain to Ethereum and future EVM chains we must block the transaction for the following addresses https://www.treasury.gov/ofac/downloads/sdnlist.txt

2) When the OFAC list is updated, we should refresh the list to ensure we're blocking new addresses.

Related issue: #1943 (Ethereum -> Sifchain)

[2021-10-23 00:00] pandaring2you commented on #2085
https://www.notion.so/sifchain/LikeCoin-New-Token-Runbook-0589662a6f904b33a9dc4b5ba2ada754

@nikohosn - After Daniel receives word back from Polygon that the tokens have been bridged, we should be all good on the ethereum / polygon side. what is the timing on when sifnode wants to ibc connect to likecoin?

[2021-10-23 00:03] pandaring2you commented on #2058
@iverc - intl-man's done with his part, have you kicked things on the sifnode side?

[2021-10-25 21:05] banshee opened #2094 "Add specified peggy2 unit test features (more watchers; see checklist in issue)"
- [ ] Add ethereum event watcher
- [x] Add sifnoded log watcher
- [ ] Add process id watcher (to detect death of ebrelayer etc)

[2021-10-25 21:32] #2085 closed, assigned to nobody

[2021-10-25 21:35] banshee opened #2095 "Ebrelayer reports the same nonce twice"
As of this commit:

[code]

The unit test run with ```npx hardhat test test/watcher/watcher.ts --network localhost``` fails because ebrelayer is logging the same nonce twice.

[2021-10-26 20:55] pandaring2you opened #2097 "Integration Testing Peggy 2.0 Framework"
@pandaring2you commented on [Tue Oct 26 2021](https://github.com/Sifchain/sifchain-chainops/issues/107)

Placeholder to be filled in after jure and the team decide on the testing framework at 10/27 meeting

[2021-10-26 20:55] pandaring2you opened #2098 "Integration Testing Peggy 2.0 Framework"
@pandaring2you commented on [Tue Oct 26 2021](https://github.com/Sifchain/sifchain-chainops/issues/107)

---

@pandaring2you commented on [Tue Oct 26 2021](https://github.com/Sifchain/sifchain-chainops/issues/107#issuecomment-952318231)

Issue moved to [Sifchain/sifnode #2097](https://github.com/Sifchain/sifnode/issues/2097) via [**ZenHub**](https://www.zenhub.com/)

[2021-10-26 22:30] #2042 closed, assigned to iverc

[2021-10-27 10:36] timlind opened #2099 "ADR for FPI project"
Once an official PRD is signed off, write an ADR for review  with all involved in the project (data/fe/sifnode)

[2021-10-27 10:42] timlind opened #2100 "ADR for Ethereum blacklisting"
https://www.notion.so/sifchain/ADR-Blacklisting-EVM-sends-from-Sifnode-d186de74b97f4edba01800ac93898fd9

[2021-10-27 11:08] timlind opened #2101 "ADR: Token conversion module for EVM fundraises"
Put together a detailed ADR with security implications in mind, and circulate for internal and / or external security audit before implementation.

[2021-10-27 11:13] timlind opened #2102 "Review PRD for FPI"
Review PRD for FPI project until it is in a final state that a corresponding ADR can be started.

Details on what the rewards will be need to be decided. Decision so far is that data team will calculate and run through dispensation as usual.

[2021-10-27 17:02] timlind opened #2103 "Deploy v0.44 SDK upgrade to a test network"
Using docs provided by Chainops, and consulting with them as needed: https://github.com/Sifchain/sifchain-devops/tree/main/docs/tempnet

Identify tests to run before merging into develop.

[2021-10-27 17:05] timlind opened #2104 "Deploy SDK IBC precision fix to a temp test network"
Using docs provided by Chainops: https://github.com/Sifchain/sifchain-devops/tree/main/docs/tempnet

Should be implemented on top of SDK upgrade, using fork of the ibc-go repo that contains the fix from SDK team.

[2021-10-27 23:44] pandaring2you opened #2105 "Host Sisense Dashboard in a sifchain.finance page"
Dennis is getting pretty close to finalizing the first version of the sisense dashboard for public access.

We want to host this on a new sifchain.finance subdomain (info.sifchain.finance).

We'll start with 1 dashboard, but plan on scaling to at least 3 additional ones. We would also want to put an Analytics link to the subdomain in dex.sifchain.finance.

I can start specing this out with Kappa,

[2021-10-28 00:31] jon-sif opened #2106 "redirect root domain to dex"
I wanted to follow up on the request to redirect the website.  We looked into moving our info site to be www.sifchain.finance and have sifchain.finance  redirect to dex.sifchain.finance.  It is feasible but there are some key undesired aspects.  Primarily, if the goal is for google to index things and take people to sifchain.finance to get the redirect, we would lose the information indexing we cu

[2021-10-28 00:35] #2106 closed, assigned to jon-sif

[2021-10-28 01:10] #2032 closed, assigned to mccallofthewild

[2021-10-29 16:17] pandaring2you opened #2108 "Replay Failed Transactions (from relayer failure)"
production Ebrelayer failed on Oct 27, CST 10am-2:30pm.

By peggy1 design, ethereum blocks in this period will be ignored and not reprocessed.

Deliverable:
- Replay these tx

[2021-10-29 16:45] pandaring2you opened #2109 "Add existing ERC20 Tokens to Sifchain Week of 11/1 (Smart contract, UI, Sifnode)"
Hey guys, heads up that we’ll be kicking off the whitelisting of erc20 tokens for the week of 11/1:

0x99d8a9c45b2eca8864373a26d1459e3dff1e17f3	https://www.coingecko.com/en/coins/magic-internet-money
0x9040e237c3bf18347bb00957dc22167d0f2b999d	https://www.coingecko.com/en/coins/standard-protocol
0x6524b87960c2d573ae514fd4181777e7842435d4	https://www.coingecko.com/en/coins/benzene
0x4691937a7508860f

[2021-10-29 16:58] pandaring2you opened #2110 "Update IntegrationENV Framework"
Will flush out with Brandon / Yves / Jure / James on Wednesday meeting @yvesmessy will set up, but the basic idea is to have a generalized framework for folks to create tests instead of creating custom tests.

[2021-10-29 18:29] smartyalgo opened #2111 "Investigate peggy1 ebrelayer failure incident"
On Oct 27 ~10am CST - 2:30pm, 2 of the 4 ebrelayer was not running in production. This caused an out-of-market incident, and affected txs.

Deliverable:
- Investigate why it happened
- Measures to prevent future occurrences.

[2021-10-29 18:36] smartyalgo opened #2112 "Devenv stuck at deploy contract"
Standing up a devenv stack would fail at contract deployment step,
[code]

Even if hardhat node is deployed

We suspect an up-to-date set of dependencies is causing the issue. This is because after downgrading dependencies versions to match last-known set, this issue goes away

Deliverable
- Reproduce/Verify the issue
- If confirmed is due to versioning, lock version and monitor for relevant fix r

[2021-11-01 18:39] #2052 closed, assigned to brianosaurus, wilsonc2020

[2021-11-01 18:42] brianosaurus opened #2118 "Add APM tracing to sifnoded"
So that we can enable tracing and find node halts and other sifnoded problems:

https://docs.datadoghq.com/tracing/setup_overview/setup/go/?tab=containers

The goal is to help chainops diagnose problems by increasing observability.

@intl-man requested this on 10/31/2012.

[2021-11-02 15:19] DynamicManic opened #2119 "Transfers not showing on receiving chain"
**Current behavior**
Sends not usable when they arrive.  Only viewable

**Expected behavior**
Transfers to be recognized by wallets and app that use the asset

**Steps to reproduce**
Send Osmo from Sif to Osmosis chain and then try to use assets in Osmosis

**What tokens are you interacting with when this issue occurs?**
OSMO/Rowan

(This is common user experience issue)

[2021-11-02 15:46] #2108 closed, assigned to smartyalgo

[2021-11-02 16:17] pandaring2you commented on #2111
hey @intl-man - is this on your team's radar for this sprint?

[2021-11-02 16:19] pandaring2you commented on #2112
Review priority at next sprint planning meeting.

[2021-11-02 16:21] pandaring2you commented on #1993
duplicate of #1911

[2021-11-02 16:21] #1993 closed

[2021-11-02 16:24] pandaring2you commented on #2025
Will need to refactor bridgebank and cosmos bridge due to overlap in the storage layout.

-  Refactor BridgeBank (storage overlap)
- Refactor CosmosBridge (storage overlap)

[2021-11-02 20:28] pandaring2you commented on #2058
hey @mccallofthewild - are we launching FIS? or are we awaiting marketing's go ahead? cc @caseyturnerarrington

[2021-11-02 20:30] jon-sif commented on #2118
@brianosaurus what do you need me to do here?  just say its ok to integrate the datadog agent?

[2021-11-02 20:54] AustinoBombino commented on #1707
closing in favor of https://github.com/Sifchain/sifnode/issues/2118

[2021-11-02 20:54] #1707 closed

[2021-11-02 21:53] AustinoBombino commented on #2118
Old work on tracing can be found in this branch: https://github.com/Sifchain/sifnode/tree/feature/tracing-test

A lot have changes have come through since this work was done so I would only use it for reference and start experimenting on a new branch.

The branch only has basic setup that succussfully reported test data to datadog from within sifnode.

[2021-11-03 00:50] caseyturnerarrington commented on #2058
Waiting on me :)

[2021-11-03 03:17] Brando753 opened #2121 "Fix claim already exists error in watcher test"

[2021-11-03 03:26] Brando753 commented on #2121
Issue was occurring because test was logging claims at the LogToEvent function call which is called not only when a claim arrives but also when the relayer wakes up and checks the last event which updated the nonce.

Line 236-239 ethereum.go:
[code]

Line 286-291 ethereum.go
[code]

LogToEvent in ethereum.go outputs the log watcher.ts watches as a claim on line 413:
[code]

Resolution, since we ar

[2021-11-03 03:40] Brando753 commented on #2095
currently suspect the problem is caused in handleEthereumEvent where we treat nonce0 differently, @juniuszhou is currently refactoring:
ethereum.go lines 428-451
[code]

[2021-11-03 14:08] jzvikart commented on #1943
* Added integration test for ethereum -> sifchain transfer blocklist
* The test checks ETH and ERC20 token transfers separately
* For blocked addresses the test checks that the transaction is reverted
* For non-blocked addresses the test checks that the "LogLock" event is emitted by bridge bank and that the funds arrive to destination Sifchan account

[2021-11-03 16:36] pandaring2you commented on #2091
hey guys - wanted to check on progress here, we still on track for Thursday to get this out?

[2021-11-03 17:21] AustinoBombino commented on #2091
hey @pandaring2you I've been asked to pull away from this issue to focus exclusively on Margin work. The rest of the team is already slated with other tasks and we're a bit shorthanded without Tim this week, so it's looking like this will need to be pushed back to next week.

If you feel this needs to take priority I would discuss with either Brian Woods or Jon Hancock to get it bumped in front of

[2021-11-03 18:30] daniportugalgit commented on #2109
Discussion: https://sifchain.slack.com/archives/C02GFC03PA8/p1635887555037700

[2021-11-03 23:41] banshee opened #2122 "Add peggy2 unit test for a burn of ceth"

[2021-11-03 23:43] banshee opened #2123 "Enhance peggy2 unit test to check final balance for eth transfers"

[2021-11-04 17:08] jzvikart opened #2126 "Review Peggy documentation"
- https://www.notion.so/sifchain/Sifchain-Wiki-Home-97c7770ef9fc45e592cf75f485c6c38e
- https://www.notion.so/sifchain/Peggy-Wiki-914a2dbd854c467191c5bccd52a94005
- https://docs.google.com/document/d/1-mlwLNHVzexDmOQjvxXa3JxyQ1j39dwibJENx7aD_yU/edit
- https://drive.google.com/drive/u/4/folders/1wQPACzKiATKc51dJIzT072uKSRUOW-L7

Code walkthroughs:
- https://drive.google.com/drive/u/0/folders/1Jl4gfD

[2021-11-04 17:22] daniportugalgit commented on #2109
Tokens have been added to the list of tokens-to-be-whitelisted:
Magic Internet Money | MIM | 0x99d8a9c45b2eca8864373a26d1459e3dff1e17f3
Standard | STND | 0x9040e237c3bf18347bb00957dc22167d0f2b999d
Benzene | BZN | 0x6524b87960c2d573ae514fd4181777e7842435d4
Wootrade Network | WOO | 0x4691937a7508860f876c9c0a2a617e7d9e945d4b
SuperFarm | SUPER | 0xe53ec727dbdeb9e2d5456c3be40cff031ab40a55
chiliZ | CHZ

[2021-11-04 19:04] banshee commented on #2094
Checked in.

[2021-11-04 19:04] #2094 closed

[2021-11-04 20:15] smartyalgo opened #2127 "Sifnoded breaks after submitting valid tx events query"
I submitted the following query to archive node,
[code]

and it returned
[code]

the node will continue to return the same error for all subsequent queries, whether it has an '&' clause in it or not. This also affects other users hitting the node

* if not reproduce-able, it happened at ~11/4 3:14:26am CST on sifnoded archive node.

[2021-11-04 20:16] iverc commented on #2127
@smartyalgo please try using --node https://<host>:443

[2021-11-04 20:25] smartyalgo commented on #2127
@iverc still reproduceable
[code]

[code]

[2021-11-04 21:13] Brando753 opened #2128 "Correct mapping of EVMNATIVE to ETH on sifnode"
The new peggy 2.0 contracts treat the native currency as EVMNATIVE in sifnode we need to correct the mapping so that each chain id maps correctly to the EVMNATIVE name (eth).

[2021-11-04 21:14] Brando753 opened #2129 "Output useful tools from Integration ENV"
IntegrationENV should output a file with useful commands already filled out for operating sifnode correctly to increase development velocity.

[2021-11-04 22:34] iverc commented on #2127
@smartyalgo yeah, please ignore my previous comment - did not notice that you were trying to query archive.

The issue is in the event order. Please try running this command:
[code]

[2021-11-04 23:41] smartyalgo commented on #2129
Love this. Maybe even source it and it gives us alias so we dont hv to type out the whole thing.

[2021-11-05 00:44] Brando753 commented on #2065
[code]

[2021-11-05 03:22] Brando753 opened #2131 "Change newcoins to use new DenomHash over Symbol name"
Since peggy 2.0 is removing the whitelist the NewCoins has to mint coins from the denom hash not the metadata symbol to prevent counterfit ERC20 tokens from being used.

ethbridge/keeper.go Line 81-92:
[code]

This will require the UI and CLI to be updated to use the token registry to map coin denoms to correct types.

[2021-11-05 03:40] #2128 closed

[2021-11-05 03:41] Brando753 commented on #2066
My understanding is this list is only relevant for IBC tokens and EVMNative coins, the changes needed have been made, marking closed.

[2021-11-05 03:41] #2066 closed

[2021-11-05 15:49] smartyalgo commented on #2127
That worked. What are the rules when constructing the query?

[2021-11-05 16:08] #2095 closed

[2021-11-05 17:56] Brando753 opened #2134 "Remove Decimals, Symbol, and Name from metadata module for ERC20 Tokens"
ERC20 Tokens should only store contract address and network descriptor only the IBC tokens should store symbol, name, and decimals

[2021-11-05 18:07] Brando753 opened #2135 "Remove Decimals, Name, and Symbol from DenomHash generation"
The current GetDenomHash implementation uses the contract address, network descriptor, name, decimals, and symbol to generate the denom hash on sifnode. This should only use the contract address, and network descriptor to avoid problems with ERC20 tokens that could change those fields from being seperated in our keepers.

[2021-11-06 01:26] pandaring2you commented on #2109
awaiting feedback from Brent and Casey here: https://sifchain.slack.com/archives/C02GFC03PA8/p1636049195045800?thread_ts=1635887555.037700&cid=C02GFC03PA8

[2021-11-06 01:30] pandaring2you commented on #1943
hey @jzvikart thanks for the update - so just so i understand, it sounds like the tests are complete and passing (correct me if im wrong).

And based on @daniportugalgit's comment:

"One thing we might want to do together is go over the blocklist PR for Peggy 1. It does have a lot of changes, I think something like 50 files. It could be a somewhat daunting task to review that in isolation. Do we w

[2021-11-06 01:35] pandaring2you commented on #1909
The team synced on this again. It turns out that the only person who can revoke a pauser/unpauser's permissions is the pauser/unpauser themselves. This means if someone were to steal a pauser/unpauser's key, they would be able to pause/unpause the contracts in perpetuity.

So, question for chainops/executives:
1) I'm assuming we want to have some sort of system that allows someone other than the p

[2021-11-06 01:38] pandaring2you commented on #2091
@jon-sif - Can we schedule this work to be started on Monday? Ingrid was thinking this would be done today - we put in a superficial UI fix to bandaid this, but I think we should have a real solution for regulatory concerns soon.

[2021-11-06 01:43] pandaring2you commented on #2110
hey guys - i know yves mentioned there'd be a followup meeting on thursday to walk through the framework and layout a testing plan/roadmap, did this meeting happen/what was the outcome?

[2021-11-06 10:47] intl-man commented on #2109
Done.

[code]

[2021-11-08 17:22] Brando753 commented on #2131
Junius committed his code fixing this before I pushed mine.

[2021-11-08 17:23] #2131 closed

[2021-11-08 17:23] Brando753 commented on #2134
Junius commit did this as well

[2021-11-08 17:31] Brando753 commented on #2134
On Review his changes did not do this ticket but instead 2135.

[2021-11-08 17:31] #2135 closed

[2021-11-08 18:02] Brando753 opened #2143 "Update Watcher Test to use denom over token symbol in lookups"
When the watcher test runs it looks to see if the balance matches the expeted output, it should instead use the denom hash to check if it matches.

[2021-11-08 18:13] smartyalgo commented on #2127
@iverc ^
And is this the intended behavior, that it only works in a certain order?

[2021-11-08 18:53] pandaring2you commented on #2109
@mccallofthewild @caseyturnerarrington - On you guys now.

[2021-11-08 19:51] Brando753 commented on #2143
Completed in commit 5497437d8624be0dafcd6dfbc3ca23d33a55ae8d

[2021-11-08 19:51] #2143 closed

[2021-11-08 21:57] pandaring2you commented on #1913
From Daniel: Monitoring of Validators' balance has been successfully setup
I've just spoken with the guys at Tenderly and they assured me that we now have custom balance alerts for our validator EOAs.
Whenever one of the following addresses gets below 5 ETH balance, we'll be notified.
0x0D7dEF5C00a8B6ddc58A0255f0a94cc739C6d0B5
0x9B4002670C210A3b64e13807250BE62B8dEae201
0xbF45BFc92ebD305d4C0baf8395

[2021-11-09 15:50] banshee opened #2147 "Create an api to show all locks and burns associated with a given address"
We need a new api that returns all the locks and burns associated with an account.

locksAndBurns(ethereumAddress: string)
locksAndBurns(sifchainAddress: string)
locksAndBurns(ethereumTransaction: string)

[2021-11-09 17:13] pandaring2you commented on #2025
Assuming no interrupts, should be able to complete this sprint

[2021-11-09 17:13] banshee opened #2148 "Use new ui apis for adding lock of rowan to unit tests"
Use new frontend ui apis for adding lock of rowan to unit tests.  (Depends on UI apis actually being available).

[2021-11-09 17:15] pandaring2you commented on #2129
No longer doing on devenv. Moving to integration env.

[2021-11-09 17:15] banshee commented on #2129
You can look at test/integration/environment_setup.sh for an example of how we used to do this for the old environment.

[2021-11-09 17:17] pandaring2you commented on #2143
Necessary change to enable whitelist removal

[2021-11-09 17:27] pandaring2you commented on #2147
@smartyalgo to add details on requirements for this based on transaction api he has. (use case: for frontend support to be able to investigate user transaction history)

[2021-11-09 17:33] pandaring2you commented on #2135
to ensure the hash is only based on network id and address to avoid the same token have different hashes

[2021-11-09 17:35] banshee opened #2149 "Add watcher test to CI/CD for peggy2"
The lock tests are now working and should be added to cicd on github.

[2021-11-09 17:38] banshee commented on #2121
Works now.

[2021-11-09 17:46] pandaring2you commented on #1943
Dependent on #2091 . Could theoretically launch without 2091, but would incur an arduous recovery process. @pandaring2you - check with Sifnode on timing - for now, let's wait to deploy this until we get #2091 resolved.

[2021-11-09 17:51] pandaring2you commented on #2110
Want to update integrationENV to sync with DevENV

[2021-11-09 17:59] pandaring2you commented on #1951
There were massive refactors on develop, resulting in merge conflicts. Pausing this on an ongoing basis until we have our integration tests working and .44 upgrade.

[2021-11-09 18:49] pandaring2you commented on #2109
@iverc Can you run the sifnode steps to whitelist these tokens? Thanks!

[2021-11-09 18:58] jon-sif commented on #2091
@brianosaurus can you please update on who has this issue?  It's showing assigned to Tim.  Jordan needs it worked on this week.

[2021-11-09 19:42] pandaring2you opened #2150 "Add existing ERC20 Tokens to Sifchain Week of 11/8, 11/16 (Smart contract, UI, Sifnode)"
Hey guys, heads up that we’ll be kicking off the whitelisting of erc20 tokens for the week of 11/8:

0x4461cfd640da24d1a4642fa5f9ea3e6da966b831	https://www.coingecko.com/en/coins/cosmostarter
0xae697f994fc5ebc000f8e22ebffee04612f98a0d	https://www.coingecko.com/en/coins/lgcy-network

https://docs.google.com/spreadsheets/d/1rIRSzzxS-FI8YPd9cyyo314ZR8n8oeLkW7Pq-v44Deg/edit#gid=0 (Ethereum Tab)

Once

[2021-11-09 19:48] AustinoBombino commented on #2091
@jon-sif Brian let us know yesterday morning that he needed to take the day off. I haven't seen him online yet today so not sure if he's back or not. Tim seems to still be out and Ivan is also out this week. So Sifnode as of now seems to just be me and Tanmay, and we're both occupied.

[2021-11-09 20:06] pandaring2you commented on #2109
@caseyturnerarrington - can you let us know the priority on this list? from what i understand only Austen and Tanmay are free and need to know how urgent this is to push to them.

[2021-11-10 02:36] iverc commented on #2091
I think it’d make sense for Austin to keep focusing margin, while Brian and Tanmay might wanna prioritize this task over the other ingoing tasks to make it work this week.
 I might be able to look into it tomorrow or at least assist  with it.

[2021-11-10 15:51] pandaring2you commented on #1909
Note: Awaiting answers from executives

[2021-11-10 15:55] smartyalgo commented on #1994
Closing. Switching to SDK

[2021-11-10 15:55] #1994 closed

[2021-11-10 16:11] #2134 closed

[2021-11-10 16:54] pandaring2you commented on #1838
Will not do. Only affects future ibc tokens being onboarded with peggy 1.0.

[2021-11-10 16:54] #1838 closed

[2021-11-10 16:57] pandaring2you commented on #2111
resolved. @smartyalgo please add PR that resolved this for future reference

[2021-11-10 16:57] #2111 closed

[2021-11-10 16:58] smartyalgo commented on #2111
PR: https://github.com/Sifchain/sifnode/pull/2107

[2021-11-10 17:06] #1909 closed

[2021-11-10 19:38] pandaring2you commented on #2150
I talked to @caseyturnerarrington  - no need to list these tokens until 11/19, so we can push this week's batch to next week. will reopen this task will a new list next tuesday.

[2021-11-10 19:58] pandaring2you commented on #2109
Spoke with @caseyturnerarrington - we're having initial talks with Super on friday, so would be great to have this done by early next week. @brianosaurus/ @iverc  - any chance we can schedule to get this done by Tuesday?

[2021-11-10 21:32] smartyalgo commented on #2127
@AustinoBombino @kingpinXD can you guys shed some light on this?

[2021-11-10 22:37] banshee opened #2151 "peggy2 burn of ceth gets an error about sifchain native token"

[2021-11-10 22:44] banshee commented on #2151
We get:

[code]

[2021-11-11 17:26] banshee opened #2153 "GetCrossChainFeeConfig is returning ceth, needs to return the denom hash"

[2021-11-11 17:36] banshee opened #2154 "AddTokenMetadata is not being called after prophecy completion"

[2021-11-11 17:37] banshee commented on #2154
Fixed in 1521644df0140a3eb06b8b8024e30a263424b26d

[2021-11-12 01:24] pandaring2you opened #2155 "Group 1: 2. Integration Test: Token to Sifnode and Back for first time"
https://docs.google.com/document/d/1mmCZOgbJymSpeeQey-fT2c0W6e-gTDy7opazcXYpKm8/edit

[2021-11-12 01:26] pandaring2you opened #2156 "Group 1: 3. Integration Test: Token to Sifnode and Back"
https://docs.google.com/document/d/1mmCZOgbJymSpeeQey-fT2c0W6e-gTDy7opazcXYpKm8/edit

[2021-11-12 01:27] pandaring2you opened #2157 "Group 1: 4. Integration Test: Token to Sifnode and Back with a troll token"
https://docs.google.com/document/d/1mmCZOgbJymSpeeQey-fT2c0W6e-gTDy7opazcXYpKm8/edit

[2021-11-12 01:28] pandaring2you opened #2158 "Group 2 Integration Tests: Transfer a double-pegged Token, IBC token, and Rowan token - to EVM chain and back"

[2021-11-12 01:29] pandaring2you opened #2159 "6. Integration Test: Token to Sifnode to Mock IBC and back, first time"

[2021-11-12 01:29] pandaring2you opened #2160 "7. Integration Test: Token to Sifnode to Mock IBC and back"

[2021-11-12 01:30] pandaring2you opened #2161 "8. Integration Test: Blocklist Testing"

[2021-11-12 01:30] pandaring2you opened #2162 "9. Load Testing"

[2021-11-12 01:31] pandaring2you opened #2163 "10. Migration Testing"
- [ ] Migrate user balance in bank module

[2021-11-12 01:32] pandaring2you opened #2164 "11. Integration Test: EVM Native to Sifnode to other EVM chain to Sifnode and Back (Double Pegging)"

[2021-11-12 01:32] pandaring2you opened #2165 "12. Integration Test: EVM Native to Sifnode to other EVM chain to Sifnode and Back (Double Pegging)"

[2021-11-12 01:35] pandaring2you opened #2166 "Peggy 2.0 Testing"
Testing as outlined here: https://docs.google.com/document/d/1mmCZOgbJymSpeeQey-fT2c0W6e-gTDy7opazcXYpKm8/edit

[2021-11-12 09:35] jzvikart commented on #1943
**Work in progress** - this branch is not ready to be merged at the moment.

As discussed, I temporarily removed my changes from this branch because we want to merge integration framework first to develop and then merge develop into this branch. I will re-add my changes later on top of that, and after we receive the response from Sifnode team.

I saved the previous branch as jure/blocklist-v2-back

[2021-11-12 17:33] pandaring2you commented on #2076
after investigation, because it's part of the bank module, more complicated than realized. wont fix

[2021-11-12 17:33] #2076 closed

[2021-11-12 17:40] Brando753 opened #2168 "Add seperators '/' to hashed strings that have seperate values"
When we hash strings such as in the prophecy ID and denom hash we should separate the values in the string being hashed by a '/'. This is best practice in any hashes to prevent the ability to construct colliding hashes with different inputs to variables. i.e. if var A is "123" and B is "456" without the separator an attacker could pass in the variables var A "1" B "23456" which would hash the exac

[2021-11-12 17:42] Brando753 opened #2169 "Calculate the denomHash values in the devENV and integration tests"
We should setup the denomHash values to be calculated in the devENV and watcher scripts so that changes to the denom method can be auto calculated on all other EVM values that might be needed.

[2021-11-12 17:43] jzvikart commented on #1943
Sifnode team is currently overloaded, ask for status around 2021-11-16

[2021-11-12 17:46] Brando753 opened #2170 "Architecture Change For Denoms"
We need to figure out how to handle denomHash's of IBC tokens coming in since the ibc denoms and rowan need to be correct.

[2021-11-12 17:55] Brando753 commented on #1910
Questions for execs from Jordan's email:

Followed up by:

So are we moving forward with creating separate pauser and unpauser roles? @jon-sif

[2021-11-14 03:56] jon-sif opened #2174 "inflation vote tally"
McCall needs to tally the inflation vote and provide results so Casey can move to the next step.

[2021-11-14 12:00] #2174 closed

[2021-11-15 19:13] daniportugalgit commented on #2025
Finished the work per se. Now we have to resolve merge conflicts.

[2021-11-15 19:17] marshsif commented on #2150
noting that no action taken

[2021-11-16 12:50] #2153 closed

[2021-11-16 12:51] Brando753 opened #2180 "Document the current Peggy 2.0 Lock/Burn Arch"
We need a document to act as a source of truth for how Peggy 2.0 should be handling locks/burns on both sifnode and evm side for evm native assets, cosmos native assets, and double pegged assets.

[2021-11-16 12:52] Brando753 commented on #2180
https://docs.google.com/document/d/1KhaQBDonE6H3qQ0Q_NdWYRF86xNacKKavz_2BkA7iv0/edit?usp=sharing

Current document in progress

[2021-11-16 12:53] Brando753 commented on #2180
Need to document the way double pegged locks determine if a bridge token has already been deployed. Need to add some visual diagrams of the flow.

[2021-11-16 14:37] lufa23 opened #2181 "Create an independent swap UI"
Integrate Sifchain in an independent swap UI like the [thorcat](https://thorcat.github.io/) one

[2021-11-16 18:28] pandaring2you commented on #2109
@timlind - is this on your radar? wanted to check in on when this can get done. priority depends on how the talks went with Super cc @caseyturnerarrington

[2021-11-16 18:41] caseyturnerarrington commented on #2109
Talk with Super went poorly. They will not be supporting us in any capacity on us listing their token.

[2021-11-16 18:50] pandaring2you commented on #2091
From Tim: "Hey Jordan, I’ve started dev on this today so will see how we can fit it in with testing and releases amongst other priorities as Marshall mentioned. "

[2021-11-16 19:06] pandaring2you commented on #2151
@smartyalgo to add commit and close out

[2021-11-16 19:09] banshee opened #2184 "lock tests should pay attention to nonce and ethereum sender"

[2021-11-16 19:16] pandaring2you commented on #2025
@daniportugalgit to setup meeting to review all changes including blocklist and upgrade scripts from peggy 1.0 to 2.0.

[2021-11-16 19:26] pandaring2you opened #2185 "Event-driven architecture proposal"
@jzvikart commented on [Tue Nov 09 2021](https://github.com/Sifchain/sifchain-chainops/issues/117)

Send for review to:
- James
- Kevin
- _IM
- McCall
- Bucky
- Jazear

---

@jzvikart commented on [Tue Nov 16 2021](https://github.com/Sifchain/sifchain-chainops/issues/117#issuecomment-970372200)

Document location: https://docs.google.com/document/d/1aT7t-Va1sSxP1Y3k_kdQrbSdUX26BOLSQiqFBIgdpKc/edit

[2021-11-16 20:39] pandaring2you commented on #2150
reopening task for this week. talks with legacy went well and are expecting to provide liquidity provisioning. @daniportugalgit would you mind kicking this off before thursday? thanks

[2021-11-16 20:56] smartyalgo commented on #2151
Closed. Non-issue after merging with https://github.com/Sifchain/sifnode/pull/2152

The code in develop has diverged from us that we won't have to deal with this until we merge develop back into future/peggy2

[2021-11-16 20:56] #2151 closed

[2021-11-17 09:37] timlind commented on #2109
@pandaring2you @iverc is going to take this on next. is all the info here i.e decimal counts for tokens? anything else needed @iverc?

[2021-11-17 15:05] daniportugalgit commented on #2109
_> "@pandaring2you @iverc is going to take this on next. is all the info here i.e decimal counts for tokens? anything else needed @iverc?"_

I was just double-checking and I believe that one of the generated files was not pushed to git.
I created a new PR for it: https://github.com/Sifchain/sifnode/pull/2188

Anyone of you guys can approve it. It's on auto-merge.

After merging that branch into de

[2021-11-17 15:53] #2100 closed

[2021-11-17 16:02] #1590 closed

[2021-11-17 16:05] timlind commented on #1979
@nikohosn can this be closed?

[2021-11-17 20:11] sheokapr opened #2193 "Not able to create tokens in new DevNet environment"
**Steps to Reproduce:**
1. Created this configuration file to include rpc end-points, operator addresses etc. (confirmed with @intl-man operator address and its pvt key is correct)
export BASEDIR=~/sifnode
export DEPLOYMENT_NAME=sifchain-devnet-1
export OPERATOR_ADDRESS=0x1e0220B251eE648C7F3B6Fc31E6d309141f2e464
export ETHEREUM_ADDRESS=0x50cAdE6ec896E675644742188ba885d8FCC25039
export ROWAN_SOURCE

[2021-11-17 21:09] pandaring2you commented on #2105
cc @yunpeng-zhang  @ajoslin @mccallofthewild - any thoughts here?

[2021-11-17 21:11] daniportugalgit commented on #2150
Peggy is done here.

Addresses were tested and passed, they will work fine.
The new list has been merged into `develop`.

@intl-man please pull the changes, run the whitelist script and push to git the two files that the script generates.
Then, please handover to @iverc and @mccallofthewild

cc @pandaring2you @caseyturnerarrington

[2021-11-17 22:20] daniportugalgit commented on #2193
@sheokapr
To solve this issue, please export another variable before running `. $BASEDIR/test/integration/environment_setup.sh`:

[code]

I left the correct ALCHEMY-ID in Slack for you (it's the same that @intl-man posted there).

[2021-11-18 15:34] #2025 closed

[2021-11-18 15:34] daniportugalgit commented on #1907
Elliot's idea here was to have a document that lists gas costs for each function/functionality

[2021-11-18 17:51] pandaring2you opened #2198 "Peggy 2.0"

[2021-11-18 23:32] #2082 closed

[2021-11-18 23:47] pandaring2you commented on #2170
Resolved and documented in #2180

[2021-11-18 23:47] #2170 closed

[2021-11-18 23:47] juniuszhou opened #2200 "the transaction tokenregistry register-all failed In devenv"
the problem is when we start the devenv, we need to add some token's registry info, then we can get metadata from tokenregistry's keeper. but the transaction is failed.

"raw_log":"failed to execute message; message index: 0: unauthorised signer: invalid address"

[2021-11-18 23:49] juniuszhou opened #2201 "remove replay for peggy2.0"
in peggy2.0, we don't need the code to replay missed events according to new design.

[2021-11-19 01:02] banshee opened #2202 "Getting error on lock: sifnode oracle keeper ProcessClaim validator not white list."
As of commit c07579df98e58c96a2706dc067d2f3e6cf2fd61a, I'm seeing:

[code]

[2021-11-19 18:31] pandaring2you commented on #1059
setting as low as there has not been much noise from the community on this one and have much higher priorities

[2021-11-19 18:49] pandaring2you commented on #2109
looks like this has been merged. @iverc - on you now

[2021-11-19 18:54] pandaring2you commented on #2150
cc @bksifchain as a heads up on the token whitelisting process

[2021-11-19 19:32] bksifchain commented on #2105
@pandaring2you - are we planning to skin this at all with something that matches our current UI or put it up as is?

[2021-11-19 19:34] pandaring2you commented on #2091
@timlind  - ping on this - do you have a status?

Would be great to know:
1 - what the solution will look like
2 - testing/release priorities and estimated timeline

[2021-11-19 21:25] caseyturnerarrington commented on #2150
Working with the LGCY team and we are ready to get things in place from a token launch perspective. WOuld be great to setup some time with @bksifchain and @mccallofthewild to launch this right after we execute the LP deal :)

[2021-11-19 21:25] caseyturnerarrington commented on #2109
There are no tokens on here that I have had any luck with getting a LP deal. Once we launch, I will announce to the community and maybe again to the individual projects to get them to come in.

[2021-11-20 03:43] jzvikart commented on #1943
Work in progress complete. Branch `blocklist-v2` has now been restored to its intended state. `test_blocklist.py` is working and passing.

[2021-11-20 06:31] juniuszhou commented on #2201
close it since #2199 merged.

[2021-11-20 06:31] #2201 closed

[2021-11-22 14:23] #1705 closed

[2021-11-22 17:15] brianosaurus opened #2210 "Debug set-registry"
Set registry's cli command might have a bug where it cannot accept a JSON file with multiple registry entries. Debug and test this to ensure or fix so that it works properly.

Also, look into cli testing so these kinds of bugs don't slip through in the future.

[2021-11-22 17:52] brianosaurus commented on #2210
See also: https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/sifnode/1992

[2021-11-22 17:52] brianosaurus commented on #1992
See also https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/sifnode/2210

[2021-11-22 18:38] jzvikart opened #2211 "Enable integration framework in CI/CD"
Step 1: Add parallel workflows that use integration framework instead of `start-integration-env.sh`.

Step 2: Set up new workflows as requirements for merges into main branches

Step 3: After a while, check that there are no differences in workflow runs (old vs. new)

Step 4: Disable old workflows

Step 5: Clean up old scripts

[2021-11-22 18:58] pandaring2you commented on #2150
@intl-man - given the timing as casey mentioned, can you run your part and hand over to @iverc today?

[2021-11-22 18:59] #2185 closed

[2021-11-22 19:51] pandaring2you opened #2212 "Set A Gas Price Limit for Relayers"
The subject of Ethereum gas prices came up at the peggy sync. At one point James saw that a burn transaction could have cost the relayers 7 ETH, which means just a few transactions at these prices would have drained the relayers and halted the bridge at least until we refilled it.

We want to go with a simple solution by setting a limit based on historical data whereby we don’t expect to hit the l

[2021-11-22 20:39] smartyalgo opened #2213 "claim.go has wrong denomHash impl"
x/ethbridge/types/claim.go::GetDenomHash has wrong impl, missing field delimiter

[2021-11-22 22:10] pandaring2you commented on #2091
Tim: This is dev complete and waiting to merge in to develop, aside for the script to keep the list updated, which is being borrowed from the Peggy work. Do you know if that’s merged in yet?

Jordan (PST Timezone):spiral_calendar_pad:  3 days ago
Awesome! Not sure, I believe it should be cc @Daniel Portugal

Tim Lind  10 hours ago
@Daniel Portugal When do you plan on merging the peggy scripts for

[2021-11-22 22:10] Brando753 commented on #2180
RFC is open to peggy team for review. Diagrams may still get readability tweaks.

[2021-11-23 13:45] jzvikart commented on #2097
@pandaring2you If I remember correctly, this ticket was a placeholder about phasing out devenv in favor of integration framework? If so, this ticket can be closed as the steps are already contained in other tickets (i.e. #2110, #2129, #2211).

[2021-11-23 14:51] juniuszhou opened #2216 "Use the command flag to replace arguments for ebrelayer"
Command flag is better way to input parameters for ebrelayer, it is more flexible.

[2021-11-23 16:44] ajoslin commented on #2105
Looks like sisense makes themes pretty easy: https://dtdocs.sisense.com/article/color-themes

[2021-11-23 17:17] pandaring2you commented on #2091
from Tim https://sifchain.slack.com/archives/C01ERUNS2Q0/p1637680844203400

[2021-11-23 17:38] #2097 closed

[2021-11-23 18:49] pandaring2you opened #2219 "Transaction Ordering Documentation"
Document transaction life cycle

[2021-11-23 18:51] pandaring2you commented on #2150
@musnit - would you be able to do this since I see now that Brent is sick?

[2021-11-23 19:00] pandaring2you commented on #1908
Decided at today's sync to parallelize documention with Peggy 2.0 when possible. Unassigned topics (2, 4-7) will be worked on after Integration Tests Pass

[2021-11-24 05:47] #2104 closed

[2021-11-24 10:32] juniuszhou commented on #2216
PR merged.

[2021-11-24 10:32] #2216 closed

[2021-11-24 14:18] jzvikart commented on #1908
We decided to have documentation in Git instead of Google Docs.
I've started the branch `peggy2-docs` with a proof-of-concept for using docsify.
The documentation is (for now) in `docs/peggy/docs/*.md`.
Instructions are in README.md.

[2021-11-24 17:15] intl-man commented on #1613
Closing as this has since been resolved.

[2021-11-24 17:15] #1613 closed

[2021-11-24 17:16] intl-man commented on #1167
Closing as this has been resolved.

[2021-11-24 17:16] #1167 closed

[2021-11-24 17:26] intl-man commented on #2150
@pandaring2you @daniportugalgit white listing complete:

[code]

[2021-11-24 17:35] pandaring2you commented on #2150
@intl-man Thank you! @iverc can you run the sifnode steps on the token registry now?

[2021-11-24 17:41] intl-man commented on #2150
@pandaring2you @daniportugalgit JSON output also merged into `develop`.

[2021-11-24 18:01] intl-man commented on #1939
This is a known issue, with the upgrade to 0.9.5.

Follow the instructions here:

https://github.com/Sifchain/sifchain-validators/blob/master/docs/setup/standalone/manual.md

for spinning up a new node with a snapshot.

[2021-11-24 18:01] #1939 closed

[2021-11-26 05:54] sheokapr opened #2224 "TestNet-All transactions on TestNet getting 501 server errors"
Tried CLP events (Add/Remove Liquidity, Swaps.) via FE on TestNet for different tokens, getting 501 server error and txns failing for all of them. Also, tried Import/Exports, getting same error.

![image.png](https://images.zenhubusercontent.com/608fcda801e9634c34aa4c64/feae5f79-fea3-4e16-9143-d6a5518bedc0)

[2021-11-28 18:29] #2119 closed

[2021-11-29 07:55] timlind commented on #2224
This could be due to a deprecation and change of endpoints in the upgrade:

"Two Legacy REST endpoints (POST /txs and POST /txs/encode) were removed ahead of schedule in v0.44 due to a security vulnerability." https://docs.cosmos.network/master/migrations/rest.html

From the IBC migration guide: "The gRPC querier service endpoints have changed slightly. The previous files used v1beta1 gRPC route,

[2021-11-29 09:27] timlind opened #2228 "Setup margin module"
Create a new cosmos module for margin on a feature branch.

[2021-11-29 09:37] timlind opened #2229 "feat: margin mtp keepers"
Implement storage of mtps: https://github.com/Sifchain/Documentation-Private/blob/main/Margin/Margin%20Trading%20Module%20Implementation.md#keepers

[2021-11-29 09:43] timlind opened #2230 "feat: margin open long"
Implement [open long](https://github.com/Sifchain/Documentation-Private/blob/main/Margin/Margin%20Trading%20Module%20Implementation.md#open-mtp-long-1) with CLI

[2021-11-29 11:31] pradeepsheokand commented on #2224
@timlind - I couldn't find any specific endpoints in FE console. I believe @ajoslin or @mccallofthewild would need to confirm this bit.

[2021-11-29 11:36] pradeepsheokand commented on #2224
Below is the error that I see in FE console:

![image](https://user-images.githubusercontent.com/91950874/143861267-d010bf6d-d853-4f16-b363-8995ee59d11e.png)

[2021-11-29 17:07] khdegraaf opened #2232 "Improve unit testing in dispensation module"
Background task when you are blocked, we need to improve our code coverage overall, but you should focus on this.

[2021-11-29 18:42] banshee opened #2233 "Fix toplevel Makefile to run make abi for smart contracts"
Right now we're checking in generated files. This should stop, and the toplevel makefile should depend on the smart contract abi generation.

[2021-11-29 20:46] pandaring2you commented on #2091
This is currently on betanet

[2021-11-29 20:46] #2091 closed

[2021-11-29 21:48] ajoslin commented on #2224
I looked into this more, regenerated the RPC protobufs too. We aren't using v1beta1 types or /tx endpoints. I do think this is a sifnode issue.

[2021-11-29 21:54] AustinoBombino opened #2234 "Margin Spec - Update functions for Long Close"

[2021-11-29 22:13] pandaring2you commented on #1943
Re-opening as this still needs to be deployed as an upgrade to our smart contracts. Daniel mentioned that both him and IM need to coordinate execution. Daniel has a PR waiting on approval and will talk with IM tomorrow.

[2021-11-30 14:43] juniuszhou opened #2235 "claimData not match"
In future/peggy2 branch, the claimData not match between smart contract and ebrelayer.
we also need store missed items in prophecy info in sifnode.

// smart contract
struct ClaimData {
bytes cosmosSender;
uint256 cosmosSenderSequence;
address payable ethereumReceiver;
address tokenAddress;
uint256 amount;
string tokenName;
string tokenSymbol;
uint8 tokenDecimals;
int32 networkDescriptor;
bool dou

[2021-11-30 14:46] juniuszhou opened #2236 "flexible witness and relayer node number for Devnet test env"
Currently, we have one witness node and one relayer node in Devnet. To verify the different threshold, need more flexible setting for these nodes.

[2021-11-30 17:18] pandaring2you commented on #2233
Benefit: Avoids potential errors checking in generated files vs automatically checking if files have changed then generate the files.

[2021-11-30 17:30] ivanlondono commented on #387
`npm install dotenv`
or
`npm install --dotenv-extended`

[2021-11-30 17:35] pandaring2you commented on #1943
1) Setup cron job to update blocklist
2) Upgrade contracts w/Brent - need to check the setup for the cron job. - will check on timing once synce w/Brent

Note: Take a look at the xml sdn list.

[2021-11-30 17:39] pandaring2you commented on #2180
Dot files converted to sequence diagrams. Moving docs to doxify tool

[2021-11-30 17:40] pandaring2you commented on #2168
@Brando753 to check if this is actually done

[2021-11-30 17:51] #2168 closed

[2021-11-30 17:55] Brando753 opened #2237 "Generate Sequence Diagrams for Lock/Burn Flow"
Convert the Graphviz dotfiles from flowcharts to mermaidjs sequence diagrams in the documentation.

[2021-11-30 17:57] Brando753 opened #2238 "Finish lock/burn flow markdown documentation"
Convert the documentation from the google doc that was originally written for the burn/lock flow into the more structured and clear markdown documentation.

[2021-11-30 17:58] Brando753 opened #2239 "Convert Peggy 2.0 PRD to Markdown"
Convert the Peggy 2.0 Google Docs PRD to markdown with the link structure preserved to other markdown files.

[2021-11-30 17:58] Brando753 opened #2240 "Convert Peggy 2.0 PRD to Markdown"
Convert the Peggy 2.0 Google Docs PRD to markdown with the link structure preserved to other markdown files.

[2021-11-30 18:49] jzvikart commented on #2236
I'm just converting this part from devenv.ts into integration environment. According to what we said, devenv is now read-only now and any new changes should be part of integration environment. If anybody wants to start working on this part of code, please contact me first.

[2021-11-30 20:16] marshsif commented on #2040
Spoke with Tim and we agreed to close this ticket

[2021-11-30 20:16] #2040 closed

[2021-12-01 14:03] daniportugalgit commented on #2235
There were many issues.
1) The script had been modified a long time ago in a way that it stopped generating .go files. We didn't realize it earlier because we spent a long time working on different branches.
=> When we fixed that, abigen started throwing errors when executed.

2) As James reported here (https://sifchain.slack.com/archives/C02JAGKD04B/p1638188875082800), "Part the problem is that w

[2021-12-01 14:07] daniportugalgit commented on #2235
For some reason, I can't move this card to the "Nearly there" column. But it's nearly there.

[2021-12-01 14:15] daniportugalgit commented on #1943
About the XML file: it's definetely better than a plain text file, even if they didn't organise things in the best way possible.
As we discussed, we have to ship this asap, so we can't change the scope right now, but after we publish the current version of the script, we shall look into improving it.

[2021-12-01 17:41] pandaring2you commented on #2150
from Ivan: ccsms and clgcy are now whitelisted on betanet. on you, now @mccallofthewild

[2021-12-01 18:00] wilsonc2020 commented on #2045
So now we increased code coverage for folder `x/clp` from 44.13% based on `develop` branch to `72.65%` see my test branch `code_cover_clp_keeper_draft`.

Here is codecov reports for these two branch and if you compare you can see the improvement :

`code_cover_clp_keeper_draft` : https://app.codecov.io/gh/Sifchain/sifnode/branch/code_cover_clp_keeper_draft

`develop`: https://app.codecov.io/gh/Sif

[2021-12-01 18:58] pandaring2you commented on #2109
From Casey: Delay these until token listing council decides what tokens to list

[2021-12-01 18:58] pandaring2you commented on #2058
From Casey: Delay these until token listing council decides what tokens to list

[2021-12-01 18:58] pandaring2you commented on #2016
From Casey: Delay these until token listing council decides what tokens to list

[2021-12-02 01:59] juniuszhou commented on #2235
After James implemented the new script, we can generate the correct CosmosBridgeClaimData now. close the issue with commit 7e316697b863be4e2d2f590bb8b308213a5331fb.

[2021-12-02 01:59] #2235 closed

[2021-12-02 18:27] banshee opened #2246 "peggy2 can get to a state where we get nonce errors "Nonce too low. Expected nonce to be 27 but got 26.""
[code]

[2021-12-02 23:08] #2233 closed

[2021-12-02 23:08] #2184 closed

[2021-12-02 23:17] banshee opened #2247 "Use London fork for gas"
Implement base gas fee, now we can set a max gas fee that chainops can specify via CLI.

[2021-12-03 04:45] mccallofthewild commented on #2150
Frontend implementation is complete. Ready for final integration w/ Cosmostarter & LGCY teams

[2021-12-03 06:29] wilsonc2020 commented on #2045
codecov improve for keeper folder is under review: https://github.com/Sifchain/sifnode/pull/2244
codecov improve for types folder is WIP: https://github.com/Sifchain/sifnode/commits/code_cover_clp_types

[2021-12-03 22:47] #2246 closed

[2021-12-03 22:49] banshee opened #2250 "burn of ceth fails when calling cosmosBridgeInstance.BatchSubmitProphecyClaimAggregatedSigs"
As of commit 6bd1d4beaf247d39bce44316775f886e3305150d, the tests now fail when they call cosmosBridgeInstance.BatchSubmitProphecyClaimAggregatedSigs.

Here's a test run output:

[code]

[2021-12-05 23:18] juniuszhou commented on #2250
From the evmrelayer.log, we can see the error as {"L":"ERROR","T":"2021-12-05T08:27:16.740+0800","C":"relayer/prophecyHandler.go:147","M":"failed to send new prophecy completed to ethereum","errorMessage":"transaction type not supported","S":"github.com/Sifchain/sifnode/cmd/ebrelayer/relayer.CosmosSub.handleBatchProphecyCompleted\n\t/Users/junius/github/sifnode/cmd/ebrelayer/relayer/prophecyHandle

[2021-12-06 00:35] juniuszhou commented on #2250
we have the transaction type issue since the commit dbd700e0727580d14d78a7ede610b85b35fb22b6. previous commit is fine.

[2021-12-06 04:22] juniuszhou commented on #2250
Found the root cause, if we use maxFeePerGas and maxPriorityFeePerGas, the transaction failed with type not supported. Need to investigate if it is problem related to some features of hardhat.

[2021-12-06 18:09] timlind opened #2252 "Deploy cosmos v0.43 to TestNet"
To re-enable support for keplr ledger deploy an earlier version of the SDK to TestNet. Match the version that osmosis has deployed.

[2021-12-06 18:11] ajoslin commented on #2252
👀 let me know if you want help testing this

[2021-12-07 01:15] ajoslin commented on #2252
This would still include IBC v2 right?

[2021-12-07 01:46] Jedi2002 commented on #2252
Sure @ajoslin ,ill reach out as soon as I have it deployed on testnet.
It will include ibc v2

[2021-12-07 01:52] ajoslin commented on #2252
## Summary of issue

0.44 is incompatible with Amino transactions, and fully deprecates them.  This is totally incompatible with Ledger, which is only compatible with Amino transactions, not protobuf.

We looked into what Osmosis & Emeris are doing with their 0.44 upgrade. Tested both out and found that they are still using Amino transactions, and do work with Ledger. This means they can't have do

[2021-12-07 02:29] pandaring2you opened #2253 "Daniel Transition Plan"
Hey Daniel - creating a task to track your transition over the next 10 days. Can you add to this list? I'm trying to think of everything we will need from you before you leave. Thanks!

https://docs.google.com/spreadsheets/d/1mQ7uzlb6r6nUyWd2BewBFnUmqtsfmDFnhhqb5mZxlmk/edit#gid=0

[2021-12-07 12:42] daniportugalgit commented on #2253
Hey Jordan, thanks!

For sure, I'll add to that list.

On Mon, Dec 6, 2021 at 11:29 PM Jordan PM ***@***.***> wrote:

[2021-12-07 14:48] juniuszhou commented on #2250
The signature problem is fixed and the test passed now.

[2021-12-07 16:48] #2154 closed

[2021-12-07 16:50] pandaring2you commented on #2065
resolved by Junius

[2021-12-07 16:50] #2065 closed

[2021-12-07 16:54] pandaring2you commented on #2212
James already set a constant limit (command line option in ebrelayer to set limit)

[2021-12-07 16:54] #2212 closed

[2021-12-07 16:58] pandaring2you opened #2255 "Document Smart Contract Work for Peggy 2.0"

[2021-12-07 17:00] pandaring2you opened #2256 "Run Group 0 Integration Test on IntegrationEnv"

[2021-12-07 17:19] pgoos opened #2257 "Golang unit tests for token registry"

[2021-12-08 01:29] smartyalgo opened #2259 "lockburn test has duplicate sifnoded events"
Duplicate sifnoded messages in burn ceth test

[code]

[2021-12-08 17:58] marshsif commented on #1827
@iverc what is the status of this issue?

[2021-12-08 17:59] marshsif commented on #2109
Hey @pandaring2you is it ok if I assign back to you?

[2021-12-08 18:18] pandaring2you commented on #2109
@marshsif - i think this might be more @caseyturnerarrington as i assume he's the one that will be the liaison to the council to coordinate marketing.

[2021-12-09 16:24] juniuszhou opened #2264 "Add cli to set consensus for each network"

[2021-12-09 22:52] juniuszhou opened #2265 "make proto-all doesn't work"
In the future/peggy2 branch, make proto-all doesn't work. I change something in proto definition file, make proto-all can't regenerate the pb.go file.

[2021-12-09 23:37] pandaring2you commented on #2122
Final check on receiver balance is off. We think we are close

[2021-12-09 23:39] pandaring2you commented on #2259
have workaround, but still need to fix as this is pose a problem in future testing

[2021-12-09 23:39] #2250 closed

[2021-12-09 23:47] pandaring2you opened #2266 "EVM -> Sifchain transactions: Python integration test is breaking"

[2021-12-10 06:25] smartyalgo opened #2268 "Add ethereum unlock event support in burn ceth test"

[2021-12-10 06:28] smartyalgo opened #2269 "Document test environment for peggy team"
Document current test infra for test net working group

https://docs.google.com/document/d/1keFRYVIRUw3Lp4FJDP-vGYSMPe-oTlDlwGGH9zj7BN8/edit

[2021-12-10 19:37] marshsif commented on #2229
hey @timlind just want to confirm if this is done?

[2021-12-13 08:40] timlind commented on #2229
code is merged, however are we waiting for test code before we close out the tickets?

[2021-12-13 08:59] timlind opened #2273 "feat: margin close long"

[2021-12-13 19:43] marshsif commented on #2229
Caner is working on a branch that he will merge shortly.

[2021-12-13 22:46] Brando753 opened #2277 "Change how Peggy 2.0 handles Denoms"
We are moving away from using a SHA256 hashed denoms to use more human readable syntax. Convert the DenomHash to the new format:

[code]
Using the null address for native token assets.

[2021-12-14 00:47] juniuszhou commented on #2265
fix it with commit 6f4fc3d77c2b8eefb6d1fa406415e80b129266af.

[2021-12-14 00:47] #2265 closed

[2021-12-14 15:31] juniuszhou commented on #2266
The first test case failed, root cause is the denom for "eth" in the sifnode side not the "ceth". fix it with commit 4c52de5b1146c5b065cdd9bf2161ff3b4da1e8a1

[2021-12-14 15:31] #2266 closed

[2021-12-14 18:33] pandaring2you commented on #2257
backlog task, lesser priority

[2021-12-14 18:49] pandaring2you commented on #2045
ETA have Tim's comments. Merge ETA tomorrow

[2021-12-15 17:29] marshsif commented on #2045
This is ready for review. @timlind and @khdegraaf to review

[2021-12-16 23:33] pandaring2you commented on #2264
@Brando753 to review #2263

[2021-12-16 23:57] #1911 closed

[2021-12-16 23:57] #2122 closed

[2021-12-16 23:58] #2268 closed

[2021-12-16 23:58] #2269 closed

[2021-12-17 00:02] pandaring2you opened #2286 "Extend Typescript Test"
- Have the typescript test to lock/burn with ETH do the same with erc-20 tokens

[2021-12-17 20:52] wilsonc2020 commented on #2045
Merged. https://github.com/Sifchain/sifnode/pull/2276

[2021-12-17 20:52] #2045 closed

[2021-12-20 16:42] brianosaurus opened #2293 "Minor patch for argument mismatch in ibc-go/v2@v2.0.0"
Submit patch to Cosmos for review. The fix is simply to change the required arguments from 3 to 2 (the correct number)

[2021-12-20 16:45] brianosaurus opened #2294 "Debug the gov update-client command"
For some reason this command is failing on TestNet and locally. Figure out why and fix.

[2021-12-20 17:06] brianosaurus commented on #2293
Update: v2.0.2 has the patch on it. Testing that version.

[2021-12-20 17:28] #2293 closed

[2021-12-20 23:15] caseyturnerarrington commented on #2150
Legacy done. Cosmostarter: not yet

[2021-12-21 20:04] timlind opened #2296 "Events for open and close mtp"

[2021-12-21 22:40] #2234 closed

[2021-12-21 22:40] #2229 closed

[2021-12-21 22:40] #2230 closed

[2021-12-21 22:40] #2228 closed

[2021-12-22 15:42] marshsif commented on #2293
2.0.2 has a dependency on the .44 CosmosSDK. We'll have to wait until we upgrade to .44

[2021-12-22 19:37] marshsif commented on #2273
Caner reviewed it.

[2021-12-22 20:47] brianosaurus opened #2298 "Document the tokenregistry processes"
Write documents that detail how to generate new IBC paths (denoms), whitelist new tokens, remove tokens, everything. Do this so that one day it can all be automated.

[2021-12-22 20:47] brianosaurus commented on #2298
IDEA (from @gzukel) Make it so that merging a PR updates the token registry automatically?

[2021-12-22 20:48] brianosaurus commented on #2298
Write the documentation and then create an automation ticket and assign it to @gzukel so he can close this loop.

[2021-12-22 21:03] brianosaurus opened #2299 "When we upgrade to SDK 0.44.3 upgrade ibc-go to v2.0.2"
There is a breaking change in there we want to pick up that fixes a bug. The bug requires extra arguments to be passed when someone creates a new proposal to upgrade the chain.

[2021-12-27 20:57] bksifchain commented on #1979
@nikohosn can we close this?

[2021-12-27 21:27] #1979 closed

[2021-12-29 13:49] #2273 closed

[2021-12-29 13:59] timlind opened #2305 "Edit margin enabled param for pool"

[2021-12-29 15:44] jzvikart opened #2306 "Investigate ImmuneFi report submission: lockedFunds is always 0"
We have a new ImmuneFi report submission (through @pgoos):

lockedFunds is always 0
Smart Contract Bug Description
EthereumBankStorage contains a mapping called lockedFunds that should indicate the amount locked of a certain token:

[code]
However, this mapping is never set nor updated, so it returns 0 for any inputs. I think function lockFunds was intended to update this amount but it overrides l

[2021-12-29 18:28] jzvikart commented on #2306
According to preliminary analysis by @jzvikart and @banshee the `lockedFunds` mapping is obsolete. It was left out to save gas since all the neccessary information can be obtained in other ways. The field itself was left in place as a placeholder to preserve storage layout for backward compatibility of BridgeBank upgrades. This has no implications on security, and the proposed fix is simply to ren

[2021-12-29 22:19] khdegraaf commented on #2306
I commented at ImmuneFi with a slightly edited version of this, and asked the Hacker to see if they disagreed at all with this.

[2021-12-29 22:46] brianosaurus opened #2307 "Add query command to get all client states"
Paint something like from sifnoded q client_sates (or whatever seems apropos for a command name)
[code]

CC: @gzukel

[2021-12-30 04:20] jzvikart commented on #2306
From @Brando753:

[2021-12-31 12:37] intl-man opened #2310 "[Token Registry] Add secret-4 chain on sifchain-1 network"
### Details

Sifchain Chain ID: sifchain-1
Counterparty Chain ID: channel-4
Channel ID: channel-33
Counterparty Channel ID: secret-4
Base Denom: SCRT
Decimals: 18
Display Name: Secret

[2021-12-31 12:44] intl-man opened #2311 "[Token Registry] Add comdex-1 chain on sifchain-1 network"
### Details

Sifchain Chain ID: sifchain-1
Counterparty Chain ID:  comdex-1
Channel ID: channel-30
Counterparty Channel ID: channel-8
Base Denom: cdmx
Decimals: 18
Display Name: Comdex

[2022-01-03 12:10] #2310 closed

[2022-01-03 12:10] #2311 closed

[2022-01-04 16:26] pandaring2you commented on #1943
Currently in audit with Halborn: https://sifchain.slack.com/archives/C022JNCFKFA/p1641239600058100?thread_ts=1640045188.056100&cid=C022JNCFKFA

[2022-01-04 16:37] smartyalgo opened #2316 "lockburn test intermitten failures"

[2022-01-04 16:38] bksifchain commented on #2150
Is cosmostarter still pending? Should we track another task for that then and close this one?

[2022-01-04 16:38] pandaring2you opened #2317 "Investigate group 0 regression of integration test"

[2022-01-04 16:40] #2240 closed

[2022-01-04 16:40] #2238 closed

[2022-01-04 16:53] smartyalgo commented on #2219
PR for sif->eth flow
https://github.com/Sifchain/sifnode/pull/2290

[2022-01-04 17:16] pandaring2you opened #2318 "(Ongoing) Refactor siftool to ensure usability for ongoing integration test work"

[2022-01-04 23:22] pandaring2you opened #2319 "Setup Peggy 2.0 tempnet on Kubernetes"
Creating task to track for next sprint.

Based on the Peggy 2.0-Devops Sync, IM was thinking that the first step is to setup the current Peggy 2.0 tempnet on Kubernetes

[2022-01-05 09:09] #2305 closed

[2022-01-05 13:37] timlind opened #2321 "Get MTP query"

[2022-01-05 14:18] #2306 closed

[2022-01-05 15:32] marshsif commented on #1992
closing as ChainOps is taking this over and Tim has already prepared a doc for them.

[2022-01-05 15:32] #1992 closed

[2022-01-05 15:33] brianosaurus commented on #2299
Dropped this onto 0.43

[2022-01-05 15:41] #1928 closed

[2022-01-05 20:03] #2298 closed

[2022-01-05 20:03] #2307 closed

[2022-01-06 00:03] juniuszhou commented on #2286
closed with #2309 merge.

[2022-01-06 00:03] #2286 closed

[2022-01-06 06:53] #2317 closed

[2022-01-06 18:25] sheokapr commented on #2232
After PR merge, coverage seems to have bumped up from 44% to 94% for dispensation/types.
**Coverage Before:**

![image](https://user-images.githubusercontent.com/22618719/148431947-9d7b0c66-1742-4846-be8e-ddb83a279334.png)

**Coverage After:**
![image](https://user-images.githubusercontent.com/22618719/148432134-7686b69c-0961-4374-8910-2353f01ae2f7.png)

[2022-01-06 18:33] pandaring2you commented on #2232
Some lint errors to clean up and @khdegraaf to codecov numbers before merge

[2022-01-06 21:08] #2294 closed

[2022-01-06 21:08] #2299 closed

[2022-01-06 21:48] timlind opened #2325 "Margin admin account for force closing"

[2022-01-06 21:48] timlind opened #2326 "Query all MTPs by pool"

[2022-01-06 23:18] pandaring2you commented on #2264
large PR, awaiting further review

[2022-01-06 23:20] #2253 closed

[2022-01-06 23:27] pandaring2you commented on #2256
@jzvikart - is group 0 working on IntegrationEnv and can close out?

[2022-01-06 23:31] pandaring2you commented on #2155
Rotation: Junius, Michael, Jure

[2022-01-06 23:32] pandaring2you commented on #2156
Rotation: Junius, Michael, Jure

[2022-01-06 23:34] pandaring2you commented on #2219
ETA EOW

[2022-01-06 23:37] pandaring2you opened #2327 "Hiring (Ongoing)"

[2022-01-06 23:39] pandaring2you commented on #2169
No longer needed

[2022-01-06 23:39] #2169 closed

[2022-01-07 01:40] pandaring2you commented on #1908
https://github.com/Sifchain/sifnode/tree/peggy2-docs/docs/peggy

[2022-01-07 15:45] marshsif commented on #2041
closing as this is old.

[2022-01-07 15:45] #2041 closed

[2022-01-07 20:55] pandaring2you commented on #1059
from niko:

sif1l3dftf499u4gvdeuuzdl2pgv4f0xdtnuuwlzp8
bridge bank address

[2022-01-07 20:57] pandaring2you commented on #1059
@Brando753 to chat with @juniuszhou on estimate and whether or not we want to push this with peggy2.0

[2022-01-07 21:05] smartyalgo opened #2332 "Create package for datapipeline team to generate cosmos events per peggy2 operation"
Data pipeline team needs a list of events for each peggy2 operation.
Deliverable:
- Package to start devenv. (devenv /w instructions)
- Simple command line tool/instructions to invoke each peggy2 operation.

Point of contact: Dae

[2022-01-08 08:53] intl-man opened #2334 "[Testing] Peg in a bunch of assets into TestNet"
We recently had to re-build TestNet. As such, we need to re-run the scripts to peg in a bunch of assets, like we did last time (as all balances have been reset).

[2022-01-09 16:39] #956 closed

[2022-01-09 18:56] caseyturnerarrington commented on #2150
Cosmostarter is still pending

[2022-01-10 19:57] Brando753 opened #2340 "Investigate Troll Token Bridgebank Interaction from integration test"
@jzvikart  reports that BridgeBank successfully locked and transmitted lock events for a troll token that transfers should loop out on.

[2022-01-10 20:05] #2180 closed

[2022-01-10 23:38] khdegraaf commented on #1954
Sounds like you guys are working on this, changed Assignees.

[2022-01-11 17:21] pandaring2you opened #2342 "Halborn Audit 1"
https://halborn.nifty.pm/public/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0X2lkIjoienQwNHNDR2N4RHN4RiIsInNoYXJlX3Rva2VuIjp0cnVlLCJ0ZWFtX2lkIjoidVloejh6MU96RlA4RVQiLCJ0ZWFtX3VybCI6ImhhbGJvcm4iLCJ0ZWFtX3BsYW4iOiJYX0Jhc2ljX1BsYW4iLCJtZW1iZXJfaWQiOiJNMCFPckNQQjFhMVhjbSIsInJvbGVfaWQiOiJNaHp3Nm1sa2hiMGtnQyIsInJvbGVfbmFtZSI6Im1hbmFnZXIiLCJpYXQiOjE2MjI1NjI0MzEsImV4cCI6MzE5OTM2MjQzMX0.oXhZ4V7R4dl5IzJ

[2022-01-11 18:11] jzvikart commented on #2277
When you change the algorithm let me know so that I can update it also in siftool.

[2022-01-11 18:13] Brando753 opened #2343 "Initial Stability Testing Review"
Dev environment of peggy 2.0 shows some stability issues possibly a memory issue that needs review.

[2022-01-11 18:42] pandaring2you commented on #2334
Working with @jzvikart . Expected to finish minting of tokens by EOD

[2022-01-11 18:50] pandaring2you commented on #2252
@marshsif - since testnet is not currently working - can we re-open this or is there another task to track the status of testnet?

[2022-01-11 19:09] pandaring2you commented on #2256
Confirmed with Jure this is now working

[2022-01-11 19:09] #2256 closed

[2022-01-11 19:12] pandaring2you commented on #2110
Duplicate of #2318

[2022-01-11 19:12] #2110 closed

[2022-01-11 19:13] pandaring2you commented on #2129
Finished!

[2022-01-11 19:13] #2129 closed

[2022-01-11 20:59] marshsif commented on #2252
The team is currently testing v.43, and IBC Juno imports and exports. We'll likely need additional testing and an outside audit prior to betanet.

[2022-01-11 21:38] pandaring2you opened #2344 "Deploy OFAC blocklist upgrade to smart contracts"

[2022-01-12 08:37] #2325 closed

[2022-01-13 09:30] jzvikart opened #2352 "inflate_tokens improvements"
* Add ability to export list of whitelisted tokens from mainnet
* Add ability to fund sif accounts with ceth

[2022-01-13 15:31] iverc commented on #1827
@marshsif doing additional tests on the current state of the code to make sure that it works as expected

[2022-01-13 18:41] pandaring2you opened #2353 "Make integration test for multiple coins table driven"
Lower pri optimization to https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/ui/67:

@wilsonc2020 to make the test table driven

[2022-01-13 18:53] sheokapr opened #2354 "Minting/Pegging- Script Improvements"
These are the requirements identified to improve certain aspects of minting/pegging script:
1) Exporting list of tokens from Betanet as assets.json that would be input to the minting script for Devnet/Testnet
2) Transferring the tokens over from Ethereum to Sifchain and distribute to test accounts

[2022-01-13 18:54] sheokapr commented on #2354
Found this bug in the script:
File "/home/psheokand/sifnode/test/integration/framework/inflate_tokens.py", line 82, in build_list_of_tokens_to_create
    assert False, f"Token {token_symbol} is invalid - should start with 'c'"
**AssertionError: Token AAVE is invalid - should start with 'c'**

[2022-01-13 19:01] pandaring2you commented on #2352
duplicate of #2354

[2022-01-13 19:40] marshsif commented on #2296
PR is ready, Tim to make a small change

[2022-01-13 19:50] #2219 closed

[2022-01-13 22:56] pandaring2you commented on #1943
Audit completed. Delay deployment until IM and myself return from pto (week of 1/24)

[2022-01-13 23:13] pandaring2you commented on #2155
Tests are passing!!!

[2022-01-13 23:13] #2155 closed

[2022-01-13 23:17] pandaring2you commented on #2155
@Brando753 to add subtasks/sub cases to task description

[2022-01-13 23:17] pandaring2you commented on #2156
@Brando753 to add subtasks/sub cases to task description

[2022-01-13 23:20] pandaring2you commented on #1951
Restart this next week, beginning with a massive merge.

[2022-01-13 23:32] pandaring2you commented on #2252
@marshsif - the peggy team is thinking of merging develop to future/peggy2 . do you think we'll be in a stable state on develop for us to begin our merge (est. early next week)

cc @Brando753 @smartyalgo @jzvikart @juniuszhou

[2022-01-13 23:56] pandaring2you commented on #2327
Drafting solidity tests for candidate Mark

[2022-01-14 12:02] jzvikart commented on #2354
I implemented the following things in the current `jure/2354` branch:
- Bugfix: remove "c" prefix in assets.json so that we're always dealing with Ethereum-side symbols
- Support for running the script without operator private key
- Subcommand "export" is now able to export list of tokens from Betanet
- Introduce a new parameter for sending Ether to sifnode test accounts (as "ceth") along with ERC

[2022-01-14 15:23] marshsif commented on #2252
@pandaring2you yes I think so. We still have a full regression test to run on TestNet to be certain. There is one issue we're still trying to figure out, with IBC tx's getting stuck in queues and requiring the queues to be manually cleared. We've no idea why that is intermittently happening with each of the IBC chains.

[2022-01-14 17:56] sheokapr opened #2360 "TestNet-FE Issues"
There are some issues that I noticed on TestNet FE.
These are mostly looking like FE specific issues but might require some work on backend side.

1) TVL and Rowan Price is not shown on FE (showing blank)
2) Pools and Pool Stats screen are just spinning (I understand pools need to be created from scratch, but if screen is spinning, ho do we create the first pool?)
3) I tried to enable ibcForEthTok

[2022-01-14 18:48] smartyalgo commented on #2277
Here are some concerns for changing the denom
- Do we need to perform migration for what's currently in the banking module
- How do we handle IBC imports with old denom, do we need to burn and mint new denom for the user?
- The rewards team uses token registry for looking up asset, we'll need to perform migration on that too

[2022-01-14 19:18] Brando753 opened #2362 "Construct a mapping for IBC imports/exports under different denom"
Since peggy 2 uses a new denom structure assets already exported by IBC need to be mapped to the new denom structure so that they when imported back in are credited as the correct token/asset.

We can hand this json mapping and sifnoded team will take over integrating into their ibc module

[2022-01-17 17:52] smartyalgo commented on #2252
@marshsif , circling back, has the fix been merged into develop? if not, is there a ticket to track this issue?

[2022-01-17 18:09] smartyalgo commented on #2252
to be clear, we dont think this blocks us from merging develop into future/peggy2 since it doesnt affect peggy functions.

[2022-01-17 21:12] Brando753 opened #2367 "Followup and Investigate New BridgeTokens and Rowan Uniswap Funding"

[2022-01-18 00:15] intl-man opened #2368 "[DataServices] Check if we can easily increase the transactions per block for the dispensation module"

[2022-01-18 00:15] #2368 closed

[2022-01-18 14:44] marshsif commented on #2252
Hey @pandaring2you @smartyalgo the .43 release is undergoing regression testing on DevNet today. So far, we're only aware of one intermittent issue that only appeared on TestNet, and we've not found the root cause. In general, testing has been going well up to today. I'd say it is looking pretty good, but if you want to be safe you could wait for the regression testing work to finish. I'll create

[2022-01-18 16:58] brianosaurus opened #2370 "Fix cli q ibc client states"
Not all the time but periodically
[code]

Won't return the full list of connected clients' states. This causes confusion when trying to quickly inspect a client to find client_id's, connection id's, etc... If someone looks at all of the connections they can see the list of connected clients is larger than the clients returned from `client states`.

Fix and submit a PR to ibc-go to resolve the issu

[2022-01-19 17:49] timlind opened #2375 "Sifgen genesis needs default values from margin module"
When adding a new module and using sifgen to spin up a temp net, the default genesis values for the new module are not included in the genesis.

PR https://github.com/Sifchain/sifnode/pull/2374

Attempted fix https://github.com/Sifchain/sifnode/pull/2374/commits/0465b15da192afffc5c171fcda6ffe1ae37afa91

Error
[code]

[2022-01-19 19:18] marshsif commented on #2375
Just want to note that this is impacting our margin timeline a little. If you can give this some attention, I'd appreciate it!

[2022-01-19 19:56] brianosaurus opened #2377 "tokenregistry updates to make discoverability cleaner"
When generating IBC json's we don't update the network field. Make it so that field is updated so discoverability is easier for testing, the frontend, etc...

Also, add a node address to the token registry so that discoverability is also easier. Example (the "ibc_counterparty_chain_address" attribute):

[code]

CC: @pgoos

[2022-01-19 19:56] brianosaurus opened #2378 "tokenregistry updates to make discoverability cleaner"
When generating IBC json's we don't update the network field. Make it so that field is updated so discoverability is easier for testing, the frontend, etc...

Also, add a node address to the token registry so that discoverability is also easier. Example (the "ibc_counterparty_chain_address" attribute):

[code]

CC: @pgoos

[2022-01-19 19:59] brianosaurus opened #2379 "Update tokenregistry generation and add a new field for better discoverability"
Per @pgoos :

Update the `generate-ibc-jsons.sh` script to update the `network` field in the token registry. Currently we leave it blank.

Also add a `ibc_counterparty_chain_address` field to the token registry so that discoverability is easier for testing, development, etc... Example
[code]

[2022-01-19 20:03] #2377 closed

[2022-01-19 20:04] #2378 closed

[2022-01-19 21:51] marshsif commented on #2210
Hey @brianosaurus what is the status of this? Is it required for .43? If not, remove it from the release.

[2022-01-20 09:21] timlind commented on #2375
This has been fixed by redefining the margin genesis in sifgen and working around som serialisation quirks

[2022-01-20 09:21] #2375 closed

[2022-01-20 16:25] pgoos commented on #2379
Both `network` and `ibc_counterparty_chain_address` are needed for https://github.com/Sifchain/sifnode/pull/1940 - it's a script for running IBC transfers against TestNet. That additional keys would allow removing hardcoded info inside scripts json config file (which is problematic when IBC chain details change)

[2022-01-20 17:17] smartyalgo opened #2381 "Migrate existing balance in bank module to use new sif denom"
Since we are changing how sifdenom is constructed, we need to migrate their balance in bank module

[2022-01-20 17:19] smartyalgo opened #2382 "Migrate token entry in tokenregistry to use new sif denom"
At this point we are unsure how to handle this. Reward team uses token registry to lookup an asset, there will be inconsistencies

[2022-01-21 02:42] juniuszhou commented on #2264
closed with PR merge.

[2022-01-21 02:42] #2264 closed

[2022-01-22 14:01] jzvikart opened #2384 "Investigate TempNet"

[2022-01-24 14:59] marshsif commented on #2379
Hey @brianosaurus is this critical for .43? If not, let's punt to next release. If it is, could you give me an ETA?

[2022-01-24 16:56] smartyalgo opened #2389 "Unable to start local env after merging develop"

[2022-01-24 17:16] #2210 closed

[2022-01-24 17:17] brianosaurus commented on #2210
Peggy said they would handle removing this feature. Closing

[2022-01-24 17:20] #2370 closed

[2022-01-24 17:22] brianosaurus opened #2390 "Set export permissions on ERC-20 tokens on testnet"
Update ERC-20 tokens on testnet to have export permission.

[2022-01-24 18:24] brianosaurus commented on #2390
duplicate of https://github.com/Sifchain/issues/issues/1095

[2022-01-24 19:34] sheokapr commented on #2390
hey @brianosaurus - can you please set export permissions for all ERC-20 tokens, to start with you can add them for - LINK, BAT, USDT, ETH, WBTC, ZRX
Thanks

[2022-01-24 22:54] #2390 closed

[2022-01-25 17:30] jzvikart opened #2396 "Ebrelayer relays only 1 transaction per block (Peggy1)"

[2022-01-25 17:30] jzvikart opened #2397 "Ebrelayer relays only 1 transaction per block (Peggy1)"

[2022-01-25 17:33] brianosaurus opened #2398 "dispensation cannot accept multiple tokens"
From: https://sifchain.slack.com/archives/C02R4KV4KBR/p1643130936205300?thread_ts=1643119718.201700&cid=C02R4KV4KBR

If output.json contains only a single denom (we tried rowan, cusdt, and ibc hash for nyan), then it runs without issues and the output is
[code]
but when output.json contains multiple tokens - content like this
[code]

[2022-01-25 17:51] banshee commented on #2343
We found and fixed some issues.

[2022-01-25 17:51] #2343 closed

[2022-01-25 17:52] banshee commented on #2247
Already done.

[2022-01-25 17:52] #2247 closed

[2022-01-25 17:52] pandaring2you commented on #2157
Currently have sifnode errors after merge with develop (potentially something with protobuf).

[2022-01-25 17:52] #2121 closed

[2022-01-25 17:57] #2156 closed

[2022-01-25 18:04] pandaring2you commented on #2396
Due to low volume, won't disrupt the user experience. Load testing issue. Please check if issue still exists in peggy 2.0. Will not fix for peggy 1.0.

[2022-01-25 18:05] marshsif commented on #2398
just to note that this does not seem to be required for .43 release. If the file's denoms are in alphabetical order, it won't throw an error. Prefer to punt this until after .43 if possible.

[2022-01-25 18:56] #2034 closed

[2022-01-25 19:53] #2398 closed

[2022-01-25 19:55] marshsif commented on #2296
Tim said this is complete, so closing

[2022-01-25 19:55] #2296 closed

[2022-01-26 15:28] juniuszhou commented on #2389
I just fixed the json output, instead will use the text format and implemented a method to parse it.
We also need add the "--node tcp://0.0.0.0:26657" to run sifnoded command.
still issue to start witness and relayer, the contract used when start them is not corrrect.

[2022-01-26 21:06] marshsif commented on #1943
@pandaring2you @intl-man can we mark this as complete?

[2022-01-26 23:15] brianosaurus commented on #2379
@pgoos Do you want to registry network field to be the chain_id? Or something else? I realize there's also the network RPC address and port which would be different. I need some clarification.

[2022-01-26 23:41] smartyalgo commented on #2389
Using `sifnoded keys list --keyring-backend test` I notice the key it is using isnt in the keyring

[2022-01-27 00:17] brianosaurus commented on #2379
@pgoos We can piggy back on the unused address field in the token registry like this
[code]

Does that work for you?

[2022-01-27 01:10] brianosaurus commented on #2379
Outstanding questions for @timlind
1. What is the cosmos base_denom? It's listed as uatom on betanet but uphoton on testnet.
1. What should we do with TERRA_UUSD?
1. What should we do with EMONEY_EUR?

[2022-01-27 18:10] sheokapr commented on #2334
Minting was done last week, so this ticket can be closed now.

[2022-01-27 18:10] #2334 closed

[2022-01-27 22:44] smartyalgo commented on #2389
Able to start local env successfully, closing

[2022-01-27 22:44] #2389 closed

[2022-01-27 22:59] brianosaurus commented on #2379
@pgoos also, what networks do you need the addresses for? Do you happen to have those addresses? I can populate them easily and then close out this story. We will need to wait for 0.43 to be live for me to update the registry because I do not want to disrupt the process of launching 0.43.

Thanks!

[2022-01-27 23:20] pandaring2you opened #2404 "Bug fix: Peggy 2.0 Integration Tests"
[] Integration test 1 "EVM Native token (e.g. Eth) to Sifnode and Back (writing the tests AND checking tests work)

[] Integration test 2 "ERC20 Token to Sifnode and Back for first time

[] Integration test 3 ERC20 Token to Sifnode and Back

[2022-01-27 23:22] #2255 closed

[2022-01-27 23:23] pandaring2you opened #2405 "Get Peggy 2.0 Documentation Pipeline URL Setup"
Working with Grant on this one

[2022-01-27 23:24] pandaring2you opened #2406 "Followup with Ingrid on OFAC documentation working"

[2022-01-28 21:37] pgoos commented on #2379
@brianosaurus thanks for your questions. So to clarify:

- `network`: should be a network name like akash, irisnet etc.
- `ibc_counterparty_chain_address`: this should state rpc node address. On the other hand, this info can be contained by `address` field. Up to you, indifferent to me.

And also maybe a need you cannot address, but would it be possible to list CLI tool name each chain is using? F

[2022-01-31 18:50] pandaring2you opened #2414 "Create a mapping of old denoms to new denoms"
For sifnode, rewards, and data pipeline teams - they will need a mapping of peggy 1.0 denoms to new peggy 2.0 denoms

[2022-01-31 21:51] Brando753 opened #2415 "Change bridgebank to verify balance transferred in the logLockEvent rather then what is requested."
[code]

There are tokens that take a commission, deflate, etc on each transfer, the amount pegged into sifchain should reflect the bridgebank balance and not the amount requested from transfers. Currently, if such a token were to transfer 100 in and took a 5% commission sifchain would peg in 100 tokens when only 95 could be unlocked in transfer. Proper claims should reflect the imported balance of

[2022-01-31 21:52] Brando753 opened #2416 "Change bridgebank to verify balance transferred in the logLockEvent rather then what is requested."
[code]

There are tokens that take a commission, deflate, etc on each transfer, the amount pegged into sifchain should reflect the bridgebank balance and not the amount requested from transfers. Currently, if such a token were to transfer 100 in and took a 5% commission sifchain would peg in 100 tokens when only 95 could be unlocked in transfer. Proper claims should reflect the imported balance of

[2022-02-01 00:13] Brando753 commented on #2416
Duplicate of #2415

[2022-02-01 00:13] #2416 closed

[2022-02-01 00:14] Brando753 opened #2417 "Add test cases to smart contracts for transfers that have commissions"
As some tokens have commissions it's important that the updated bridgebank can work under those conditions and new tests need to be added for them.

e.g. BabyDoge - charges 5% for every p2p transfer and redistributes to all BabyDoge holders

[2022-02-01 16:55] pandaring2you commented on #2405
Brando mentioned Devops team to look into today/tomorrow

[2022-02-01 16:56] smartyalgo opened #2419 "Port improved TokenRegistry implementation back to future/peggy2"
We made improvements in tokenregistry module, that was removed in the develop merge.

Deliverable:
Replace existing impl with improved impl
Potentially merge this into develop independently to avoid future merge conflicts

[2022-02-01 17:18] pandaring2you opened #2420 "Update Token Registry for Peggy 2.0"
Based on our meeting on 1/20: https://docs.google.com/document/d/1kphqOOho7JEnfngsqHpDszYjUiusL-fiFCY8ub3FewY/edit#bookmark=id.mfaz4q89x303

To support Peggy 2.0: Sifnode will need to update the token registry based on a mapping of peggy 1.0 denoms to peggy 2.0 denoms. #2414

[2022-02-01 18:02] pgoos opened #2422 "Make python IBC transfers script as github action"
PR https://github.com/Sifchain/sifnode/pull/1940 should be integrated with github actions so that it can be run standalone.

Breakdown of needed work:
- remove hardcoded json that stores info about chain configuration, wallets tested and just limit the config file to only contain scenarios to test (tx amounts). Replace it with data retrieved from `sifnoded q tokenregistry entries --node $testnet -

[2022-02-01 18:37] pandaring2you commented on #2422
Tooling for localnet. Will be able to run for tempnet or any other environment. @pgoos @jzvikart might already have some scripts setup to do something similar

[2022-02-01 18:46] pandaring2you commented on #2384
Waiting for feedback from Lance on current state of TempNet work. (last time they touched this code was 2 months ago).

[2022-02-01 22:10] Brando753 opened #2424 "Fix solidity unit tests after merge with develop"
Smart contract tests have started to fail after the merge with develop. These need to be fixed before any new changes can be added.

[2022-02-03 17:56] pandaring2you commented on #2405
hey @gzukel - has this been setup yet? thanks

[2022-02-03 18:23] pandaring2you opened #2432 "Tutorial created for margin environment in localnet, how to add or subtract from an existing MTP"

[2022-02-03 22:40] emperorjm opened #2433 "Provide solution(s) around releasing stuck Terra IBC transfers between Sifchain and Terra"
The latest Sifchain Magnolia release contained the necessary updates to allow the team to execute their game plan to release the stuck Terra IBC transfers but unfortunately, some additional issues have come to light preventing the updates from fixing this issue.

The issues at hand are as follows:
1. Due to the Sifchain trading competition there was a massive surge in traffic which caused the IBC

[2022-02-03 23:16] pandaring2you commented on #2404
Tests now working with the develop<>future/peggy2 merge

[2022-02-03 23:25] pandaring2you opened #2434 "Investigate need for prophecy id in peggy 2.0"
2 places where we maintain a function to turn a transaction into a prophecy id. we might not need this in the smart contract (saving gas and less code complexity). might be a vestigial limb from peggy 1.0. Not needed for peggy 2.0 MVP, can delay till after peggy 2.1.

[2022-02-03 23:28] pandaring2you commented on #2332
@smartyalgo to sync with @jzvikart to see if we can reuse this work for UI's peggy2 environment

[2022-02-03 23:35] pandaring2you commented on #2112
if we move to siftool - not an issue.

[2022-02-03 23:35] pandaring2you commented on #2318
@jzvikart - is siftool working for future/peggy2 after the merge?

[2022-02-03 23:40] smartyalgo opened #2435 "ethbridge module emitting incorrect cosmos events"

[2022-02-03 23:42] #2239 closed

[2022-02-03 23:51] pandaring2you opened #2436 "For Deflationary/Inflationary Tokens - Need a UI warning/community support"
@bksifchain - let's discuss this a little bit. for inflationary/deflationary tokens (e.g. FRAX, OUSD), we will have issues with the bridge overpaying/underpaying users when transferring.

E.g. A deflationary token : If user A deposits  100 OUSD into ethereum bridgebank and user B deposits 100 USD, bridgebank gets deflated to 100 OUSD, and user A will be able to withdraw 100 OUSD, leaving user B wi

[2022-02-03 23:58] pandaring2you commented on #2417
e.g. BabyDoge - charges 5% for every p2p transfer and redistributes to all BabyDoge holders

[2022-02-04 05:04] pandaring2you opened #2437 "Find Second Auditor for Peggy 2.0"
Auditors
[ ] Quantstamp, - no response
[ ] solidified/oak - no bandwidth
[ ] trail of bits - meeting on 2/8
[ ] hacken - waiting to hear back - does not do cosmos
[ ] jepsen - reached out - does not work on POW systems (ethics)
[ ] leastauthority - meeting on 2/9
[ ] Elliot - only 2 days total
[] Peckshield - reached out
[] Certik - reached out

We are looking to conduct an audit of our upcoming v

[2022-02-07 19:38] #2432 closed

[2022-02-07 19:50] timlind opened #2444 "Auto-incrementing MTP id"
Index MTPs by auto-incrementing id

[2022-02-07 21:44] canercandan commented on #2432
link to margin tutorial: https://github.com/Sifchain/sifnode/blob/feature/margin-1/docs/tutorials/margin%20tutoral.md

[2022-02-07 22:08] #2433 closed

[2022-02-07 22:23] pandaring2you opened #2445 "Create admin ability to pause locks/burns on Sifnode for Peggy 2.0 deployment"
Ability to pause locks/burns on Sifnode so that we can deploy peggy 2.0 changes. This functionality won't be needed until mid March.

[2022-02-07 23:43] pandaring2you opened #2446 "Create a script that would identify if an erc20 token contract is a rebase token, is upgradable, or charges commission fees"
We want to identify erc20 tokens that will lead to a poor user experience so that we can warn users before importing the token into sifchain for peggy 2.0. This will also be helpful for peggy 1.0 to notify the token council that an approved token might have issues with our bridge

Examples:
- BabyDoge (charges commission fees on token transfers)
- OUSD (rebase token and is upgradeable)
- FRAX, AMP

[2022-02-08 17:54] pandaring2you commented on #2417
@banshee @smartyalgo to review https://github.com/Sifchain/sifnode/pull/2441

[2022-02-08 17:55] #2424 closed

[2022-02-08 17:56] #2405 closed

[2022-02-08 17:57] #2415 closed

[2022-02-08 17:59] pandaring2you commented on #2123
Want to start using grpc to test multiple transfers simultaneously

[2022-02-08 18:02] pandaring2you commented on #2149
Want this before merge to develop, but keep in backlog for now.

[2022-02-08 18:04] pandaring2you commented on #2344
AI: Jordan Talk to Aidan/Jazear
Should merge fixes to master and develop before deploying.

AI: Brent to merge PRs https://github.com/Sifchain/sifnode/pull/2448 - to master https://github.com/Sifchain/sifnode/pull/2280 - to develop

[2022-02-09 12:54] juniuszhou opened #2451 "Remove register all"
Register-all doesn't work anymore and needs to remove from Sifnode tx.

[2022-02-09 19:46] marshsif commented on #2118
Jordan @pandaring2you Jon asked me to reassign this to you, as a ticket that Brent will most likely be taking on for this sprint, to address debugging/tracing improvements for our nodes. The purpose is to help us better identify the cause of nodes crashing on BetaNet or other env's.

Brian made a little headway a while back, but he had to prioritize .43 and now he's on PMTP.

[2022-02-09 22:37] khdegraaf commented on #2422
I have been told that tempnet will run ibc relayers now (although work in progress to do hermes rather than ts-relayer).  Please let me know what if any issues are remaining that would block this from running manually or in cicd against any tempnet.

[2022-02-09 23:56] juniuszhou commented on #2451
close after PR merge.

[2022-02-09 23:56] #2451 closed

[2022-02-10 06:49] jzvikart commented on #2354
I'm not aware of any blockers at this time.

[2022-02-10 18:26] pandaring2you opened #2453 "Applause regression testing after sifchain.js update"
Once front end confirms that staging is the latest code, we can begin regression testing.

[2022-02-10 18:55] #2126 closed

[2022-02-10 18:55] #2396 closed

[2022-02-10 19:03] pandaring2you commented on #2232
@sheokapr to create a PR for kevin to review eta tomorrow

[2022-02-10 19:57] pandaring2you commented on #2420
cc @daechoi

[2022-02-10 23:52] pandaring2you commented on #2158
Proposed coordination: Since we're all in different timezones, the proposal is to hand off the work to the person in the next time zone.

[2022-02-10 23:52] #2159 closed

[2022-02-10 23:52] #2160 closed

[2022-02-10 23:56] #2417 closed

[2022-02-11 22:55] pandaring2you opened #2458 "Add existing ERC20 Tokens to Sifchain Week of 2/14 (Smart contract, UI, Sifnode)"
Hey guys, heads up that we’ll be kicking off the whitelisting of erc20 tokens for the week of 2/14:

Gala
ETH Push Notification Service
Merit Circle
NKN
SQUEETH

https://docs.google.com/spreadsheets/d/1rIRSzzxS-FI8YPd9cyyo314ZR8n8oeLkW7Pq-v44Deg/edit#gid=0 (Ethereum Tab)

Once you’ve finished your step, please tap the next person by @mentioning them in this task.

Points of contact (please comment

[2022-02-11 23:10] lanerjo opened #2459 "All current docker builds against the Develop branch are breaking"
github.com/gogo/protobuf@v1.3.3: reading github.com/gogo/protobuf/go.mod at revision v1.3.3: unknown revision v1.3.3

[2022-02-11 23:24] #1217 closed, assigned to nobody

[2022-02-14 00:05] juniuszhou opened #2460 "Re-implement register all as single transaction"
The previous implementation of the register all includes a loop and generates one transaction for each item in JSON file. we need to change it, use one transaction to add all items.

[2022-02-14 00:19] juniuszhou opened #2462 "Investigate the events out of order"
In peggy integration ts, sometimes we can see the events out of order. The root cause is the message from different log file and watcher is async, need to investigate how to improve it.

[2022-02-14 18:03] #2109 closed, assigned to sifmoon

[2022-02-14 18:03] pandaring2you commented on #2058
Closing this - Spoke with Nik - "I think whatever is pending - we scrap. The list we have right now is up to date with fresh pending partnerships (for most of these) and also been approved by token listing council."

[2022-02-14 18:03] #2058 closed

[2022-02-14 18:04] pandaring2you commented on #2016
Closing this - Spoke with Nik - "I think whatever is pending - we scrap. The list we have right now is up to date with fresh pending partnerships (for most of these) and also been approved by token listing council."

[2022-02-14 18:04] #2016 closed

[2022-02-15 12:30] sheokapr commented on #2232
Added/Updated unit tests for files in dispensation/keeper directory. I have committed changes as part of the original PR- https://github.com/Sifchain/sifnode/pull/2324

[2022-02-15 17:28] pandaring2you commented on #2150
Closing this - Spoke with Nik - "I think whatever is pending - we scrap. The list we have right now is up to date with fresh pending partnerships (for most of these) and also been approved by token listing council."

[2022-02-15 17:28] #2150 closed

[2022-02-15 17:41] pandaring2you opened #2466 "Integration Test for Troll Contract"

[2022-02-15 17:43] pandaring2you commented on #2384
Can run with minikube, now integrate with minting tokens. ETA Thursday. Demo to soon follow.

[2022-02-15 17:45] pandaring2you commented on #2318
@Brando753 to try running siftool and tap @jzvikart if issues arise.

[2022-02-15 18:01] pandaring2you commented on #2332
to start this sprint

[2022-02-15 18:06] pandaring2you commented on #2232
@khdegraaf to confirm after @sheokapr fixes merge conflicts.

[2022-02-15 18:15] canercandan commented on #2384
some updates from last week related with this work (https://sifchain.slack.com/archives/C02BR37HGSE/p1644525182392659)

Lance managed to make the tempnet deployment process to use any devops repo branches and not only the main branch, which means from now one can customize the entire tempnet deployment scripts and run a new tempnet network using those changes this will allow for example to:
* prep

[2022-02-15 18:21] pandaring2you commented on #2422
Might not be complete by 2/17, but can still outline the functionality to the sifnode team and later send a video.

[2022-02-15 18:27] pandaring2you commented on #2384
Originally wanted to demo at sifnode weekly sync on 2/17, but if not ready, can outline with the sifnode team what is in the works.

[2022-02-16 14:47] sheokapr commented on #2232
@khdegraaf - thanks for sorting out the merge conflicts and merging the changes to develop, can we close this ticket now?

[2022-02-16 22:02] pandaring2you commented on #2458
@marshsif - not sure if tim or ivan would be best to help us out
cc @bksifchain , @NLCK2184

[2022-02-16 22:15] marshsif commented on #2458
@pandaring2you go ahead and assign to @iverc

[2022-02-17 04:18] pandaring2you commented on #2420
@Jedi2002 - any progress on the spec?

[2022-02-17 12:37] pgoos commented on #2379
@brianosaurus is the PR ready to be merged?

[2022-02-17 16:44] jzvikart opened #2470 "Demo: minting test tokens for Tempnet"
From @khdegraaf (from Marshall)

The goal is to integrate siftool's token minting into Tempnet via "customization plugins" as discussed with Lance. We want to make a 5-10 min demo for Sifnode team how to do it.

Working branch: https://github.com/Sifchain/sifchain-devops/tree/jure/mint-test-tokens

[2022-02-17 16:49] jzvikart commented on #2470
Current blockers:
- Tempnet on AWS: transactions are not being relayed across the bridge from Ethereum to Sifnode
- Tempnet on Minikube: cannot connect to ganache, random pods crashes

[2022-02-17 18:25] pandaring2you commented on #2422
@khdegraaf to chat with IM on status of whether or not tempnet can run ibc relayers needs to be resolved with devops. The switch to hermes shouldn't have affected this in theory. Currently only aware of gaia that works. This blocks the demo of this test.

@pgoos Script can run against akash, juno, iris, but needs to made extensible to other chains. would like to see which chains are working/not wo

[2022-02-17 18:40] pandaring2you commented on #2470
Tempnet on minikube blocker - should be able to debug w/o Lance since he's away
eRowan not whitelisted on Tempnet inconsistency - might be related to transactions not being relayed across the bridge issue.

[2022-02-17 20:49] #2252 closed

[2022-02-17 23:31] pandaring2you commented on #1943
Remaining step is to create

[2022-02-17 23:31] #1943 closed

[2022-02-17 23:31] #2344 closed

[2022-02-17 23:34] pandaring2you commented on #2458
ETA Friday for Peggy's part

[2022-02-17 23:58] pandaring2you commented on #2466
Issue whereby a contract will cause a transaction to revert, causing our ordered bridge to pause

[2022-02-18 00:00] pandaring2you commented on #2157
All troll tokens listed under mocks dir:
1) Loops on transfer
2) Sends random data
3) ...

[2022-02-18 00:04] pandaring2you commented on #2332
Michael to sync with Dae to handover by 2/23

[2022-02-18 00:08] pandaring2you commented on #2157
Remaining tests to be written:
- Failhard token
- Unicode token
- A few others under mocks dir

ETA for all tests to be written 2/24

[2022-02-18 00:15] pandaring2you commented on #2435
noncritical commands are emitting incorrect cosmos events. need before production. this might impact datapipeline @smartyalgo to sync with Dae to see if these event will impact them.

[2022-02-18 00:16] pandaring2you commented on #2419
will do this after group 1 integration tests

[2022-02-18 00:17] pandaring2you commented on #2259
not critical/launch blocking

[2022-02-18 00:18] pandaring2you commented on #2259
TS state machine tests. Where we try to subscribe to log event, but log events are duplicated.

[2022-02-18 00:19] pandaring2you commented on #2460
@Brando753 to review today

[2022-02-18 00:21] pandaring2you commented on #2158
https://sifchain.slack.com/archives/C01ERUNS2Q0/p1645098089028009
Junius

Hi, I have a technical issue about the IBC token. I am working at the peggy integration test. The test case is to export ibc token that we received from other cosmos chain, to Ethereum. I create and mint a token with denom prefix as "ibc/" in the genesis, then try to lock the token in sifnode side. But the transaction always

[2022-02-18 00:24] pandaring2you commented on #2158
@juniuszhou to check with @banshee if above solution doesnt work, Brandon mentioned James resolved this issue before.

[2022-02-18 00:27] pandaring2you commented on #2158
Est ETA - highly dependent on Mock token issues being resolved - 3/2

[2022-02-18 00:28] pandaring2you commented on #2462
lower priority. will not be running tests out of TypeScript anymore

[2022-02-18 05:19] juniuszhou commented on #2158
After print out the call stack, I found the root cause for the failed tx, it is a bug in sifnode code. The map not init before set its value. Sorry for it, will fix it immediately.

[2022-02-21 23:12] pandaring2you commented on #2118
moving back to Sifnode, devops has done what we can (IBC query issues have been resolved). Remaining work - Adding APM tracing probably belongs to Sifnode

[2022-02-22 17:52] pandaring2you commented on #2384
Goal to have demo by this Thurs

[2022-02-22 17:54] pandaring2you opened #2477 "Review Cosmos SDK Documentation"

[2022-02-22 17:56] pandaring2you opened #2478 "Review Cosmos Tutorial"

[2022-02-22 17:57] pandaring2you opened #2479 "Review Solidity Docs + A few Ethernaut Challenges"

[2022-02-22 17:59] pandaring2you opened #2480 "Review Peggy 2.0 Documentation (no peggy 1.0)"
https://peggy.sifchain.finance/#/

[2022-02-22 18:02] jzvikart opened #2481 "Add typing hints to siftool code"

[2022-02-22 18:30] marshsif commented on #2118
ok, noted. Whoever works on this may need to sync with Austin to understand what remains to be done.

[2022-02-22 18:31] marshsif commented on #2458
@pandaring2you Have you asked Ivan to work on this?

[2022-02-22 21:15] Brando753 commented on #2458
Sorry for the delays on this, I will reassign within the hour

[2022-02-22 22:23] Brando753 commented on #2458
TNODE is a BSC token, it's not listed on Ethereum, we cannot list this token with Peggy 1.0. Cudos was already added to the whitelist in the past. I have updated and tested the deploy scripts with the other addresses using mainnet forking and its ready to go. The following addresses have been added to the scripts to run:
[code]

@intl-man checkout the branch `develop-whitelist-runbook` make sure y

[2022-02-23 08:26] pandaring2you commented on #2458
@marshsif - I havent talked with him directly, but will ping him now.

[2022-02-23 08:44] pandaring2you commented on #2332
from @daechoi :

"Is there a documented event signature and api endpoint that we can interrogate to extract the data?"

@smartyalgo - can you follow up with Dae to make sure he's fully set up? Thanks!

[2022-02-23 23:13] pandaring2you commented on #2458
@intl-man Will need to chat with Brando as there have been changes to the deployment process tomorrow.

[2022-02-24 02:51] juniuszhou opened #2483 "Identify denom from burn event in EVM"
before token burned in Ethereum, we already have the denom generated in sifnode.
for instance, the native rowan or ibc token. the denom hash build from network and
contract address can't be taken as denom. need to get denom from token registry keeper

[2022-02-24 04:20] intl-man commented on #2458
@Brando753 - we're having a lot of issues trying to run the whitelist now:

[code]

Might pay to jump on a call? Let me know.

[2022-02-24 04:23] Brando753 commented on #2458
free for a call right now if you want

[2022-02-24 04:36] intl-man commented on #2458
@Brando753 thanks for your help!

[code]

[2022-02-24 04:38] intl-man commented on #2458
@iverc - assigning to you to update the sifnode whitelist.

[2022-02-24 11:28] jzvikart commented on #2470
Fixed / worked around:
- ebrelayer startup crashes (wrong base64 decode)
- connectivity to ports (using NodePort)
- missing DNS entries (grabbing IP/ports directly from kubectl)

Additional issues:
- [minikube] Missing init chain stuff in launch script
- [aws] Chain genesis outside of pod?
- [aws] GitHub action timing out despite deleting previous pipeline runs + using unique branch name

Lance is

[2022-02-24 18:08] pandaring2you commented on #2470
Will proceed with developing Siftool (localnet) while above "Additional issues" are being resolved for tempnet.

[2022-02-24 18:28] pandaring2you commented on #2453
Cycle is finished, issues have been filed in other FE tickets.

[2022-02-24 18:28] #2453 closed

[2022-02-24 18:28] pandaring2you commented on #2232
Has been merged

[2022-02-24 18:28] #2232 closed

[2022-02-24 23:13] pandaring2you commented on #2458
@mccallofthewild - can you let us know when you can get to this? thanks

[2022-02-24 23:37] pandaring2you commented on #2157
Failhard done. Rest of tests should be done by 2/24

[2022-02-24 23:40] pandaring2you commented on #2158
On track to finish next week. Issue #2483 (PR#2484) to be reviewed by @Brando753

[2022-02-24 23:47] pandaring2you commented on #1910
@jp-sif - when you're ready, this would be a great starter task

[2022-02-24 23:47] pandaring2you commented on #1910
Hey @jp-sif I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-02-24 23:50] pandaring2you commented on #2332
Michael to chat w/Dae tomorrow. Might need to document events

[2022-02-25 00:05] pandaring2you commented on #2466
subtask of group 1 integration tests

[2022-02-25 00:05] #2466 closed

[2022-02-25 00:07] pandaring2you commented on #2340
@jzvikart

[2022-02-25 00:10] pandaring2you commented on #2367
Resolved

[2022-02-25 00:10] #2367 closed

[2022-02-25 15:13] skosito commented on #1040
Maybe `chmod +x sifnoded` would help?

[2022-02-25 19:09] marshsif commented on #2379
Asking Austin, Tanmay or Tim if they can take this on when they have a moment.

[2022-02-25 21:45] pandaring2you commented on #2420
https://sifchain.slack.com/archives/C01DZ17890D/p1645824319251989
Discussion:
"_LB:spiral_calendar_pad:  12:02 PM
@Jordan (PST Timezone) one thing that @Michael Ho highlighted is that there is a possibility of decimals to changes for the same token across time.  We want to make sure that the number of decimals are time invariant for a token.  '
New

Michael Ho  1:25 PM
Right @Tanmay, we've reviewe

[2022-02-25 22:32] pandaring2you commented on #2319
@smartyalgo - Do you have documentation on how to launch Peggy2.0? Perhaps from setting up the environment for datapipline?

[2022-02-28 08:44] begmaroman commented on #2118
**Infra setup**
For nodes that are running inside k8s cluster, the following setup should be applied - https://docs.datadoghq.com/agent/kubernetes/apm/?tab=helm. Here is an article how to configure the datadog for APM - https://docs.datadoghq.com/tracing/setup_overview/setup/go/?tab=containers#configure-the-datadog-agent-for-apm

**Code setup**
Based on datadog's examples and explanations, the mod

[2022-02-28 14:49] intl-man commented on #2118
@begmaroman - thanks for the summary. We're aware of the infra requirements and as mentioned in slack, it might pay to engage with the Cosmos community to look at how others are doing this (just a suggestion, that's all).

[2022-02-28 21:54] pandaring2you opened #2497 "Change how Peggy2.0 updates token registry for decimals"
DataInfra team needs this change to support Peggy 2.0

Datainfra team needs to ensure all tokens peggy imported are available in tokenregistry module.
Currently, ebrelayer will update tokenregistry on every successful import. This affects the decimal value we store. Although we cache the value in bridgebank smart contract, due to how mapping is implemented in solidity, the value is not cached if i

[2022-02-28 21:59] pandaring2you commented on #2319
@lanerjo - I spoke with @smartyalgo - he's happy to help set this up - can you connect with him on what you need?

[2022-03-01 11:27] Brando753 commented on #2277
Work started on this ticket

[2022-03-01 14:08] smartyalgo opened #2498 "Help chainops with deploying peggy2 on devnet (on-going)"
Working with @lanerjo . more to follow

[2022-03-01 14:15] smartyalgo commented on #2332
This ticket can be closed, this isnt Datapipeline's concern for now. Relevant tasks are https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/sifnode/2497

[2022-03-01 14:15] #2332 closed

[2022-03-01 17:44] pandaring2you commented on #2498
Need documentation on how to run devenv for lance. @smartyalgo - to create documentation

[2022-03-01 18:15] pandaring2you commented on #2384
@jzvikart to investigate with @canercandan to get tempnet to run

[2022-03-02 07:29] Jedi2002 commented on #2445
To get some clarity on requirements is the following accurate

# Requirements
- Add a new transaction to pause lock tx and burn tx .
    - Sender can only be admin
- Add new transaction to unpause lock and burn tx
    - Sender can only be admin

[2022-03-02 07:30] Jedi2002 commented on #2420
Adding some definition to requirements , is the following accurate

# Requirements

- Add a mapping in tokenregistry from Peggy 1.0 denoms to Peggy 2.0 denoms
- Add additional logic for incoming IBC transfers ( Transfer from escrow address to recipient )
    - To burn tokens with Peggy 1.0 denom
    - Mint equivalent tokens with Peggy 2.0 denom
    - Send Peggy 2.0 Tokens to recipient on Sifchain

[2022-03-02 13:26] jzvikart commented on #2340
I was referring to `test/integration/src/peggy2/test_eth_transfers.py:test_trolltoken_to_sifnode_and_back`. From what I can remember from when I was running this test myself, test was successful in passing the TrollToken from Ethereum to Sifchain, but it failed on the way back. @Brando753 said that this is not how it should be and that it should be investigated.

[2022-03-02 16:46] marsifi opened #2501 "Review PR-2500 (Stuck-Txs tool)"
Review [PR 2500](https://github.com/Sifchain/sifnode/pull/2500) which adds the `ibc-diag stuck-txs` command to sifnoded.

This is the command we used to generate the list of stuck terra txs.

It could be reused in a monitoring tool, or whenever we need to generate a list of stuck txs

[2022-03-02 18:06] pandaring2you commented on #2445
yup - basically, we want to stop any imports and exports from happening so that we can deploy the peggy 2.0 changes. if there are any other types of transactions that might affect sifnode while we're deploying, please call that out as well. this is all we could think of when meeting with tim

[2022-03-02 18:09] pandaring2you commented on #2420
thanks for outlining this so clearly. to be honest, i dont know if these are the exact steps, we only talked about it at a high level with @timlind and @Brando753 @smartyalgo

[2022-03-02 21:54] pandaring2you opened #2502 "Create User Documentation for Peggy 2.0"
1. How to import permissionless tokens in UI

Other potential use Cases: https://docs.google.com/spreadsheets/d/1iR11edTncz8X1BDrS3m4NP6Mpodl2mVzuxQ8Jn6SLus/edit#gid=0
Ex. https://docs.osmosis.zone/integrate/token-listings.html#_0-enabling-ibc-transfers

Will work with @badgerpawz

[2022-03-03 03:23] Jedi2002 commented on #2445
Alright that helps,
When we say pause does that mean
- Reject incoming Lock/Burn transactions ( Easier to implement )
- Add the transactions to a queue, which will be processed once the transactions are unpaused (Much more difficult to implement)

[2022-03-03 10:13] Brando753 commented on #2445
To clarify this ask, pauser functionality already exists in the smart contracts. It currently allows a pauser to pause or unpause this system. We would like you to spilt out the roles so that there are two RBAC roles one for pausing and one for unpausing. The theory is that there should be many people allowed to pause the bridge (trusted developers, relayers, witnesses, etc) but only a few could u

[2022-03-03 17:00] smartyalgo opened #2505 "Add peggy2 tests to Github action"
- Add integration tests
- Add state machine tests
- Remove deprecated tests

[2022-03-03 17:35] pandaring2you commented on #2445
@Brando753 - wait are you sure? i thought separating the pauser/unpauser roles on our smart contracts was JP's task: https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/sifnode/1910

This task we talked about with Tim about pausing imports/exports on the sifnode side.

[2022-03-03 18:14] pandaring2you commented on #2470
Blocked. Awaiting assistance from @lanerjo

[2022-03-03 20:45] pandaring2you commented on #2458
Ok, I think the old token runbook mightve been too overwhelming/out of date for folks, so I'm starting from scratch

https://www.notion.so/sifchain/March-2022-New-Token-Runbook-124af262545d460fa4cf56c1feb9d31a

Please either fill this out or message me the steps as I will track down each of you until this runbook is complete.

[2022-03-03 23:33] pandaring2you commented on #2460
Correction: @Brando753 to review tomorrow

[2022-03-03 23:34] pandaring2you commented on #2277
ETA tonight

[2022-03-03 23:36] pandaring2you commented on #2158
All test cases are now passing! After review from Brando, we should be wrapped with this task.

[2022-03-03 23:51] pandaring2you commented on #2404
@juniuszhou to review

[2022-03-03 23:52] pandaring2you commented on #2483
fixed in #2484

[2022-03-03 23:57] pandaring2you commented on #1059
@juniuszhou - to check on if we should be minting

[2022-03-03 23:58] pandaring2you commented on #2157
All tests passing. @smartyalgo has some cleanup by EOW for PR

[2022-03-03 23:59] pandaring2you commented on #2498
ETA Tomorrow

[2022-03-04 00:00] pandaring2you commented on #2435
Dae said these won't impact data infra. @smartyalgo to take a quick look, close out if too much time. lower pri

[2022-03-04 00:02] pandaring2you commented on #2505
anytime anyone pushed to peggy2, peggy2 integration tests will run

[2022-03-04 15:36] joneskm commented on #2501
Merged

[2022-03-04 15:36] #2501 closed

[2022-03-05 07:18] #2483 closed

[2022-03-05 07:18] juniuszhou commented on #2483
close the issue as the PR closed.

[2022-03-08 01:01] pandaring2you commented on #2319
@pandaring2you setup time to review peggy2 setup with @smartyalgo and devops team.

[2022-03-08 09:12] timlind commented on #2458
Whitelisted the following :
 cxft

 cuos

 cnewo

 cosqth

 cgala

 cpush

 cmc

 cinj

[2022-03-08 17:56] pandaring2you commented on #2446
not possible

[2022-03-08 17:56] #2446 closed

[2022-03-08 18:02] pandaring2you commented on #2497
IF we set all token decimals to zero, need to consult with frontend and dataservices, but probably the best solution

[2022-03-08 18:57] Brando753 commented on #2277
#2510 Was merged finishing this out.

[2022-03-08 18:57] #2277 closed

[2022-03-08 19:01] pandaring2you commented on #2458
Thanks, Tim! Spoke with @bksifchain - front end/Alan is pretty swamped, but will try to get to this end of week. When ready, Alan will coordinate with @caseyturnerarrington to launch pools with the market maker.

[2022-03-08 19:13] pandaring2you opened #2514 "Peggy 2.0 Migration Scripts - Cosmos"
Brando mentioned will probably need to work with Sifnode on this. Our point of contact will be Tanmay

From sprint planning meeting: https://docs.google.com/document/d/1kphqOOho7JEnfngsqHpDszYjUiusL-fiFCY8ub3FewY/edit#bookmark=id.j2d85us1h964

[2022-03-08 19:13] pandaring2you opened #2515 "Peggy 2.0 Migration Scripts - Smart Contracts"

[2022-03-08 19:16] pandaring2you opened #2516 "Peggy 2.0 Migration Testing - Smart Contracts"
Need to review and outline what tests are needed to ensure storage layout is same before and after

From sprint planning meeting: https://docs.google.com/document/d/1kphqOOho7JEnfngsqHpDszYjUiusL-fiFCY8ub3FewY/edit#bookmark=id.j2d85us1h964

[2022-03-08 19:17] pandaring2you opened #2517 "Peggy 2.0 Load Testing"
Tests to cover:
- Parallel locks and burns for erc20(usdt)/ethereum native (ETH,matic) tokens (Michael)
- Large number of transactions of tokens to a single wallet (Junius)
- Batching (Brando)

From sprint planning meeting: https://docs.google.com/document/d/1kphqOOho7JEnfngsqHpDszYjUiusL-fiFCY8ub3FewY/edit#bookmark=id.j2d85us1h964

[2022-03-08 19:18] #2162 closed

[2022-03-08 19:18] #2163 closed

[2022-03-08 19:19] pandaring2you opened #2518 "Group 3: Migration Scripts/Testing, Load Testing"

[2022-03-08 23:34] caseyturnerarrington commented on #2458
@pandaring2you so what is the final list of tokens that are ready to be listed on the FE? Is it what Tim mentioned in his comment, or is it in the main ticket description?

[2022-03-09 00:16] pandaring2you opened #2519 "GRPC siftool support for sifchain transactions (for load testing)"
Create python library to support communicating with sifnoded via grpc instead of command line.

This gives us more granular control over sequence number in order to invoke multiple tx at the same time

[2022-03-09 00:17] pandaring2you commented on #2519
Note: @Brando753 to chat with @jzvikart to see if GRPC support exists in siftool

[2022-03-09 00:21] pandaring2you commented on #2123
@banshee to take a look if this is now complete

[2022-03-09 00:36] pandaring2you commented on #2519
would need this to test 1K transactions from a single account

[2022-03-09 00:39] pandaring2you commented on #2517
Note: Sifnode needs to conduct load testing scenarios

[2022-03-09 01:19] pandaring2you opened #2520 "Sifnode Load Testing for Peggy 2.0"
Hey @Jedi2002 - The peggy team was going through the load testing plan for Peggy 2.0 and realized that Sifnode will likely want to conduct load testing given that Peggy 2.0 will be removing the whitelist and potentially thousands of new tokens will be in our system. Have you considered what type of load testing we'll need to conduct?

One potential scenario:
- Create a wallet with 1K, 10K, 100K, d

[2022-03-09 01:40] pandaring2you commented on #2458
@caseyturnerarrington
XFT 0xabe580e7ee158da464b51ee1a83ac0289622e6be ERC20
UOS 0xd13c7342e1ef687c5ad21b27c2b65d772cab5c8c ERC20
NEWO 0x1b890fD37Cd50BeA59346fC2f8ddb7cd9F5Fabd5 ERC20
CUDOS 0x817bbDbC3e8A1204f3691d14bB44992841e3dB35 ERC20
OSQTH 0xf1b99e3e573a1a9c5e6b2ce818b617f0e664e86b ERC20
GALA 0x15D4c048F83bd7e37d49eA4C83a07267Ec4203dA ERC20
PUSH 0xf418588522d5dd018b425E472991E52EBBeEEEEE ERC20

[2022-03-09 07:31] timlind commented on #2445
@Jedi2002 it should be a simple reject system when paused.

In terms of roles I think we'll just have one role that can pause and unpause, we could make them different addresses if need be but is that really necessary?

[2022-03-09 08:38] timlind commented on #2420
sounds about right @Jedi2002.

[2022-03-09 16:19] smartyalgo commented on #2498
Communicated with Lance, he has everything he needs.

[2022-03-10 13:52] smartyalgo opened #2523 "Restore future/peggy2"
We are seeing intermitten issue where future/peggy2 builds successfully, but python integration tests failed. This can be reproduced on the same machine but not across different machines.

[2022-03-10 13:56] smartyalgo commented on #2112
Moving to siftool, this ticket is no longer relevant

[2022-03-10 13:56] #2112 closed

[2022-03-10 14:06] smartyalgo opened #2524 "Investigate using Dependabot to update Peggy dependencies and pre-emptively detect incompatibility issues"
Build issues caused by incompatible updated dependencies has always hurt engineer dev experience.

One way to solve this is by using dependabot to update dependencies and check compatibility through github actions.

Deliverable:
- Verify that's what dependabot does
- Integrate dependabot for peggy dependencies

[2022-03-10 18:24] pandaring2you commented on #2422
Left to do: Need to resolve merge with develop.

[2022-03-10 21:26] caseyturnerarrington commented on #2458
@bksifchain so for this, im not totally clear on our plan here. Are you going to list them in a way where we can get them in a dedicated deployment so we can fund the pools? And then after funding turn them on in the actual consumer facing dex?

[2022-03-10 23:29] #1908 closed

[2022-03-10 23:32] pandaring2you commented on #2362
Duplicate of #2414

[2022-03-10 23:32] #2362 closed

[2022-03-10 23:34] pandaring2you commented on #2517
Need to break out into subtasks

[2022-03-10 23:37] pandaring2you commented on #2520
Testing needed prior to peggy 2.0. Depending on results, need to determine if it blocks peggy 2.0 launch

[2022-03-10 23:39] pandaring2you commented on #2520
hey @Jedi2002 - can you give this a look and let us know timing?

[2022-03-10 23:44] pandaring2you commented on #2519
@smartyalgo to sync with @jzvikart on support - should be top priority over siftool support for margin

[2022-03-10 23:47] pandaring2you commented on #2514
@smartyalgo to work on execution with @Jedi2002

[2022-03-10 23:49] pandaring2you commented on #2213
@smartyalgo to verify this is still an issue. prob not

[2022-03-10 23:51] pandaring2you commented on #2340
@Brando753 to take a look

[2022-03-10 23:53] pandaring2you commented on #2157
PR is out, awaiting review from @Brando753

[2022-03-10 23:54] pandaring2you commented on #2523
Michael: "was able to get away with git clean -fdx after several tries, not sure how to reproduce =\ "- @banshee to verify

[2022-03-10 23:59] pandaring2you commented on #2158
Awaiting final review from @Brando753

[2022-03-11 00:05] pandaring2you commented on #2414
1. Find what assets are on the registry
2. Calculate the peggy2 denom hash

[2022-03-11 00:13] pandaring2you opened #2527 "Peggy 2.0 Load Testing: Sifchain -> EVM: Parallel locks and burns for erc20(usdt)/ethereum native (ETH,matic) tokens"
- 1 cosmos sender x 1 token x many evm receivers (1k addresses for now),  1k tx per receiver

- 1 cosmos sender x many tokens (100 -> 1k -> 10k -> 100k) x 1 evm receiver

[2022-03-11 00:14] pandaring2you opened #2528 "Peggy 2.0 Load Testing: Large number of transactions of tokens to a single wallet"

[2022-03-11 00:14] pandaring2you opened #2529 "Load Testing: Batching"

[2022-03-11 00:19] pandaring2you commented on #2517
Broke out into subtasks

[2022-03-11 00:19] #2517 closed

[2022-03-14 23:59] Brando753 opened #2536 "Write Group 2 Tests in Python"
- [x] Add support for IBC mocked tokens in Siftool
- [x] Test support for Rowan Lock/Burn (Sifchain/Ethereum)
- [x] Test support for IBC Lock/Burn (Sifchain/Ethereum)

[2022-03-15 10:28] jzvikart commented on #2519
I've created the stubs from files in `proto/sifnode/ethbridge/v1/tx.proto`. I open the gRPC channel to port 9090 but when I try to call `sifnode.ethbridge.v1.Msg.Lock()` I get this error:
[code]
It seems that the problem is only with `Msg` service. For example, `Query` appears to be working OK, I can call `GetBlacklist` and `CrosschainFeeConfig` over gRPC successfully.

According to @timlind trans

[2022-03-15 16:40] pandaring2you commented on #2158
Junius to re-write tests into Python as these were more complicated than originally thought. In a separate task assigned to junius.

[2022-03-15 16:47] pandaring2you commented on #2519
Can go forward with this solution - possibly construct it in the command line.

[2022-03-15 16:50] pandaring2you commented on #2213
verified, no longer an issue

[2022-03-15 16:51] pandaring2you commented on #2523
@banshee no longer has issues

[2022-03-15 16:54] pandaring2you opened #2537 "Peggy 2.0 Load Testing: Minimal Load Test"
Not dependent on GRPC in siftool. Will still be useful as a general test and cheap to implement

[2022-03-15 16:54] pandaring2you commented on #2537
ETA this sprint

[2022-03-15 23:21] banshee commented on #2537
Worked fine and the code is committed to future/peggy2bulktransfers.

[2022-03-15 23:21] #2537 closed

[2022-03-16 00:03] pandaring2you commented on #2319
Lance to try Michael's workaround.

[2022-03-16 01:48] juniuszhou opened #2540 "Add admin account for registry"
To register some tokens, we need an admin account to send transactions. Yet it is not set in genesis

[2022-03-16 01:51] juniuszhou opened #2541 "Get denom from Ethereum LogBurn event"
For the cases like user burn rowan/ibc tokens on the Ethereum side, the denom can't be got from sifBridge + network id + contract. we need to get denom from events.

[2022-03-17 00:01] pandaring2you commented on #2319
Building docker image to implement workaround

[2022-03-17 17:08] pandaring2you opened #2545 "Investigate panic errors when deploying PMTP branch to tempnet"
Currently - Trying to deploy pmtp branch to tempnet, we have a panic error. Investigating with Lance

As described in #2546 here are the steps to reproduce the panic error:

Using sifnode repo with the branch `feature/pmtp`, deploying a tempnet instance against this branch throws a panic error with the following logs:

[code]

The error can be reproduced locally using the following commands:

[cod

[2022-03-17 17:13] pandaring2you opened #2546 "Determine appropriate steps for spinning up a new IBC chain"
Investigate panic errors on tempnet with Lance and determine the process for spinning up a new IBC chain going forward with approval by chainops.

Using sifnode repo with the branch `feature/pmtp`, deploying a tempnet instance against this branch throws a panic error with the following logs:

[code]

The error can be reproduced locally using the following commands:

[code]

[code]

[code]

[code]

[2022-03-17 17:18] pandaring2you commented on #2519
Proof of concept ETA next week.

[2022-03-17 17:39] canercandan commented on #2545
Updates: the steps used to reproduce the panic error are described in #2546

[2022-03-17 22:27] juniuszhou commented on #2414
Can't find out the contract for some denom, the list as "cdaofi,ceth,cmetis,cosqth,cratom,crfuel,csusd". there are lots of denom with prefix "x", don't know why we have these denoms

[2022-03-17 22:49] pandaring2you commented on #2541
has been reviewed, awaiting changes from junius

[2022-03-17 22:50] pandaring2you commented on #2540
brando reviewing

[2022-03-17 22:50] pandaring2you commented on #2158
#2540 #2543

[2022-03-17 22:57] pandaring2you commented on #2414
@Brando753 to find contract addresses

[2022-03-17 23:05] pandaring2you commented on #2414
investigate what are the x prefix tokens: https://sifchain.slack.com/archives/C01ERUNS2Q0/p1647352183671349

[2022-03-17 23:06] pandaring2you commented on #2460
got comments, working on changes

[2022-03-17 23:06] pandaring2you commented on #2460
ETA today

[2022-03-17 23:07] pandaring2you commented on #2515
daniel wrote scripts, trying to convert them to typeScript

[2022-03-17 23:11] pandaring2you commented on #2505
ETA EOD

[2022-03-17 23:12] pandaring2you commented on #2157
Reviewed, Michael need to address comments and ping Brando

[2022-03-17 23:13] pandaring2you commented on #2519
Michael done setting up load testing framework. Can now help out Jure with this task after merging current PRs

[2022-03-17 23:16] pandaring2you commented on #2419
Duplicate of Junius's task

[2022-03-17 23:16] #2419 closed

[2022-03-17 23:16] #2327 closed

[2022-03-21 16:32] marshsif commented on #2545
Assigning to Tim to help assess, and determine why localnet does not have this issue.

[2022-03-22 06:04] intl-man commented on #2545
@marshsif @canercandan - as discussed on Slack, here's a fix I wrote for the issue

https://github.com/Sifchain/sifnode/commit/e34f29049b4dad6b0c94f1bfbeb7cedb6b9c5746

[2022-03-22 10:18] timlind commented on #2545
Thanks @intl-man! I get a 404 on that link though.

[2022-03-22 14:04] intl-man commented on #2545
Link above fixed @timlind.

[2022-03-22 15:13] #2101 closed

[2022-03-22 15:27] #1961 closed

[2022-03-22 16:38] pandaring2you commented on #2158
Clearing up lock/burn side. Junius working on converting this to the burn side. ex import shiba -> sifchain (lock) -> bsc (burn original). Basically, any time a token is not native to the origin chain, burn it.

[2022-03-22 16:39] pandaring2you commented on #2515
Est 1 days work, ETA EOW. delayed for work for audit

[2022-03-22 16:48] pandaring2you commented on #2505
Realized additional revisions needed.

[2022-03-22 17:03] pandaring2you commented on #2497
@smartyalgo spoke with Dae - setting to zero will cause issues with dataservices. will also cause issues with liquidity calculations in sifnode (x/clp/keeper/msg_server.go) . the correct solution is for sifnode to refactor their code to accomodate 0 decimals. or warn users/have UI check token to not import tokens with 0 or 255 decimals.

@pandaring2you create task for sifnode to investigate what w

[2022-03-22 17:13] pandaring2you commented on #2519
issue: only one transaction works. might be that gas prices scale rapidly - will try increasing gas limit. checkout sifnode logs

[2022-03-22 18:30] #2360 closed

[2022-03-22 18:40] Brando753 opened #2550 "GetRegistry needs to be optimized for lookups when token registry has many tokens"
GetRegistry is pulling in every token in the token registry which is then used by many areas of the code to lookup just a single token. We need to make this an O(1) lookup time not O(n).

[2022-03-22 23:58] pandaring2you commented on #2319
Peggy 2 builds! Once Lance puts this into a docker image, will try pushing to devnet and test. But when we move to testnet, will have issues when testing migration due to required resolution between new denoms and old denoms. (READ: Need sifnode resource to take a look at this and resolve ASAP)

[2022-03-23 17:07] jzvikart commented on #2519
Hi, proof of concept load test is working now. The problem I had before was not due to fees or `sequence`, but due to `account_number` - this field also has to be set correctly when signing a transaction (in other words, signature is a function of both `account_number` and `sequence`).

Test summary:

Given that:
- I have an environment with a single validator
- I'm sending 100 "ethbridge burn" tr

[2022-03-23 18:02] Brando753 opened #2552 "Implement fixes to smart contract from audits Peggy 2.0"
Initial audit reports have bugs and gas optimizations that need to be fixed in smart contracts.

[2022-03-24 00:53] smartyalgo opened #2553 "Burning IBC Bridge Token from EVM side should use token's denom"
This is a bug in ebrelayer, when trying to burn a bridgetoken to import it into sifchain. The burn will treat this as a native erc20 token, and assign a sifBridge<networkDescriptor><contractAddress> denom for the EthBridgeClaim, which would cause Sifchain to mint the wrong token on Cosmos side.

Deliverable:
- Verify this is indeed an issue
- Fix: The correct behavior is to use the denom stored on

[2022-03-24 17:13] pandaring2you opened #2554 "Increase code coverage for PMTP to 90%"
PR #2551

[2022-03-24 17:29] pandaring2you commented on #2519
Basic load testing can be performed (burns) with this POC. Need feedback from @smartyalgo on the types of load tests that will be performed.

[2022-03-24 19:24] pandaring2you commented on #2414
mapping complete #2535. assigning to @iverc to now determine where in sifnode we will need to refactor code to use the mapping

[2022-03-25 00:02] pandaring2you commented on #2541
Brando to make changes ETA EOD to merge

[2022-03-25 00:03] pandaring2you commented on #2460
Brando to make changes ETA EOD

[2022-03-25 00:05] pandaring2you commented on #2536
Rowan Lock/Burn works

[2022-03-25 00:08] pandaring2you commented on #2540
code changes included in #2461

[2022-03-25 00:09] #2157 closed

[2022-03-25 00:13] pandaring2you commented on #2497
blocked - need feedback from Ivan on impact to sifnode of decimals being set to 0

[2022-03-25 08:30] sheokapr opened #2557 "Rewards Distribution-rounding bug"
For odd number of pools, example- 3 pools, rewards allocation per pool is coming as incorrect.
Rewards should be distributed in similar weights i.e. 20 in each pool.
But the actual distribution when running the code was 10 in each pool.
On further debugging, it seems this line of code in DistributeDepthRewards :
[poolDistribution := sdk.NewUintFromBigInt(poolDistributionDec.TruncateInt().BigInt()]

[2022-03-25 11:21] juniuszhou commented on #2460
close as pr merged.

[2022-03-25 11:21] #2460 closed

[2022-03-25 11:25] juniuszhou commented on #2540
close with pr merge.

[2022-03-25 11:25] #2540 closed

[2022-03-25 16:29] #2554 closed

[2022-03-25 17:58] pandaring2you opened #2559 "Setup Certik with Siftool environment"

[2022-03-26 14:13] juniuszhou commented on #2541
close with pr merged.

[2022-03-26 14:13] #2541 closed

[2022-03-26 14:16] juniuszhou commented on #2158
close it since we will not merge the code for group2 in typescript.

[2022-03-26 14:16] #2158 closed

[2022-03-29 04:19] Brando753 opened #2567 "Peggy 2 Smart Contracts Need to Support Cosmos Denom Lookups"
@juniuszhou identified that the Peggy 2 smart contracts for Bridge Tokens lookup Bridge Token address from the Token Address in the claim ignoring the network descriptor. This is a problem as EVM native assets use the Null address across multiple chains and would make the EVM assets fungible from the smart contracts point of view. The solution is to look up Bridge Token address from the Cosmos Den

[2022-03-29 16:27] banshee commented on #2148
We did this on the python side instead

[2022-03-29 16:27] #2148 closed

[2022-03-29 16:30] banshee opened #2570 "Fix reentrancy issue in smart contracts"
Elliot's review found a problem in multiLockBurn, fix it.

[2022-03-29 16:32] smartyalgo opened #2571 "Bugfix: Load issue in witness"
Witness is broadcasting synchronously on a per transaction basis, instead of batching/asynchronously.

The roundtrip to synchronous broadcasting is ~5 seconds, thus setting peggy's throughput to 0.2tps.

Deliverable:
- Update witness logic to increase tps
- Relevant tests

[2022-03-29 16:46] pandaring2you commented on #2570
(allows user to send multiple transactions with same sequence number)

[2022-03-29 16:47] banshee commented on #2570
https://github.com/Sifchain/sifnode/pull/2572

[2022-03-29 16:47] pandaring2you commented on #2571
ETA tomo

[2022-03-29 16:50] pandaring2you opened #2573 "Investigate what happens to CLPs when the number of decimals for a token changes"
this was raised by @smartyalgo - token can change their decimal value after import - will this be an issue in the CLP logic?

[2022-03-29 23:36] Brando753 opened #2575 "Refactor Peggy2 Smart Contracts Error Codes"
Error codes should be standardized across our smart contracts and documented as to what the errors are. For example `Err0` for one revert type `Err1` for the next.

[2022-03-30 23:12] pandaring2you commented on #2319
Need to finish config map starts and should be able to test tomorrow. @intl-man to organize a walkthrough by Monday for the team. Then move to minikube/tempnet. Then resolve sifnode issue and wait for PMTP release. Then push Peggy2 to testnet.

[2022-03-31 16:32] pandaring2you opened #2578 "Pay for gas fees in any currency via under the hood swap."
From @caseyturnerarrington for Peggy 2.2

### Is your proposal related to a problem?

(Write your answer here.)

### Describe the solution you'd like

(Describe your proposed solution here.)

### Describe alternatives you've considered

(Write your answer here.)

### Technical Considerations

Will this feature modify application state?
Will this feature require a genesis import migration?

### Add

[2022-03-31 16:34] pandaring2you opened #2579 "Peggy 2.2 Potential Features"

[2022-03-31 17:03] #2519 closed

[2022-03-31 17:59] caseyturnerarrington commented on #2578
love it!

[2022-04-01 00:12] pandaring2you commented on #2550
Not sure what to do about GetRegistry query calls - need feedback from @daechoi / @alanrsoares on how to optimize this.

[2022-04-01 00:14] pandaring2you commented on #2575
Not critical

[2022-04-01 00:18] pandaring2you commented on #2505
James' multilock burn test currently does not pass

[2022-04-01 00:19] pandaring2you commented on #2571
ETA tomo

[2022-04-01 00:31] pandaring2you opened #2583 "On first user export of an IBC token to EVM chain, automatically deploy a bridge token"

[2022-04-01 00:33] pandaring2you commented on #2462
Not an issue anymore

[2022-04-01 00:33] #2462 closed

[2022-04-01 22:02] Brando753 opened #2591 "Update or delete Readme in smart contract directory"
the readme file in smart-contracts is out of date and should be updated or removed.

[2022-04-01 22:34] pandaring2you opened #2592 "PMTP Regression Testing"
@pgoos - Created this task based off Brian's update in the pmtp slack group. feel free to close if there's another task already tracking your work on this.

[2022-04-03 08:05] juniuszhou commented on #2583
close it after pr merged.

[2022-04-03 08:05] #2583 closed

[2022-04-03 12:01] juniuszhou commented on #2536
close it after pr merged.

[2022-04-03 12:01] #2536 closed

[2022-04-03 12:53] #2552 closed

[2022-04-03 12:53] #2550 closed

[2022-04-04 05:01] juniuszhou commented on #2567
After the #2586 merged, the issue could be closed.

[2022-04-04 20:29] pandaring2you commented on #2573
The solution for this is part of issues#1376 , incorporated under same timing estimate (2weeks)

[2022-04-04 20:35] iverc commented on #2414
https://www.notion.so/sifchain/Mapping-of-Peggy-1-0-denoms-to-Peggy-2-0-denoms-1fb205684dbf4081916d294395a06f1d

[2022-04-04 20:36] pandaring2you commented on #2420
Need a script to regex replace denoms.

Denom hashing doc: https://peggy.sifchain.finance/#/Concepts

@iverc to take a look and provide estimate

[2022-04-04 20:38] pandaring2you commented on #2514
Est. 1 week

[2022-04-04 20:42] pandaring2you commented on #2414
Est. 1 week

[2022-04-04 21:06] pandaring2you commented on #2520
@khdegraaf We will need a partner on the testing team to suggest scenarios to test for to work with @iverc @joneskm . Do you have a suggestion on who would be best to work on this?

Known issue: Adding thousands of tokens in the registry, increasing the cost of queries/operations.

Potential solutions:
- Optimize queries/operations
- Add cost to import tokens.

@pandaring2you - Write up doc on pot

[2022-04-04 21:12] pandaring2you commented on #2445
Would need a different admin role in a separate module.
Est 1 week

[2022-04-05 16:53] #2570 closed

[2022-04-05 16:58] pandaring2you commented on #2528
PR #2580

[2022-04-05 17:07] pandaring2you commented on #2520
@jzvikart - to assess scenarios - order them by severity. determine severity and discuss solutions with sifnode/peggy teams

[2022-04-05 19:39] jzvikart commented on #2520
We can get a large number of tokens in a sif wallet in two ways:
- by importing them from ERC20 tokens
- by creating them in sifnoded genesis (requires parametrization of environment + starting environment from within the test itself)

Because those tokens are different (one are cosmos native and others are not), we need to test them with two different scenarios. For now, we will focus on EVM-nati

[2022-04-05 20:55] #2559 closed

[2022-04-07 17:04] pandaring2you commented on #2481
Much more complicated than initially estimated. PR out - should be wrapped up by EOW

[2022-04-07 17:08] pandaring2you opened #2609 "Unit Tests Broken in Github Action"
Needed for external parties and Gitcoin grants.

[2022-04-07 17:13] pandaring2you commented on #2354
Postpone for higher priorities

[2022-04-07 17:25] pandaring2you opened #2610 "Determine what needs to be tested with the UI for PMTP/Rewards release"
@pgoos to sync with @canercandan

[2022-04-08 00:08] pandaring2you commented on #2528
Have a PR that resolves concurrency issues #2611 that needs to be merged with jure's. Will additional tests.

[2022-04-08 00:12] pandaring2you commented on #2527
@smartyalgo to add outline of test cases

[2022-04-08 00:16] pandaring2you commented on #2571
Ready but want to talk with @juniuszhou , JP, Brandon as there is an architecture decision to be made. @smartyalgo to create PR and send over.

[2022-04-08 00:19] pandaring2you commented on #2505
@smartyalgo to create PR and merge changes

[2022-04-08 00:20] pandaring2you commented on #2404
Do not need to fix

[2022-04-08 00:20] #2404 closed

[2022-04-08 00:24] pandaring2you commented on #2515
Est Monday To go in with same PR as ofac task

[2022-04-08 00:24] #2340 closed

[2022-04-08 00:30] pandaring2you commented on #2514
@juniuszhou - can you take a look at your old code for this and determine if it is still viable?

[2022-04-10 14:36] jzvikart commented on #2520
I was able to deploy 5000 ERC20 tokens and send them to sif wallet and see them in the balance. This took about 3 hours on a 4CPU VM with 24G RAM. So far there were no surprises, but I will add some more logic to the test if the balances are actually working as expected (transfer, burn etc.)

With current approach, anything over 5000 denoms is problematic. Hardhat's performance deteriorates drasti

[2022-04-11 17:15] pgoos opened #2630 "Auto-cancel unlocked liquidity interferes with further unbonding requests"
Repro steps through FE:
1. Request unlock for 50%
2. View pending request
3. Allow request to expire
4. Request additional unlock for 60%
5. Receive transaction failure

![image.png](https://images.zenhubusercontent.com/609164048a6d7799b05f3c9b/025e4c58-5525-4ba4-a328-c6f30bc53a45)
This happens only for re-request of the amount of liquidity bigger than what would be left after removal from the ini

[2022-04-12 00:02] pandaring2you commented on #2319
Trying to get this working on minkube first. Won't touch tempnet until PMTP is released.

[2022-04-12 12:06] juniuszhou commented on #2514
I checked the migration code, it still works.

[2022-04-12 16:47] pandaring2you commented on #2420
Areas to consider: Bank Module, Token Registry, CLP Module

[2022-04-12 17:01] pandaring2you opened #2634 "Review bridge architecture"
End goal: Research on Peggy 3

[2022-04-12 17:07] pandaring2you commented on #2610
Worked on and Done

[2022-04-12 17:07] #2610 closed

[2022-04-12 17:14] pandaring2you commented on #2592
Need applause to conduct regression testing. Should start by Thursday.

[2022-04-12 17:16] pandaring2you opened #2635 "PMTP/Rewards Testing Support"
Should be finishing up soon. Being tracked by Brian in notion doc.

[2022-04-12 17:21] pandaring2you commented on #2481
Low pri - still a lot of code needs additional typing hints

[2022-04-12 18:12] pandaring2you commented on #2520
AI: Use geth for now, will try to push 10K denoms. First issue to resolve is timing out when increasing denoms

[2022-04-12 18:19] pandaring2you commented on #2505
est Tomorrow

[2022-04-12 18:20] pandaring2you commented on #2571
Spoke with James - decision made, ready to write PR

[2022-04-13 00:06] pandaring2you commented on #2319
Development flow: Siftool (no kubernetes)/Minikube (local development w/kubernetes), Tempnet (with your branch), Devnet (very similar to production), Testnet (staging)

Limitations: AWS limits on how many tempnets you can run

Could use flow charts for CI/CD. @pandaring2you - gather issues from teams/Marshall on tempnet

[2022-04-13 00:28] pandaring2you commented on #2319
Proposal:  Developers will create their own local net (siftool/minikube), then when ready, merge to feature-peggy2, then destroy old tempnet and re-deploy tempnet. When ready to be tested by other teams, cut a release to devnet. Dataservices might need their own persistent state devnet.

Might have extenuating circumstances where individual teams might have to deploy their own tempnets.

[2022-04-13 16:53] jzvikart commented on #2520
Results for 5000 denoms on 4 CPU with 24G RAM and using hardhat:

[code]

[2022-04-13 19:21] pandaring2you opened #2640 "Push Code to Halborn for continuous audit of Peggy 2 (On-going)"

[2022-04-14 06:21] juniuszhou commented on #2634
LockToDestination feature: If I want to transfer some eth from Ethereum to Binance, we need to lock it in smart contract, then burn it in sifnode side. We could add a new parameter in our lock function in bridge bank, user can choose the destination network and address. This way, Ethereum account can use sifnode to transfer token, even without sifnode account. Sifnode can work as token cross chain

[2022-04-14 06:55] iverc commented on #2520
@jzvikart thanks for sharing test results. it would be good to have same report for 1,000 tokens on the same CPU/RAM to compare

[2022-04-14 13:43] pandaring2you commented on #2520
@jzvikart - is this the feedback you needed from @iverc . if not, @iverc, please get on the phone with jure and unblock him.

[2022-04-14 16:40] jzvikart commented on #2520
@pandaring2you No, I would need @iverc to discuss how to test liquidity pools and internal sifnoded performance.

[2022-04-14 17:11] jzvikart commented on #2520
Results for 1000 denoms on 4 CPU with 24G RAM and using hardhat:

[code]

[2022-04-14 17:17] pandaring2you commented on #2520
If Ivan is unavailable, other folks on the Sifnode team might be freed up after release today. Perhaps Tim or Tanmay? Austin is on pto till tuesday.

[2022-04-14 17:44] pandaring2you commented on #2319
Note: Tempnet has ropsten and UI, Siftool does not.

[2022-04-15 00:10] Brando753 commented on #2514
Migration of Bank (denoms) and CLP will probably be assigned to @joneskm but he will need two weeks to get started on it.

[2022-04-15 00:13] Brando753 commented on #2527
@juniuszhou has started on the second test "1 cosmos sender x many tokens (100 -> 1k -> 10k -> 100k) x 1 evm receiver". Check with @jzvikart to pair on this issue.

[2022-04-15 00:14] Brando753 commented on #2571
Timeout on verifying `balance`, investigating why.

[2022-04-15 00:15] Brando753 commented on #2505
Breaking at unit test, having difficulty reproducing locally. Needs investigation.

[2022-04-15 04:52] jzvikart commented on #2520
Look here for hints about testing liquidity pools:
* `test/integration/src/py/test_liquidity_pools.py`
* `x/clp/handler_test.go`
* `x/clp/scenarios_test.go`

[2022-04-17 23:17] juniuszhou commented on #2528
close with pr merged.

[2022-04-17 23:17] #2528 closed

[2022-04-18 21:14] marshsif commented on #1706
may need to re-evaluate whether to proceed with this.

[2022-04-19 08:55] pgoos commented on #2630
Re-tested. Works as expected now. The issue can be closed.

[2022-04-19 08:55] #2630 closed

[2022-04-19 13:30] juniuszhou opened #2647 "fix issues found in audit for relayer"
fix issues found in audit for relayer

[2022-04-19 13:46] juniuszhou commented on #2647
fix all simple issue in audit for relayer, not touch TODOs in relayer yet.

[2022-04-19 15:10] juniuszhou opened #2649 "Limit the result from QueryProphciesCompletedRequest"
Currently, QueryProphciesCompletedRequest will return all completed prophecies. need to limit the amount.

[2022-04-19 15:13] juniuszhou opened #2650 "Add new parameter for relayer to specify the gprc address and port"
Now we use the localhost and default port, need to add a new parameter for relayer to specify the gprc address and port.

[2022-04-19 17:14] pandaring2you commented on #2546
Resolved

[2022-04-19 17:14] #2546 closed

[2022-04-19 17:22] pandaring2you commented on #2520
Jure chatted with Ivan. Want to do performance testing for Sifnode. Need to determine plan w/ @iverc for testing scenarios and solutions.

[2022-04-19 17:26] pandaring2you commented on #2592
Were not able to engage applause due to last minute front end changes. Piotr/Pradeep did manual testing and looks good. When Add liquidity modal changes are added next week, we'll utilize applause for regression testing.

[2022-04-19 18:29] pandaring2you opened #2651 "Remove double loop in smart contract for chain signatures"

[2022-04-19 18:30] pandaring2you commented on #2651
Scales the number of witnesses we have

[2022-04-19 18:39] jprupp commented on #2634
Reviewed Layer Zero, will review Axelar next.

[2022-04-19 18:39] jprupp commented on #2479
Currently reading Ethereum's Yellow Paper for background.

[2022-04-19 18:40] pandaring2you commented on #2515
ETA tomorrow

[2022-04-19 18:41] pandaring2you opened #2652 "Review Elliot Sifnode Remediations Needed"

[2022-04-19 18:43] pandaring2you commented on #2640
Target for EOW audit

[2022-04-20 00:03] pandaring2you commented on #2319
resolved https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/issues/1489 now should be able to deploy tempnet

[2022-04-20 13:27] timlind opened #2653 "MsgUnlockLiquidityRequest breaks amino conversion on FE"
**Current behavior**
The naming of MsgUnlockLiquidityRequest breaks convention used by FE for amino conversion (by using Request), breaking ledger txs without a front end fix.

Rename the message.

[2022-04-20 13:32] #2647 closed

[2022-04-20 14:28] juniuszhou opened #2656 "Fix a typo prophcies"
a type prophcies in proto buf definition.

[2022-04-20 21:59] banshee opened #2658 "peggy2: add-genesis-validators doesn't use the right power"
sifnoded add-genesis-validators adds validators with the wrong power.

[2022-04-20 23:51] pandaring2you commented on #2319
est EOW for minikube, next week into tempnet

[2022-04-21 05:24] Jedi2002 commented on #2445
Hey @marshsif , I can start on this task if required ,

# Requirements
Add a new transaction to pause lock tx and burn tx .
Add new transaction to unpause lock and burn tx

- Reject all lock and burn transactions when paused .
- Admin control over these transactions is required .

[2022-04-21 05:31] Jedi2002 commented on #2520
Goin throuigh the conversation , I am not sure why do we need to use ERC20 tokens ?
- Cant we just mint tokens with random names , for an address .
- Import that address to a wallet / Or use CLI
- And then try to write tests around it ?

We might need to paginate the bank balances query

[2022-04-21 13:41] marshsif commented on #2520
just noting that w should load test both large token set and LP set to see what the upper limits of the protocol currently are, identify areas where the code has scaling limitations, and make improvements. We'll want to identify our scaling limits and potentially set a restriction once those limits are reached.

[2022-04-21 13:52] marshsif commented on #2445
OK @Jedi2002 , please do, thanks!

[2022-04-21 15:42] juniuszhou opened #2661 "Remove TODO for wrong burnLockEvent"
when relayer parses the event incorrectly, it has nothing to do except to upgrade relayer to fix the wrong format.

[2022-04-21 17:12] #2635 closed

[2022-04-22 00:07] pandaring2you commented on #2571
ETA early next week

[2022-04-22 10:53] jprupp commented on #2479
Done a few Ethernaut challenges already.

[2022-04-22 17:14] smartyalgo commented on #2505
PR Created here
https://github.com/Sifchain/sifnode/pull/2664

[2022-04-23 10:33] juniuszhou commented on #2661
close it after #2662 merged.

[2022-04-23 10:33] #2661 closed

[2022-04-23 10:33] juniuszhou commented on #2656
close it after #2657 merged.

[2022-04-23 10:33] #2656 closed

[2022-04-23 10:34] juniuszhou commented on #2649
close it after #2655 merged.

[2022-04-23 10:34] #2649 closed

[2022-04-23 10:35] juniuszhou commented on #2650
close it after #2654 merged.

[2022-04-23 10:35] #2650 closed

[2022-04-24 09:08] pgoos opened #2670 "Transaction error of ‘signature verification failed; please verify account number (7748), sequence (21977) and chain-id (sifchain-1): unauthorized’"
Repro steps TBA

[2022-04-24 09:09] pgoos opened #2671 "Swap issue: Transaction error of ‘Received ill-formatted txhash. Must be non-empty upper-case hex’"
Repro steps TBA

[2022-04-25 16:07] smartyalgo opened #2673 "Halborn Audit Remediation 3.1 Integer overflow"

[2022-04-25 16:48] jzvikart commented on #2520
After discussing with @iverc:
- There are two ways to get a large number of tokens into a wallet: (1) through Peggy (slow, requires switching to geth instead of hardhat), and (2) through genesis (limited by size of command line / size of genesis JSON file)
- From sifnoded side of things all denoms are equivalent and it doesn't matter where they come from. We do need at least some ERC20 tokens sinc

[2022-04-25 23:44] pandaring2you commented on #2458
cc @jamesfjgill

[2022-04-25 23:44] pandaring2you commented on #2458
cc @jamesfjgill

[2022-04-26 05:05] Jedi2002 commented on #2445
This pr adds the pause functionality
https://github.com/Sifchain/sifnode/pull/2665

[2022-04-26 05:14] Jedi2002 commented on #2520
Hey, @jzvikart we need to write the data to the genesis.json to add via init-genesis.
Please see this example code: https://github.com/Sifchain/sifnode/blob/69f91616b5469bae7a2aa2f32770bfc3e400ef53/x/dispensation/genesis.go#L18
I don't think there is any limitation to adding the data through genesis unless we are talking about terabytes of data.

Send should not be a problem logically, since we sp

[2022-04-26 13:47] bksifchain commented on #2670
@pgoos  - how did you get this error? What type of transaction? Can you pls provide more details

[2022-04-26 13:58] bksifchain commented on #2671
@pgoos - can you verify is this has been resolved with 2.6.9?

[2022-04-26 17:41] smartyalgo commented on #2673
PR Created at https://github.com/Sifchain/sifnode/pull/2680

[2022-04-26 18:05] smartyalgo commented on #2435
PR here: https://github.com/Sifchain/sifnode/pull/2681

[2022-04-26 18:07] pandaring2you commented on #2527
@jzvikart - if you're blocked on 720, can you take a look at this with Junius?

[2022-04-26 18:23] pandaring2you commented on #2640
Target to send new commit hash: tomorrow

[2022-04-26 18:27] #2479 closed

[2022-04-26 18:40] Jedi2002 commented on #2445
Hey @pandaring2you Who from peggy team should I tag for pr reviews? The sifnode team is busy with pmtp work rn , it might make more sense for someone from preggy to be reviewing the pr's

[2022-04-26 19:09] bksifchain commented on #2671
@pgoos  - could you see if there is an associated dev-rels support ticket for this issue? If not, I think we can close

[2022-04-26 23:55] pandaring2you commented on #2319
Currently testing Peggy2. Est EOD tomorrow to deploy minikube

[2022-04-28 07:07] Jedi2002 commented on #2420
Will the CLP pools also need to migrate to the newer denoms?
I am assuming it would be needed @pandaring2you Can you help add more tasks for migration of CLP pools to new denoms as well.

I don't think adding the clp migration to this task makes sense, as that would make this quite big

[2022-04-28 17:15] pandaring2you opened #2691 "Sifnode Load Testing of CLP module"
Use cases:
- With Peggy 2.0, users will be able to create X number of liquidity pools.
- CLP transactions (add liquidity, swapping, remove liquidity)
- RPC endpoint load limits

We need to test if this is going to break anything.

@iverc - Can you outline where you think there might be weaknesses here and test cases

[2022-04-28 17:36] pandaring2you commented on #2592
Had the applause regression cycle. No major issues remain.

[2022-04-28 17:36] #2592 closed

[2022-04-28 23:58] juniuszhou commented on #2514
https://github.com/Sifchain/sifnode/pull/2688 created to handle the clp.

[2022-04-29 00:07] pandaring2you commented on #2527
PR has been reviewed (tests written), should be able to merge today. @jzvikart will then run tests

[2022-04-29 00:11] pandaring2you commented on #2652
@juniuszhou to outline remaining issues:
EX. - In relayer code: How to set gas price and limit (non critical)

[2022-04-29 00:18] pandaring2you opened #2693 "Merge Develop to Future/Peggy2"

[2022-04-29 00:19] #2693 closed

[2022-04-29 00:24] pandaring2you commented on #2505
Merged!

[2022-04-29 00:24] #2505 closed

[2022-04-29 00:28] pandaring2you commented on #2515
Manifest files from last bridgebank upgrade were deleted. Will need to recreate manifest files. Delayed due to Replace hardhat w/Geth task.

[2022-04-29 00:47] pandaring2you commented on #2445
perhaps @juniuszhou cc @Brando753

[2022-04-29 01:00] pandaring2you commented on #2691
Note, rpc endpoint testing is already be covered by https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/issues/1544

[2022-04-29 01:03] pandaring2you commented on #2545
assuming this is done. please re-open if im mistaken

[2022-04-29 01:03] #2545 closed

[2022-04-29 13:13] #2671 closed

[2022-04-29 23:15] pandaring2you opened #2700 "Testing"

[2022-04-29 23:21] pandaring2you opened #2701 "Testing"

[2022-05-01 09:36] jprupp commented on #2701
Ohh, the mysterious ticket.

[2022-05-01 14:44] juniuszhou opened #2702 "Miss cosmosDenom in generating prophecy id"
Currently, some data items not involved in computing the prophecy id. the most important one is cosmosDenom. For instance, the attacker may use high value token's denom to replace the correct one. we may generate prophecy id by using all data items in claimData.

[2022-05-01 21:32] jzvikart commented on #2520
Adding denoms via `sifnoded add-genesis-account` is problematic because both shell and OS have limited maximum command line length. Practical usability limit is about 10k denoms (assuming short denom names).

Adding denoms via `genesis.json` works somewhat better. In this way I could create a wallet with 100k denoms. However, sifnoded takes significantly more time to start, being CPU-bound:
- for

[2022-05-02 18:35] Brando753 commented on #2434
Upon review, the prophecy ID is very much required as it's the only data being signed by the witnesses to verify prophecy claims. Recommend verifying that all data is the prophecy claim is hashed in the prophecy id.

[2022-05-02 20:38] smartyalgo opened #2707 "siftool run-env does not run make install in smart-contract directory"
First time running siftool run-env on a newly cloned repo fails, because siftool doesnt run make install in smart-contracts/ directory

[2022-05-03 05:20] Jedi2002 commented on #2520
Yeah that is correct it should. Adding via genesis is just a simple way of simulation.

I had expected the bank balances query to be slow. Could you try wrapping the query a paginated version. That would solve this problem.

[2022-05-03 05:21] Jedi2002 commented on #2520
Also would be curious to know if you managed to test send TX, to see of its impacted in any way?

[2022-05-03 07:22] jzvikart commented on #2707
@smartyalgo What would be the condition to run `make install`? Ideally, this condition should be something we can check very fast (<1s) and would avoid calling it if it's not needed.

[2022-05-03 08:15] jzvikart opened #2712 "Siftool enhancements"
When @Brando753 was trying to set up siftool on a new machine (specifically, Pop! OS) he encountered several problems with initial setup of dependencies:
- Python 3 with venv support (venv might be separate)
- docker
- go 1.18 + GOPATH
- abigen
- python3 development packages for compiling native binaries (python headers, gcc, etc.)
- node
- `npm install` in smart/contracts (see #2707)
- `make` on

[2022-05-03 17:21] pandaring2you commented on #2527
@jzvikart to check to see if we can run this test without geth

[2022-05-03 17:29] pandaring2you opened #2714 "Set pmtp policies as array input"

[2022-05-03 17:29] pandaring2you opened #2715 "Set pmtp policies as array input"

[2022-05-03 17:30] pandaring2you commented on #2715
PR #2709

[2022-05-03 17:37] jzvikart commented on #2529
This batch is a generalization of the "fat wallet" load test that I'm currently working on (#2520). In other words, the tests mentioned in #2529 are really just one scenario that we run with different parameters to produce different types of load. I already started to parametrize #2520 in a way that would make #2529 almost a free meal, and it would make a lot of sense for me to do it. However, my

[2022-05-03 18:07] pandaring2you commented on #2434
High priority for auditing timelines

[2022-05-03 18:08] Jedi2002 commented on #2520
We don't need to fetch all the tokens when querying the balance. We can just paginate the query.

[2022-05-03 18:09] pandaring2you commented on #2434
Est. EOD

[2022-05-03 18:10] pandaring2you commented on #1951
Planning on doing this as a team after Replace Hardhat. @smartyalgo to take an initial look at how much work this will be.

[2022-05-03 18:14] pandaring2you opened #2716 "Merge Peggy2 into Develop"
Once we fix the prophecy id, we will check with PMTP guys and then go forward with merge.

[2022-05-03 18:46] pandaring2you opened #2717 "Set datadog alert for gas spikes (ETH transactions dropping due to low relayer balances)"
There was a gas spike (ape coin?), and relayer balances were too low and had transactions rejected.

Issue: https://github.com/Sifchain/Support-Tickets/issues/342 (Transactions need to be replayed by Brent. )

This won't be an issue in Peggy 2.

Going forward: Set datadog alert on gas spikes

[2022-05-03 18:48] pandaring2you commented on #2123
Nice to have. But do not need until we look at watcher tests.

[2022-05-03 18:52] pandaring2you commented on #2651
Code changes in relayer done. Issues in setting up multiple witnesses.

[2022-05-03 20:55] #2673 closed

[2022-05-03 23:51] pandaring2you commented on #2319
Helmchart mostly working. Almost there.

[2022-05-04 18:37] pandaring2you commented on #2420
@Jedi2002 to add details to task and break out work and timing after reviewing code.

[2022-05-04 18:42] pandaring2you commented on #2520
@jzvikart - to focus on testing
@Jedi2002 - to prioritize pagination

[2022-05-04 18:49] #2514 closed

[2022-05-05 00:21] juniuszhou opened #2725 "avoid querying the BridgeBank and CosmosBridge addresses each time"
Now, relayer queries the BridgeBank and CosmosBridge addresses each time. we can store them in memory.

[2022-05-05 06:25] juniuszhou commented on #2702
close it after #2704 merged.

[2022-05-05 06:25] #2702 closed

[2022-05-05 15:10] juniuszhou opened #2727 "If peggy support grpc gateway"
During reviewing the code, I found a "// TODO: Register grpc gateway". Seems the other x module defined the grpc like
    option (google.api.http).get = "/sifchain/clp/v1/pool/{symbol}";
Peggy team need to discuss it and to see if we should also add it.
If no, I will remove the todo.
If yes, need to implement it in protobuf file.

[2022-05-05 15:15] juniuszhou commented on #2652
continue working on it, already fork three new issues. # 2702 # 2726 and #2727

[2022-05-05 16:36] #2717 closed

[2022-05-05 16:36] intl-man commented on #2717
Done:

https://app.datadoghq.com/monitors/70704455

[2022-05-05 23:53] pandaring2you commented on #2319
Working with @smartyalgo to launch

[2022-05-06 00:23] pandaring2you commented on #2652
@Brando753 to take a look at #2726 on junius's solution to keep address in memory.

[2022-05-06 00:30] pandaring2you commented on #2727
resolved: not needed

[2022-05-06 00:30] #2434 closed

[2022-05-06 00:41] juniuszhou commented on #2727
remove this todo via commit ab28ab28ba0112dd98c189c8c4605563974d430b.

[2022-05-06 00:41] #2727 closed

[2022-05-06 18:30] pandaring2you opened #2733 "Enable new IBC tokens to be exported to Ethereum"

[2022-05-09 18:22] pandaring2you commented on #2520
@Jedi2002 - @timlind wanted to get an answer from you on whether or not we should include pagination in sifnode or extend the SDK.
@alanrsoares - Could also use answers from FE to determine we need to build a new endpoint for the bank balances.
@jzvikart  - Do you have an outline of your test plan for @timlind ?

[2022-05-09 18:23] pandaring2you commented on #2520
Current estimate: 0.5 weeks (once we get the above questions answered)

[2022-05-09 19:04] jprupp commented on #2634
Interesting @juniuszhou, It's a good thing to put in the wishlist for the next version of Peggy, if we have one.

[2022-05-09 19:07] jprupp commented on #1910
https://github.com/Sifchain/sifnode/pull/2737

[2022-05-09 19:07] #2634 closed

[2022-05-09 19:08] #2700 closed

[2022-05-09 19:08] #2701 closed

[2022-05-09 19:08] Brando753 commented on #1910
This issue may be more work than initially assumed, will need to think through how to make this upgrade safe, comment in PR.

[2022-05-09 19:31] pandaring2you commented on #2514
Remainder of this task covered in https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/sifnode/2420

[2022-05-09 19:36] jzvikart commented on #2520
@pandaring2you @Jedi2002 How is pagination related to this? As far as the results of my test go, there is no problem that needs to be fixed here. The problem (if anything) is with large genesis file.

[2022-05-09 19:48] kingpinXD commented on #2520
Pagination will just add an option to query limited data, instead of querying all denoms.
It wont improve query performance which will still remain O(N) .

[2022-05-09 19:51] Jedi2002 commented on #2520
Pagination will just add an option to query limited data, instead of querying all denoms.
It wont improve query performance which will still remain O(N) .

[2022-05-09 21:26] bksifchain commented on #2458
@pandaring2you @sifmoon - can you confirm which tokens we need to list? We are picking this task up soon

[2022-05-09 21:31] sifmoon commented on #2458
Let's just list them all. I don't see the harm in that right now. @bksifchain

[2022-05-10 03:55] Jedi2002 commented on #2420
Adding the task list

### Tokenregistry - 3 days
- Modify token registry to store  Peggy 1.0 denom
- Store old denoms in the field instead of removing them .
- Check tokenregistry usage to verify logic

### IBC  - 1 week
- Modify OnRecvPacket to burn Peggy 1.0 denom and mint peggy 2.0 Denom

### CLP - 1 week
- Add migrator for CLP pools
- Add migration of reward period to new denom

### Bank - 1 -

[2022-05-10 04:00] Jedi2002 commented on #2520
Also @timlind @pandaring2you
I feel for adding the migrator for bank as mentioned here https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/sifnode/2420

we would need to create a wrapper for the sdk bank anyways , we can include paginating the query as part of the same task

[2022-05-10 09:31] alanrsoares commented on #2458
NEWO address was wrong,
correct address should be 0x98585dFc8d9e7D48F0b1aE47ce33332CF4237D96 according to coingecko

[2022-05-10 12:51] alanrsoares commented on #2458
https://github.com/Sifchain/sifchain-ui/pull/662

[2022-05-10 17:00] pgoos commented on #2670
@bksifchain this didn't come from me. I was pasting it from Casey's google doc after pmtp release. Think the issue can be closed as it seems no one is complaining about it anymore.

[2022-05-10 17:00] #2670 closed

[2022-05-10 17:41] pandaring2you opened #2744 "Determine full testing plan for margin"

[2022-05-10 17:43] pandaring2you commented on #2715
waiting on @timlind to review

[2022-05-10 18:30] pandaring2you commented on #2445
@smartyalgo is currently reviewing

[2022-05-10 18:31] pandaring2you commented on #2515
Scripts reporting that our contracts are not upgradeable. Investigating

[2022-05-10 18:36] pandaring2you commented on #2571
Core problem: Moving funds from sifchain to ethereum transaction rate is 1 txn/min. But when tested in codebase, this is processed much faster.

Current investigation: Trying to determine if assigned prophecies are being mined.

[2022-05-10 18:38] pandaring2you commented on #2640
Michael's fix is in. Will give halborn commit hash today.

[2022-05-10 19:42] bksifchain commented on #2458
@pgoos - please let us know the best way to test these

[2022-05-11 12:36] juniuszhou opened #2747 "Move NetworkIdentity into protobuf"
Define the NetworkIdentity in protobuf, then we can use the automatically generated encode/decode methods. instead of choose the big/small endien to wrap it.

[2022-05-11 23:55] pandaring2you commented on #2319
Having issues finding smart contract addresses created by minikube. will investigate and sync with peggy if needed.

[2022-05-12 13:24] juniuszhou opened #2751 "Remove white list flag in token metadata"
In peggy2.0, we don't need the white list flag in token's metadata, we can remove it.

[2022-05-12 23:47] pandaring2you commented on #2319
Up and running in minikube! will move it to tempnet next

[2022-05-13 00:22] pandaring2you commented on #2652
All remediations awaiting review

[2022-05-13 00:27] pandaring2you commented on #2651
@banshee - do you have an update on this?
@smartyalgo says we needed to make changes to siftool to enable multiple witnesses

[2022-05-13 00:29] pandaring2you commented on #2652
@Brando753 to take a look at audit report and post remaining remediations needed.

[2022-05-13 00:45] pandaring2you commented on #2571
Continuing to investigate Cosmos issue

[2022-05-13 21:31] pandaring2you commented on #2458
just a reminder: @alanrsoares / @bksifchain - please coordinate the launch of these tokens in the UI with @sifmoon and marketing as they will want to time this with community announcements/market makers

[2022-05-13 21:35] pandaring2you commented on #2520
hey guys - following up on this @timlind - did you get the answers you need? @jzvikart - were you able to talk to @Jedi2002 about the pagination?

[2022-05-13 21:38] timlind commented on #2520
Yes, @Jedi2002 and I noticed the pagination is already part of the SDK so that can be considered done.

@jzvikart are you planning on testing with a large number of pools next?

[2022-05-15 02:48] jzvikart opened #2758 "sifnoded RPC denial of service for UI requests"
### Background
This issue described here was originally described in ticket #1460, but was later separated and moved to its own ticket when we discovered that it's about a different scenario. Nevertheless, we should keep in mind that both issues might be somehow connected and that one might benefit from solutions/fixes for the other. Anybody working on this ticket should also be familiar with the

[2022-05-15 03:10] jzvikart opened #2759 "Improve sifnoded logging"
- `sifnoded` logs are full of noise, e.g. a seemingly unimportant and constant event is logged 10 times per second on an INF level. This makes troubleshooting very difficult.
- When a RPC request fails, its entire response is dumped in a log. This can cause denial of service.
- We need to make sure that the logs do not contain any sensitive information.
- The logging level does not match event sev

[2022-05-16 10:07] jzvikart commented on #2520
@timlind I'm not aware of any planned Peggy-related test that covers pools at this time. If you think this is something that we should tested, let's get in touch and design a test scenario and test cases. We should probably open a separate ticket for that.

[2022-05-16 10:12] jzvikart commented on #2520
About pagination - to prevent against DoS-style attacks there should probably be a built-in limit to maximum number of results per request. Also, from the point of caller it would have to be clarified what happens if the balances change between requests for individual pages.

[2022-05-16 16:47] pandaring2you commented on #2319
Tempnet should be ready in a few days for peggy team to take a look.

[2022-05-16 17:41] pandaring2you opened #2762 "Refactor Sifnode for files unrelated to CLPs (all use cases)"
Perform a full refactor of the codebase to deal with code quality and technical debt. Log changes and improvements and corresponding pull requests in further comments.

[2022-05-16 17:56] pandaring2you opened #2763 "Refactor Sifnode for files unrelated to CLPs (for Peggy 2 use case)"
------- Review the below with Kevin ----
Refactor files outside of CLP using decimals value in token registry (?'s and O's in CLP Decimals doc).
https://docs.google.com/document/d/1cPLX06NwW5NTscMCXPEM23pv8yDR6sqK6IVgtv1qi3I/edit#heading=h.hl2d0tszpe94

Need to determine if we need to cut a release timed with Kevin/Alex's work in issues#1376. Probably dont need new tests, but can modify existing t

[2022-05-16 17:56] pandaring2you opened #2764 "Refactor Sifnode"

[2022-05-16 18:06] pandaring2you commented on #2763
@timlind investigated the above and there should not be any issues with decimals outside the clp module

[2022-05-16 18:34] pandaring2you commented on #2414
@timlind #2535.

[2022-05-16 18:51] jzvikart commented on #2758
@pandaring2you Please reassign.

[2022-05-16 18:51] jzvikart commented on #2759
@pandaring2you Please reassign.

[2022-05-17 10:47] juniuszhou opened #2768 "Fix the incorrect prophecy removal"
From the audit, the judgment used to remove outdated prophecy is wrong.

[2022-05-17 15:02] sheokapr commented on #2458
hey @pgoos , @Brando753 -- are smart-contracts for these new tokens deployed to sifchain-devnet-1 or sifchain-testnet-1?
I tried querying whitelisted tokens in devnet and testnet but not getting any of the above contracts in the response.

$ yarn -s --cwd /home/psheokand/sifnode/smart-contracts integrationtest:whitelistedTokens --bridgebank_address 0x96DC6f02C66Bbf2dfbA934b8DafE7B2c08715A73 --json

[2022-05-17 17:44] pandaring2you commented on #2759
Hey @marshsif - @jzvikart wrote up this task after going through the sifnode logs. not super hi pri, but putting in your backlog as something that can be useful for developers and testing.

[2022-05-17 18:01] pandaring2you opened #2770 "Review Certik Audit and Create Sub Tasks"
[https://app.zenhub.com/files/295857030/b56a1fc8-f741-4b21-9d57-098fc39e63a8/download](https://app.zenhub.com/files/295857030/b56a1fc8-f741-4b21-9d57-098fc39e63a8/download)

[2022-05-17 18:03] pandaring2you opened #2771 "Review Denali Audit and Create Tasks"
[https://app.zenhub.com/files/295857030/b53f4eff-f9e1-489d-8f8a-c80114c36d3e/download](https://app.zenhub.com/files/295857030/b53f4eff-f9e1-489d-8f8a-c80114c36d3e/download)

[2022-05-17 18:05] jprupp commented on #2477
I'm already fairly advanced through this, so I'll mark it as done, because at this point I'll be looking at this documentation for reference only.

[2022-05-17 18:05] #2477 closed

[2022-05-17 18:07] jprupp commented on #2480
I'm moving to Sifnode, so I will close this for now.

[2022-05-17 18:10] jprupp commented on #1910
This seems to require deeper understanding of EVM internals, such that the new version of the contract can extend the existing contract's state without breaking anything. I don't want to mess with that stuff, so I'm going to drop this ticket.

[2022-05-17 18:12] pandaring2you commented on #2640
Sent commit hash last week.

[2022-05-17 18:34] pandaring2you opened #2772 "Write script to deploy peggy 2"
To fillin details:
1) Pause chain
2) Upgrade contracts
3) Test gov proposal

[2022-05-17 18:37] pandaring2you commented on #2651
Dependent on PR to setup the siftool/ts environment. Waiting on final approval from @smartyalgo

[2022-05-17 18:39] pandaring2you commented on #2420
Tokenregistry and IBC parts are done. CLP and Bank module - WIP. est 2 weeks.

[2022-05-18 15:05] juniuszhou opened #2776 "unit test failed for smart contract in future/peggy2 branch"
we got lots of error as
Error: VM Exception while processing transaction: reverted with custom error 'InvalidSigner(0)'

[2022-05-19 18:34] smartyalgo opened #2784 "Update sifnoded docker build to not include smart contract build steps"
CI/CD Build step for sifnoded docker image on `future/peggy2` branch is failing because
1. It is trying to run `make .proto-gen` , which tries to run docker container inside a docker build context, to which docker is not available
2. It tries to run make install for smart-contracts, which isnt required for sifnoded docker image

Deliverables:
- Updated dockerfile to exclude unneeded `make` steps
-

[2022-05-20 06:35] Brando753 opened #2786 "Release New Git Tag of security patches"
Release the second set of security patches to get Peggy 2.0 ready for ship and third party review.

[2022-05-20 06:36] #2786 closed

[2022-05-20 06:37] Brando753 opened #2787 "Release New Tag of Security Patches For Peggy 2"
Create a new tag of security patches for getting Peggy 2.0 ready for final release and third-party review.

[2022-05-20 13:26] bksifchain commented on #2105
@ghuznee - This is an old issue about the dashboards. Assigning to you for now, but feel free to close if its no longer relevant

[2022-05-23 07:55] juniuszhou opened #2793 "Decide if keep addExistingBridgeToken"
The method is used in peggy1.0, we may remove it if not needed anymore. Add unit test for it if keeping it.

[2022-05-23 07:57] juniuszhou commented on #2793
please @Brando753 @smartyalgo give your suggestion if we should remove the method.

[2022-05-23 08:21] Brando753 commented on #2793
In theory, this is no longer needed; however, if we do deploys on the testnets that accurately mimic production, it will still be needed for Rowan. I say we leave it in.

[2022-05-23 09:36] juniuszhou commented on #2793
Ok, I will add a unit test for it.

[2022-05-23 11:50] juniuszhou commented on #2776
close it after #2778 merged.

[2022-05-23 11:50] #2776 closed

[2022-05-23 19:14] Brando753 commented on #2458
@sheokapr If this is on a public network with the exact same addresses, you can run the same whitelist script as I described above in this ticket:

Of course whoever does this has to have the privileged accounts on testnet and it only makes sense to do this if those smart contracts exist on those networks. We don't deploy those contracts, so to use them they would have to be published by their dep

[2022-05-23 19:18] jzvikart commented on #2458
I'm on it.

[2022-05-24 11:00] #2787 closed

[2022-05-24 17:54] pandaring2you opened #2802 "List Gravity Token on FrontEnd"

[2022-05-24 17:56] pandaring2you opened #2803 "List Cerberus Token on FrontEnd"

[2022-05-24 18:10] pandaring2you commented on #2498
Lance:
@sifnode I am working on getting peggy2 to deploy to tempnet.
I am running into an issue on the docker build step for sifnoded.
Working on the future/peggy2 branch
When running make build-image I am having the following issue:
  make IMAGE_TAG=25b5f51 BINARY=sifnoded build-image
  make IMAGE_TAG=25b5f51 BINARY=ebrelayer build-image
Which calls:
docker build -t sifchain/sifnoded:25b5f51 -f .

[2022-05-24 18:13] pandaring2you commented on #2651
Has been merged

[2022-05-24 18:13] #2651 closed

[2022-05-24 18:21] pandaring2you commented on #2520
@pandaring2you to follow up on meeting

[2022-05-24 19:12] pandaring2you opened #2804 "Fix Protobuf generation"
Protobuf generation is broken because we didn't version our image.

#2791

[2022-05-24 19:14] pandaring2you commented on #2804
@marshsif - FYI

[2022-05-25 00:16] juniuszhou commented on #2751
close it after #2752 merged.

[2022-05-25 00:16] #2751 closed

[2022-05-25 17:47] timlind commented on #2520
@jzvikart There is a PR up for the pagination work which can be tested https://github.com/Sifchain/sifnode/pull/2794

[2022-05-25 18:27] jzvikart commented on #2520
@timlind Thanks, I saw it, but have you also seen my questions there?

[2022-05-26 13:44] pgoos commented on #2458
There is a last piece we need from @timlind  to whitelist these tokens on devnet. I have everything ready for testing (thanks to @jzvikart ) so once that is whitelisted final testing should be smooth. Expecting to finalize all by EOD

[2022-05-26 17:25] pandaring2you commented on #2458
Most tokens whitelisted. @canercandan Will test using an automated script to whitelist tokens in testnet with @pgoos for future tokens. And if the key is not sensitive, store in a common private repo. When chainops re-creates the accounts for devnet/testnet - ask them to store the keys in a specified place.

[2022-05-26 17:35] pandaring2you commented on #2520
having mining issues due to hardhat <> geth transition. tried investigating geth's development mode but does not work with ebrelayer. not sure where to go from here (we did 10K tokens with hardhat, but can't do 100K with geth) - need to discuss/decide with Peggy team.

want to try to switch our tests to geth, but brando does not think this is a priority.

[2022-05-26 19:22] smartyalgo opened #2809 "Siftool exit does not work close all instances of witnesses when there are multiple witnesses"
To reproduce:
On current `future/peggy2` branch, use siftool run-env to spin up peggy2 stack
You should see 1 instance of relayer, and 2 instances of witnesses
When press ENTER to exit, one witness remains running after the exit returns

[2022-05-27 00:10] pandaring2you commented on #2652
@Brando753 to outline TODOs via tickets

[2022-05-27 00:18] pandaring2you commented on #2520
Jure/Brandon spoke - Jure will continue to investigate, will want to conduct this test with geth as geth is production

[2022-05-27 00:20] pandaring2you commented on #2498
PR out to fix branch in review with Lance (to review when returns from PTO)

[2022-05-27 00:22] pandaring2you commented on #2640
hold off on next handoff to halborn until we resolve Certik, Halborn, Denali remediations (est early next week).

[2022-05-27 00:27] pandaring2you commented on #2420
https://www.notion.so/sifchain/IBC-migration-for-peggy-2-c2b9159722654588b6c062298ec70bc8

[2022-05-27 00:32] pandaring2you commented on #2445
@Jedi2002 - Do you know how much more time it would take to address Michael's comments on the PR and close this out? Would be great to close this out after your work on .45 rather than hand this off to another dev

[2022-05-27 00:52] pandaring2you opened #2811 "List Evmos in UI"
Problem: EVMOS is operates a little differently. Their rpc doesn't behave the same as other cosmos networks so stargate wont work because it cant sign the transaction bc there is no pub key returned in the response

Solution: Create custom client to handle evmos with the UI

[2022-05-27 15:54] pgoos commented on #2458
Balances are loaded now in UI![image.png](https://images.zenhubusercontent.com/609164048a6d7799b05f3c9b/9bfa292a-8590-4dfa-9ef3-1d724416696b)
Having issues with Ropsten now experiencing insane gas fees (~20eth) which results in all transactions to fail. Need to wait until that is resolved 🛑

[2022-05-27 20:01] canercandan commented on #2715
duplication of #1592

[2022-05-27 20:01] #2715 closed

[2022-05-27 20:06] canercandan commented on #2470
this is the current script I am using for creating pools on any environment:

[code]

along with some env variables:

[code]

[2022-05-27 20:07] canercandan commented on #2470
let me know if you need more inputs from my end thanks @pandaring2you

[2022-05-28 03:31] jzvikart commented on #2809
I have already fixed this as part of #2520 that I'm currently working on. Because it's a trivial fix it would be more work than it's worth to put it in a separate branch/PR.

[2022-05-28 03:34] jzvikart commented on #2211
Peggy2 is already using siftool for integration tests.

[2022-05-28 03:55] jzvikart commented on #2759
`ebrelayer init-witness` currently produces massive amounts of logs. Order of magniture is 30GB/h.

Most of the lines look completely useless:
[code]
@Brando753 @smartyalgo @banshee Can you confirm that the above can be removed? If so, I can try do do it myself.

@pandaring2you Since this ticket is currently assigned to @marshsif and `ebrelayer` is technically part of peggy, please co-assign and/o

[2022-05-28 04:10] jzvikart commented on #2520
At the moment, adjusting the block gas limit seems feasible for 100k denoms, but I'm running into limitations of geth crashing because of out-of-memory and disk filling up because of ebrelayer logs. Still investigating, I might need to shift to running the tests on AWS if my machine can't handle it.

[2022-05-28 06:28] smartyalgo commented on #2759
Yea that is safe to move to debug, or commented out

[2022-05-30 11:54] jprupp commented on #2804
This is fixed already by versioning the image. I've also done some work on supporting modern Buf, and getting Swagger documentation generated too.

[2022-05-30 11:54] #2804 closed

[2022-05-30 19:48] sifmoon commented on #2458
@pgoos @pandaring2you @ghuznee Just wanted to check in here on where things stand at the moment.

[2022-05-30 23:11] pandaring2you commented on #2458
I think Piotr is asleep by now. Will check in with him tomorrow morning.

[2022-05-31 01:39] pgoos commented on #2458
@sifmoon @pandaring2you we have 6 tokens ready, 2 with issues and 1 that still needs to be covered (tested). Here's detailed testing spreadsheet https://docs.google.com/spreadsheets/d/1jx71hYOHx6F6Mw4AYLUB_gUtUzkxMRNqBKezTJkW28g/edit#gid=775344880

The issue with `NEWO` may be because of a wrong contract address registered somewhere on peggy side. See the latest @alanrsoares comment

correct addre

[2022-05-31 12:55] intercos opened #2822 "Please delete this issue"
Please delete this issue.

[2022-05-31 14:29] juniuszhou opened #2823 "TODO move some query to oracle module"
"// TODO: move to x/oracle"
Now we put all queries in ethbridge module, we need to decide if necessary to move to oracle module.

[2022-05-31 14:33] juniuszhou opened #2824 "TODO more meaningfule name in instrumentation module"
"// TODO: rename, there isnt ethereumprophecyclaim, is there?"
"// TODO: Ambiguous naming"
Some events name in  instrumentation module not well named.

[2022-05-31 14:38] juniuszhou opened #2825 "TODO check peggy version in oracle genesis test"
"// TODO peggy2merge need to look at peggy2 version"
need test both genesis for v39 and v42.

[2022-05-31 14:40] juniuszhou opened #2826 "TODO use the from flag for lock/burn"
"// TODO: Rather use standard --from arg in integration test, and remove first redudant param in this command."
we use the first parameter as sender address from the very begining of sifnode project. --from arg is stardard way to get it.

[2022-05-31 14:44] juniuszhou opened #2827 "TODO sifcrg not work"
"// TODO Fix me. This is broke with the new update and is having go mod issues"
seems we don't need it anymore, we may just remove it.

[2022-05-31 14:50] juniuszhou opened #2828 "TODO registry contract test in relayer"
"// TODO: Implement test once current Truffle deployment is refactored (test requires a deployed smart contract)"
it seems not the unit test, depends on external service.

[2022-05-31 14:54] juniuszhou opened #2829 "TODO correct sifchain gas usage in relayer"
"// TODO this WithGas isn't correct
// TODO we need to investigate retries
// TODO we need to investigate what happens when the transaction has already been completed"

we need figure out the correct gas setting for sifndoe transaction.

[2022-05-31 16:01] Brando753 opened #2830 "CosmosBridge Length Caching"
Contract Bridgebank.sol line 774. The length of the array is read multiple times in the
function, once per for loop iteration. Additionally, the iterator uses the compiler’s built-in version of SafeMath which is gas inefficient.

[2022-05-31 16:01] Brando753 commented on #2830
Issue resolved in current future/peggy2.

[2022-05-31 16:01] #2830 closed

[2022-05-31 16:03] Brando753 opened #2831 "BridgeBank Gas Optimizations on batchSetBridgeToken"
Contract BridgeBank.sol line 730. The length of the array is read multiple times in the
function, once per for loop iteration. Additionally, the iterator uses the compiler’s built-in version of SafeMath which is gas inefficient.

[2022-05-31 16:04] Brando753 commented on #2831
Issue resolved in latest future/peggy2.

[2022-05-31 16:04] #2831 closed

[2022-05-31 16:42] Brando753 opened #2832 "Gas Optimization onlyNotBlocklisted"
Contract CosmosBank.sol line 35. The bytecode for the new BridgeToken that is created is stored in the CosmosBank smart contract, greatly increasing its size. Deployments of new BridgeTokens are expensive because of this large amount of bytecode that will have to be deployed.

[2022-05-31 16:42] Brando753 commented on #2832
Wont Fix.

[2022-05-31 16:42] #2832 closed

[2022-05-31 16:44] Brando753 opened #2833 "Bridge Token Deploy Gas Optimization"
Contract CosmosBank.sol line 35. The bytecode for the new BridgeToken that is created is stored in the CosmosBank smart contract, greatly increasing its size. Deployments of new BridgeTokens are expensive because of this large amount of bytecode that will have to be deployed.

[2022-05-31 16:45] Brando753 commented on #2833
Will increase token transfer and lookup gas costs, Wont Fix.

[2022-05-31 16:45] #2833 closed

[2022-05-31 16:46] Brando753 opened #2834 "Gas Optimization Prophecy ID"
Contract CosmosBridge.sol function getProphecyID has unused function parameters that waste gas with unnecessary operations.

[2022-05-31 16:49] Brando753 opened #2835 "batchRemoveFromBlocklist Gas Optimization"
Contract Blocklist.sol line 105. The length of the array is read multiple times in the function, once per for loop iteration. Additionally, the iterator uses the compiler’s built-in version of SafeMath which is gas inefficient.